<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>
















<div class="page-title d-flex">

    <h4>Editorial</h4>

    <section id="top_header" class="top-header">
    
        <div class="btn-wrap">
        <div [ngClass]="FormSectionStatus ? 'create-new active' : 'create-new'" (click)="createNewSurveyTemplate()">
            <fa-icon class="addicon" [icon]="faPlus"></fa-icon>
            <span>Survey</span> 
        </div>
    
        
        <div [ngClass]="TemeplateViewSectionStatus ? 'surveys active' : 'surveys'" (click)="viewSurveyTemplates()">
            <fa-icon [icon]="faListAlt"></fa-icon>
            <span>Surveys</span> 
        </div>

        <div [ngClass]="FormSectionStatus ? 'create-new active' : 'create-new'" (click)="clearThreat();addThreatModal.show()">
            <fa-icon class="addicon" [icon]="faPlus"></fa-icon>
            <span>Threat</span> 
        </div>

        <div class="nav-tab" (click)="getThreats();">
            <fa-icon [icon]="faFire"></fa-icon>
            <span>Threats</span> 
        </div>
        
        <div class="nav-tab" (click)="addTrackerReasonModal.show()">
            <fa-icon [icon]="faComments"></fa-icon>
            <span>Tracker Reasons</span> 
            
        </div>
        <div class="nav-tab" (click)="addIndustriesModal.show()">
            <fa-icon [icon]="faBuilding"></fa-icon>
             <span>Industries</span> 
        </div>

    </div>
    </section>   
</div>

















<article class="article">






<section class="body-section">









<section *ngIf="FormSectionStatus" class="survey-create-section">


    <div class="heading">
        Survey Form
    </div>

    <ul class="progressbar">
        <li [ngClass]="formTwoStatus || formThreeStatus || formFourStatus ? 'active' : ''" > <span>Survey Name</span></li>
        <li [ngClass]="formThreeStatus || formFourStatus ? 'active' : ''"><span>Question</span></li>
        <li [ngClass]="formFourStatus ? 'active' : ''"><span>Question Type</span></li>
        <li ><span>Finish</span> </li>
    </ul>
    



    <!-- Survey Name -->
    <form  [ngClass]="formOneStatus ? 'form' : 'form hide' ">
        <div class="form-group">
            <label for="CurrentSurveyInput">Survey Name</label>
            <input type="text" name="CurrentSurveyInput" [(ngModel)]="CurrentSurveyInput" placeholder="Enter survey name">
        </div>

        <div class="btn-wrap d-flex">
           <button [disabled]="CurrentSurveyInput === ''" class="btn btn-sm btn-success ml-auto" (click)="toFormTwo()">Proceed</button>
        </div>
    </form>




    <!-- Question  -->
    <form [ngClass]="formTwoStatus ? 'form' : 'form hide' ">
        <div class="form-group">
            <label for="CurrentSurveyInput">Question</label>
            <input type="text" class="" name="CurrentQuestionInput" [(ngModel)]="CurrentQuestionInput" placeholder="Question">
        </div>

        <div class="btn-wrap d-flex">
            <button class="btn btn-sm btn-secondary mr-auto" (click)="toFormOne()">Back</button>
           <button [disabled]="CurrentQuestionInput === ''" class="btn btn-sm btn-success ml-auto" (click)="toFormThree()">Proceed</button>
        </div>
    </form>




    <!-- Question Type  -->
    <form  [ngClass]="formThreeStatus ? 'form' : 'form hide' ">
        <div class="option-item">
            <h4>Question Type</h4>

            <div class="grid">
            <div class="form-groupp">
                <input type="radio" name="openQuestionInput" value="true" (click)="checkQuestioType('true')" [(ngModel)]="openQuestionInput" required>
                <label for="openQuestionInput" >Open</label>
            </div>
            <div class="form-groupp">
                <input type="radio" name="openQuestionInput" value="false" (click)="checkQuestioType('false')"  [(ngModel)]="openQuestionInput" required>
                <label for="openQuestionInput">Closed</label>
            </div>
            </div>
        </div>

        <div class="option-item" [hidden]="!ChoicesStatus">
            <h4>Multiple Choice ?</h4>
            <div class="grid">
            <div class="form-groupp">
                <input type="radio" name="multipleChoiceInput" value="true" [(ngModel)]="multipleChoiceInput">
                <label for="">Yes</label>
            </div>
            <div class="form-groupp">
                <input type="radio" name="multipleChoiceInput" value="false" [(ngModel)]="multipleChoiceInput">
                <label for="">No</label>
            </div>
            </div>
        </div>

        <div class="option-item">
            <h4>Answer Type</h4>
            <div class="grid">
            <div class="form-groupp">
                <input type="radio" name="choiceTypeInput" value="string" [(ngModel)]="choiceTypeInput">
                <label for="">String</label>
            </div>
            <div class="form-groupp">
                <input type="radio" name="choiceTypeInput" value="number" [(ngModel)]="choiceTypeInput">
                <label for="">Number</label>
            </div>
            <div class="form-groupp" [hidden]="!ChoicesStatus">
                <input type="radio" name="choiceTypeInput" value="boolean" [(ngModel)]="choiceTypeInput">
                <label for="">Boolean</label>
            </div>
            </div>
        </div>

        <div style="display: flex;">
        <div class="option-item" style="float: right;">
            <h4>Can Skip?</h4>
            <div class="grid">
            <div class="form-groupp">
                <input type="checkbox" name="skipInput" value="yes" (change)="optionsOnchange()" [(ngModel)]="skipInput">
            </div>
            </div>
        </div>

        <div class="option-item" style="float: left;">
            <h4>Linked?</h4>
            <div class="grid">
            <div class="form-groupp">
                <input type="checkbox" name="linkedInput" value="yes" (change)="optionsOnchange()" [(ngModel)]="linkedInput">
            </div>
            </div>
        </div>
        </div>

        <div class="form-group">
            <label>Question Position</label>
            <input type="number" name="positionInput" [(ngModel)]="positionInput">
    
        </div>


        <div class="btn-wrap d-flex">
            <button class="btn btn-sm btn-secondary mr-auto" (click)="toFormTwo()">Back</button>
            <button class="btn btn-sm btn-success ml-auto" (click)="toFormFour()">Proceed</button>
        </div>
    </form>




    <!-- Choices -->
    <form [ngClass]="formFourStatus ? 'form' : 'form hide' ">
        <div *ngIf="openQuestionInput =='false'" class="form-group">
            <label>Assossiated Threat</label>
            <div class="d-flex">
            <select (change)="fetchLinkedAnswers()"  name="CurrentChoiceInputThreat" [(ngModel)]="CurrentChoiceInputThreat" >
                <option value="" disabled selected hidden >Select</option>
                <option *ngFor="let trt of AllThreats" [value]="trt._id" >{{trt.name}}</option>
            </select>
            <button class="btn btn-sm btn-outline-warning" (click)="addThreatModal.show()">Add&nbsp;&nbsp;Threat</button>
            </div>
        </div>

        <div *ngIf="openQuestionInput == 'false' && CurrentChoiceInputThreat" class="preview-questions d-flex"><p><strong>Populated choices from chosen threat</strong></p></div>
        <div class="preview-questions d-flex" *ngFor="let item of CurrentChoicesArr; let x = index">
            {{x + 1}}. {{item.answer}} <fa-icon class="ml-auto text-danger" (click)="removeAns(x)" [icon]="faTrash"></fa-icon>
          </div>
         
        <div *ngIf="openQuestionInput == 'false'" class="form-group">
            <label>Choices</label>
            <div class="d-flex">
                <input type="text" name="CurrentChoiceInput" [(ngModel)]="CurrentChoiceInput" placeholder="Type Choices">
                <button class="btn btn-sm btn-success text-light" (click)="addChoice()"><fa-icon [icon]="faPlus"></fa-icon></button>
            </div>
           
        </div>

    
        <div class="btn-wrap d-flex">
            <button class="btn btn-sm btn-secondary mr-auto" (click)="toFormThree()">Back</button>
            <button *ngIf="newSurveyStatus" class="btn btn-sm btn-success ml-auto" (click)="nextQuestion()">Add this question</button>
            <button *ngIf="editSurveyQuestionStatus" class="btn btn-sm btn-success ml-auto" (click)="editedQuestionSave()">Save Question</button>
            <button *ngIf="addSurveyQuestionsSatus" class="btn btn-sm btn-success ml-auto" (click)="saveAddedQuiz()">Save Question</button>
            
            
         </div>

    </form>



    <div class="list-section">

        <div *ngIf="CurrentSurveyInput" class="head d-flex">
            <h4 class="mr-auto">{{CurrentSurveyInput}}</h4>
            <button *ngIf="CurrentQuestionArray.length > 0" class="btn btn-sm ml-auto" (click)="saveSurveyTemplate()">Save Survey</button>
        </div>

        <div class="question-wrap" *ngFor="let item of CurrentQuestionArray">
            <div class="question">{{item.question}}</div>
            <div class="choices">
                <span *ngFor="let ans of item.choices; let x = index">{{x + 1 }}. {{ans.answer}}</span>
          
            </div>
        </div>

    </div>







</section>




<section class="templates-section" *ngIf="TemeplateViewSectionStatus">

    <div class="card-group">
        <div class="card"  *ngFor="let item of AllSurveys">  
          
            <div class="card-body">
                <fa-icon [icon]="faListAlt"></fa-icon>
                <h4>{{item.surveyName}}</h4>
            </div>
            <div>
                <fa-icon class="editIcon" [icon]="faEye" (click)="viewSurvey(item.surveyName, item._id)"></fa-icon>
                <fa-icon class="deleteIcon" [icon]="faDelete" (click)="prompSurveyDelete(item._id)"></fa-icon>
            </div>

        </div>

        <div class="card" *ngIf="AllSurveys.length === 0">
            <div class="card-header">

            </div>
            <div class="card-body">
                <fa-icon [icon]="faListAlt"></fa-icon>
                <h4>No Template</h4>
            </div>
           
        </div>
    </div>

</section>


<section class="templates-section" *ngIf="ThreatsViewSectionStatus">

    <div class="card-group">
        <div class="card" *ngFor="let item of AllThreats">  
            <div class="card-header">

            </div>
            <div class="card-body">
                <fa-icon [icon]="faListAlt"></fa-icon>
                <h4>{{item.name}}</h4>
            </div>
            <div [ngClass] = "item.level">
                <p>{{item.level}}</p>
            </div>
            <div>
                <fa-icon class="editIcon" [icon]="faEye" (click)="viewThreat(item)"></fa-icon>
                <fa-icon class="deleteIcon" [icon]="faDelete" (click)="prompThreatDelete(item._id)"></fa-icon>
            </div>

        </div>

        <div class="card" *ngIf="AllThreats.length === 0">
            <div class="card-header">

            </div>
            <div class="card-body">
                <fa-icon [icon]="faListAlt"></fa-icon>
                <h4>No Threats</h4>
            </div>
           
        </div>
    </div>

</section>













<section class="Questions-listing" *ngIf="QuestionsViewStatus">

    <div class="head d-flex">
        <button class="btn btn-sm mr-auto" (click)="viewSurveyTemplates()"> <fa-icon style="color: white;" [icon]="faBackward"></fa-icon> </button>
        <h4 class="mr-auto">{{TemplateNameOnView}}</h4>
        <button class="btn btn-sm ml-auto btn-success" (click)="addQuiz()"> <fa-icon [icon]="faPlus"></fa-icon></button>
    </div>
   
    <div class="question-wrap"  *ngFor="let item of TemplateQuestions; let i = index">
        <div class="question d-flex w-100">{{item.question}} 
            <div class="ml-auto d-flex">
                <fa-icon style="cursor: pointer;" [icon]="faEdit" class="ml-3" (click)="editQuestion(item)"></fa-icon>
                <fa-icon style="cursor: pointer;"  [icon]="faTrash" class="ml-3" (click)="deleteQuestion(item)"></fa-icon>
            </div>
        </div>
        <div class="choices">
            <span *ngFor="let ans of item.choices; let x = index">{{x + 1 }}. {{ans.answer}}</span>
        </div>
    </div>
     
 </section>

</section> 

<section class="navigation-section">

    <div class="body">

        <div class="search-wrap">
            <div class="input-wrap d-flex">
                <fa-icon [icon]="faSearch"></fa-icon>
                <input type="text">
            </div>
           
        </div>

        <div [ngClass]="FormSectionStatus ? 'nav-tab active' : 'nav-tab'" (click)="createNewSurveyTemplate()">
            <fa-icon [icon]="faPlus"></fa-icon>
            Survey
        </div>

        <div [ngClass]="TemeplateViewSectionStatus ? 'nav-tab active' : 'nav-tab'" (click)="viewSurveyTemplates()">
            <fa-icon [icon]="faListAlt"></fa-icon>
            Surveys
        </div>
        
        <div [ngClass]="ThreatSectionStatus ? 'nav-tab active' : 'nav-tab'" (click)="clearThreat(); addThreatModal.show()">
            <fa-icon [icon]="faPlus"></fa-icon>
            Threat
        </div>

        <div [ngClass]="ThreatsViewSectionStatus ? 'nav-tab active' : 'nav-tab'" class="nav-tab" (click)="getThreats()">
            <fa-icon [icon]="faFire"></fa-icon>
            Threats
        </div>
        
        <div class="nav-tab" (click)="addTrackerReasonModal.show()">
            <fa-icon [icon]="faComments"></fa-icon>
            Tracker Reasons
        </div>
        <div class="nav-tab" (click)="addIndustriesModal.show()">
            <fa-icon [icon]="faBuilding"></fa-icon>
            Industries
        </div>

    </div>

    <div>

    </div>

</section>









</article>
















<div bsModal  #addThreatModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addThreatModal" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title ">Threat</h4>
            <button type="button" class="btn close" (click)="closeaddThreatModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <form class="form">
                <div class="form-group">
                    <label for="threatName">Threat Name</label>
                    <input name="threatName"  [(ngModel)]="threatName">
                </div>
                <div class="form-group">
                    <label for="threatType">Classifier</label>
                    <select name="threatType" [(ngModel)]="threatType">
                        <option value="" disabled selected hidden >... select</option>
                            <option value=0>Value</option>
                            <option value=1>Range</option>
                    </select>
               
                </div>
                
                <div *ngIf="threatType" class="classifier-wrap" >

                        <div class="preview-classifier d-flex" *ngFor="let item of threatLevels; let x = index">
                            {{x + 1}}. {{item.category}}<fa-icon class="ml-auto text-danger" (click)="removeFromThreatLevels(x)" [icon]="faTrash"></fa-icon>
                        </div>
                        <div class="form-group">
                                <label for="threatLevel">Threat Level</label>
                                <select name="threatLevel" [(ngModel)]="threatLevel">
                                    <option value="" disabled selected hidden >... select</option>
                                        <option  value="Low">Low</option>
                                        <option  value="Medium">Medium</option>
                                        <option  value="High">High</option>
                            </select>
                        </div>
                        <div *ngIf="threatType == '0'" class="form-group">
                            <label for="threatValue1">Value</label>
                            <input  name="threatValue1" [(ngModel)]="threatValue1">
                        </div>
                        <div *ngIf="threatType == '1'" class="form-group">
                        <div style="display: flex; ">
                            <div style="float: left; padding-right:10px;">
                                <label for="threatValue1">From</label>
                                <input  name="threatValue1" [(ngModel)]="threatValue1">
                            </div>
                            <div style="float: right; padding-left:10px;">
                                <label for="threatValue2">To</label>
                                <input  name="threatValue2" [(ngModel)]="threatValue2">
                            </div>
                        </div>
                        </div>

                        <div class="form-group">
                            
                            <label for="threatRecom">Recommendations</label>
                            <textarea name="threatRecom" [(ngModel)]="threatRecom"></textarea>
                        </div>
                        <div class="btn-wrap">
                            <button [disabled]="threatLevel === '' || threatValue1 === '' || threatRecom === ''" class="btn btn-sm" (click)="addThreatTypes()">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        
                        </div>
                </div>     
            </form>
        </div>
        <div class="modal-footer">
     
            <button *ngIf="!isEditThreatModal" [disabled]="threatName === '' || threatLevels.length === 0" type="button" class="btn btn-sm btn-confirm" (click)="addThreat()">Add</button>
            <button *ngIf="isEditThreatModal"  [disabled]="threatName === '' || threatLevels.length === 0" type="button" class="btn btn-sm btn-confirm"  (click)="editThreat()">Edit</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div bsModal  #addTrackerReasonModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addTrackerReasonModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title"> Tracker Reasons</h4>
            <button type="button" class="btn close" (click)="addTrackerReasonModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <div class="wrap d-flex" *ngFor="let item of AllTrackerReasons">
                <h4>{{item.reason}}</h4>
                <fa-icon [icon]="faTrash" (click)="deleteTrackerReason(item._id)"></fa-icon>
            </div>
            <input type="text" name="trackerReasonInput" [(ngModel)]="trackerReasonInput" placeholder="Type here">
        </div>
        <div class="modal-footer">
            <button [disabled]="trackerReasonInput === ''" type="button" class="btn btn-confirm" (click)="addTrackerReason()">Add</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div bsModal  #addIndustriesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addIndustriesModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title"> Industries Types</h4>
            <button type="button" class="btn close" (click)="addIndustriesModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <div class="wrap d-flex" *ngFor="let item of AllIndustrys">
                <h4>{{item.industryName}}</h4>
                <fa-icon [icon]="faTrash" (click)="deleteIndustry(item._id)"></fa-icon>
            </div>
            <input type="text" name="industryInput"[(ngModel)]="industryInput" placeholder="Type here">
        </div>
        <div class="modal-footer">
            <button [disabled]="industryInput === ''"  type="button" class="btn btn-confirm" (click)="addIndustries()">Add</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal  #deletePromptModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog deletePromptModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Delete?</h4>
            <button (click)="closeDeleteModal()" type="button" class="btn close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <div class="wrap d-flex">
                <fa-icon [icon]="faWarning" style="color: yellow; size: 40px;"></fa-icon>
                <p>{{warningMessage}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button  class="btn btn-confirm cancel" (click)="closeDeleteModal()">Cancel</button>
            <button  type="button" class="btn btn-confirm delete" (click)="delete()">Delete</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->















