<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>






<div class="page-title d-flex">

    <h4>Editorial</h4>

    <section id="top_header" class="top-header">
        <div class="search-wrap">
            <div class="input-wrap d-flex">
                <fa-icon [icon]="faSearch"></fa-icon>
                <input type="text">
            </div>
            
        </div>
    
        <div class="btn-wrap">
        <div [ngClass]="FormSectionStatus ? 'create-new active' : 'create-new'" (click)="createNewSurveyTemplate()">
            <fa-icon [icon]="faPlus"></fa-icon>
            <span>Create</span> 
        </div>
    
        
        <div [ngClass]="TemeplateViewSectionStatus ? 'surveys active' : 'surveys'" (click)="viewSurveyTemplates()">
            <fa-icon [icon]="faListAlt"></fa-icon>
            <span>Surveys</span> 
        </div>
    </div>
    </section>   
</div>








<article class="article">








<section class="body-section">









<section class="form-section" *ngIf="FormSectionStatus">

    <div [ngClass]="SurveyFormStatus ? 'survey-template' : 'survey-template hide'">
        <div class="title">
            <h4>Template Name</h4>
        </div>

        <form class="form " >

            <div class="form-group">
                <input type="text" name="CurrentSurveyInput" [(ngModel)]="CurrentSurveyInput" placeholder="Enter survey name">
            </div>


            <div class="btn-wrap">
               <button class="btn btn-sm" (click)="nextToQuestion()">Next</button>
            </div>

        </form>

    </div>




    <div [ngClass]="QuestionFormStatus ? 'question-template' : 'question-template hide'" >
        <div class="title">
            <h4>Questions</h4>
        </div>

        <form class="form">

            <div class="form-group">
                <input type="text" class="" name="CurrentQuestionInput" [(ngModel)]="CurrentQuestionInput" placeholder="Question">
            </div>

            <div class="options-wrap">

                <div class="option-item">
                    <h4>Quiz Type</h4>

                    <div class="form-group">
                        <input type="radio" name="openQuestionInput" value="true" (click)="checkQuestioType('true')" [(ngModel)]="openQuestionInput" required>
                        <label for="openQuestionInput" >Open</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="openQuestionInput" value="false" (click)="checkQuestioType('false')"  [(ngModel)]="openQuestionInput" required>
                        <label for="openQuestionInput">Closed</label>
                    </div>
                </div>

                <div class="option-item" [hidden]="!ChoicesStatus">
                    <h4>Multiple Choice ?</h4>

                    <div class="form-group">
                        <input type="radio" name="multipleChoiceInput" value="true" [(ngModel)]="multipleChoiceInput">
                        <label for="">Yes</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="multipleChoiceInput" value="false" [(ngModel)]="multipleChoiceInput">
                        <label for="">No</label>
                    </div>
                </div>
                <div class="option-item" >
                    <h4>Answer Type</h4>

                    <div class="form-group">
                        <input type="radio" name="choiceTypeInput" value="string" [(ngModel)]="choiceTypeInput">
                        <label for="">String</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="choiceTypeInput" value="number" [(ngModel)]="choiceTypeInput">
                        <label for="">Number</label>
                    </div>
                    <div class="form-group" [hidden]="!ChoicesStatus">
                        <input type="radio" name="choiceTypeInput" value="boolean" [(ngModel)]="choiceTypeInput">
                        <label for="">Boolean</label>
                    </div>
                </div>
                <div class="option-item input-text">
                    <h4>Position</h4>

                    <input type="number" name="positionInput" [(ngModel)]="positionInput">
             

                </div>

            </div>


            <div class="choices-wrapper" [hidden]="!ChoicesStatus">
          
                <div class="preview-questions" *ngFor="let item of CurrentChoicesArr; let x = index">
                  {{x + 1}}. {{item.answer}}
                </div>
                <div class="form-group-choices">
                    <input type="text" name="CurrentChoiceInput" [(ngModel)]="CurrentChoiceInput" placeholder="Type Choices">
                </div>



                <div class="add-ans">
                    <button class="btn btn-sm" (click)="addChoice()"><fa-icon [icon]="faPlus"></fa-icon></button>
                </div>
            </div>



            <div class="btn-wrap d-flex">
                <button class="btn btn-sm ml-auto btn-next" (click)="nextQuestion()">Add</button>
            </div>

        </form>
    </div>





    <div class="list-section">

        <div *ngIf="CurrentSurveyInput" class="head d-flex">
            <h4 class="mr-auto">{{CurrentSurveyInput}}</h4>
            <button *ngIf="CurrentQuestionArray.length > 0" class="btn btn-sm ml-auto" (click)="saveSurveyTemplate()">Save Survey</button>
        </div>

        <div class="question-wrap" *ngFor="let item of CurrentQuestionArray">
            <div class="question">{{item.question}}</div>
            <div class="choices">
                <span *ngFor="let ans of item.choices; let x = index">{{x + 1 }}. {{ans.answer}}</span>
          
            </div>
        </div>

    </div>


</section>






<section class="templates-section" *ngIf="TemeplateViewSectionStatus">

    <div class="card-group">
        <div class="card" *ngFor="let item of AllSurveys" (click)="viewSurvey(item.surveyName, item._id)">
            <div class="bg-1">.</div>
            <h4>{{item.surveyName}}</h4>

        </div>

        <div class="card" *ngIf="AllSurveys.length === 0">
            <div class="bg-1">.</div>
            <h4>No Template</h4>
        </div>
    </div>

</section>



<section class="Questions-listing" *ngIf="QuestionsViewStatus">

    <div class="head d-flex">
        <button class="btn btn-sm mr-auto" (click)="viewSurveyTemplates()"> <fa-icon [icon]="faBackward"></fa-icon> </button>
        <h4 class="mr-auto">{{TemplateNameOnView}}</h4>
    </div>
    
    <div class="question-wrap"  *ngFor="let item of TemplateQuestions; let i = index">
        <div class="question d-flex w-100">{{item.question}} 
            <div class="ml-auto d-flex">
                <fa-icon [icon]="faPlus" class="ml-3" (click)="editQuestion(item)"></fa-icon>
                <fa-icon [icon]="faPlus" class="ml-3" (click)="deleteQuestion(item)"></fa-icon>
            </div>
        </div>
        <div class="choices">
            <span *ngFor="let ans of item.choices; let x = index">{{x + 1 }}. {{ans.answer}}</span>
        </div>
        
        </div>
     
</section>

</section> 



















<section class="navigation-section">

    <div class="body">

        <div class="search-wrap">
            <div class="input-wrap d-flex">
                <fa-icon [icon]="faSearch"></fa-icon>
                <input type="text">
            </div>
           
        </div>

        <div [ngClass]="FormSectionStatus ? 'create-new active' : 'create-new'" (click)="createNewSurveyTemplate()">
            <fa-icon [icon]="faPlus"></fa-icon>
            Create
        </div>

        <div [ngClass]="TemeplateViewSectionStatus ? 'surveys active' : 'surveys'" (click)="viewSurveyTemplates()">
            <fa-icon [icon]="faListAlt"></fa-icon>
            Surveys
        </div>

    </div>

    <div>

    </div>

</section>

</article>





