<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<div class="page-title d-flex">
    <h4>Tracker</h4>  
    <section id="top_header" class="top-header">
        <div class="search-wrap">
            <div class="input-wrap d-flex">
                <fa-icon [icon]="faSearch"></fa-icon>
                <input type="text">
            </div>
            
        </div>
    
        <div class="btn-wrap">
            <div class="nav-tab" (click)="createNewTracker()">
                <fa-icon [icon]="faPlus"></fa-icon>
                 <span>New</span>
            </div>
    
            <div class="nav-tab" (click)="listTracker()">
                <fa-icon [icon]="faListAlt"></fa-icon>
                 <span>Tracker</span>
            </div>
        </div>
    </section>   
</div>





<section class="body-section">



    <section class="list-section" *ngIf="listSectionStatus">
        <div *ngIf="AllTrackers" class="card-group" >
            <div class="card" *ngFor="let item of AllTrackers" (click)="openTracker(item._id)">
                <div class="card-header"></div>
                <div class="card-body">
                    <fa-icon [icon]="faListAlt"></fa-icon>
                    <h4 class="color:black;">{{item.name}}</h4>
                </div>
                <div class="card-footer">

                </div>
    
               
            </div>
    
            <div class="card" *ngIf="AllTrackers.length === 0">
                <div class="card-header"></div>
                <div class="card-body">
                    <h4>No Template</h4>
                </div>  
            </div>



        </div>
    
    </section>


















<section class="view-section" *ngIf="viewSectionStatus">

    <div class="main-wrap">

        <div class="title d-flex">
            <h4 class="mr-auto">{{trackerOnView.name}}</h4>

            <button class="btn btn-sm btn-edit mr-4" (click)="editTracker()">Edit</button>
            <button class="btn btn-sm btn-remove"  (click)="deleteModal.show()">Delete</button>
             
        </div>

        <div class="body-item">
            <h5 class="param">KPI Target</h5>
            <h4 class="answer">{{trackerOnView.kpiTarget}}</h4>
        </div>
        
        <div class="body-item">
            <h5 class="param">KPI Unit</h5>
            <h4 class="answer">{{trackerOnView.kpiUnit}}</h4>
        </div>

        <div class="body-item">
            <h5 class="param">KPI Actual</h5>
            <h4 class="answer">{{trackerOnView.kpiActual}}</h4>
        </div>

        <div class="body-item">
            <h5 class="param">Monthly</h5>
            <h4 class="answer">{{trackerOnView.monthly}}</h4>
        </div>


        <div class="body-item">
            <h5 class="param">Weekly</h5>

            <div class="answer">
                <div class="ans-title">
                    <h4>Value</h4>
                    <h4>Week</h4>
                    <h4>Reason & Comments</h4>
                    <h4>Feedback</h4>
                </div>
                <div class="ans-value" *ngFor="let item of trackerOnView.weekly">
                    <h4>{{item.value}}</h4>
                    <h4>{{item.week}}</h4>
                    <h4 *ngIf="item.reason"><fa-icon class="view-icon" [icon]="faEye" (click)="viewWeeklyReportResponse(item.reason, item.comment)"></fa-icon></h4>
                    <h4 *ngIf="!item.reason"><fa-icon class="view-icon" [icon]="faEmpty" ></fa-icon></h4>
                    <h4><fa-icon class="view-icon" [icon]="faEye" (click)="viewWeeklyReportRecommendations(item.value, trackerOnView.kpiTarget, trackerOnView.kpiUnit)"></fa-icon></h4>
                </div>
            </div>
        </div>

    </div>


</section>



    <section class="form-section" *ngIf="formSectionStatus">

        <form class="form">
        
            <div class="form-title">
                <h4>Create Business Function</h4>
            </div>


            <!-- Name -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" #name class="" name="name" [(ngModel)]="bcpFunctionInput.name">
            </div>


            <!-- kpiTarget -->
            <div class="form-group">
                <label for="kpiTarget">KPI Target</label>
                <input type="number" #kpiTarget class="" name="kpiTarget" [(ngModel)]="bcpFunctionInput.kpiTarget">
            </div>

            <!-- kpiUnit -->
            <div class="form-group">
                <label for="kpiUnit">KPI Unit</label>
                <input type="text" #kpiUnit class="" name="kpiUnit" [(ngModel)]="bcpFunctionInput.kpiUnit">
            </div>

            <!-- kPI Measure Categories -->
            <!-- <div class="array-form">
                <label>KPI Measure Categories</label>
                <div class="input-label-wrap">
                    <label for="cat">CaT</label>
                    <label for="category">Category</label>
                    <label for="threat">Threat</label>
                </div>
                <div class="input-preview-wrap" *ngFor="let item of kpiMeasureCatsArray; let x = index">
                    <div class="input-preview">
                        {{item.cat}}
                    </div>
                    <div class="input-preview">
                        {{item.category}}
                    </div>
                    <div class="input-preview">
                        {{item.threat}}
                    </div>
                    <fa-icon [icon]="faTrash" (click)="removeKpiMeasureCatInput(x)"></fa-icon>
                </div>
                <div class="input-wrap">
                    <input type="number" #cat class="" name="cat" [(ngModel)]="kpiMeasureCatInput.cat">
                    <input type="text" name="category" [(ngModel)]="kpiMeasureCatInput.category">
                    <input type="text" name="threat" [(ngModel)]="kpiMeasureCatInput.threat">
                </div>
                <div class="btn-wrap">
                    <button class="btn btn-sm" [disabled]="kpiMeasureCatInput.cat === '' || kpiMeasureCatInput.category === '' || kpiMeasureCatInput.threat === ''" 
                    (click)="addKpiMeasureCatInput()"><fa-icon [icon]="faPlus"></fa-icon></button>
                </div>


            </div> -->


            <!-- kpiActual -->
            <!-- <div class="form-group">
                <label for="kpiActual">KPI Actual</label>
                <input type="number" #kpiActual class="" name="kpiActual" [(ngModel)]="bcpFunctionInput.kpiActual">
            </div> -->

            <!-- Monthly -->
            <!-- <div class="form-group">
                <label for="monthly">Monthly</label>
                <input type="number" #monthly class="" name="monthly" [(ngModel)]="bcpFunctionInput.monthly">
            </div> -->

            <!-- Weekly -->
            <!-- <div class="array-form">
                <label>Weekly </label>
                <div class="input-label-wrap">
                    <label for="value">Value</label>
                    <label for="week">Week</label>
                </div>
                <div class="input-preview-wrap" *ngFor="let item of weeklyArray; let r = index">
                    <div class="input-preview">
                        {{item.value}}
                    </div>
                    <div class="input-preview">
                        {{item.week}}
                    </div>
                    <fa-icon [icon]="faTrash" (click)="removeWeeklyInput(r)"></fa-icon>
                </div>
                <div class="input-wrap">
                    <input type="number" #value class="" name="value" [(ngModel)]="weeklyInput.value">
                    <input type="number" name="week" [(ngModel)]="weeklyInput.week">
                </div>
                <div class="btn-wrap">
                    <button class="btn btn-sm" [disabled]="weeklyInput.value === '' || weeklyInput.week === '' " 
                    (click)="addWeeklyInput()"><fa-icon [icon]="faPlus"></fa-icon></button>
                </div>


            </div> -->

            <!-- weeklyActual -->
            <!-- <div class="form-group">
                <label for="weeklyActual">Weekly Actual</label>
                <input type="number" #weeklyActual class="" name="weeklyActual" [(ngModel)]="bcpFunctionInput.weeklyActual">
            </div> -->

            <!-- Reason -->
            <!-- <div class="form-group">
                <label for="reason">Reason</label>
                <textarea type="text" #reason class="" name="reason" [(ngModel)]="bcpFunctionInput.reason"> </textarea>
            </div> -->

            <!-- Comment -->
            <!-- <div class="form-group">
                <label for="comment">Comment</label>
                <textarea name="comment" #comment class="" [(ngModel)]="bcpFunctionInput.comment"> </textarea>
            </div> -->


            <div class="btn-wrap">
                <button 
                class="btn btn-sm" (click)="validateForm()">Save</button>
            </div>


        </form>

    </section>

    <section class="form-section" *ngIf="editformSectionStatus">

        <form class="form">
        
            <div class="form-title">
                <h4>Update Business Function</h4>
            </div>
            <div class="form-group" *ngIf="!bcpFunctionDefaults">
                <button (click)="viewBcpFunctionDefaults()">Edit Business Function Details</button>
            </div>
            <div class="form-group" *ngIf="bcpFunctionDefaults">
                <button (click)="hideBcpFunctionDefaults()">Hide Business Function Details</button>
            </div>
           <div *ngIf="bcpFunctionDefaults">
            <!-- Name -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" #name class="" name="name" [(ngModel)]="bcpFunctionInput.name">
            </div>


            <!-- kpiTarget -->
            <div class="form-group">
                <label for="kpiTarget">KPI Target</label>
                <input type="number" #kpiTarget class="" name="kpiTarget" [(ngModel)]="bcpFunctionInput.kpiTarget">
            </div>

            <!-- kpiUnit -->
            <div class="form-group">
                <label for="kpiUnit">KPI Unit</label>
                <input type="text" #kpiUnit class="" name="kpiUnit" [(ngModel)]="bcpFunctionInput.kpiUnit">
            </div>

              <!-- Monthly -->
              <div class="form-group">
                <label for="monthly">Monthly</label>
                <input type="number" #monthly class="" name="monthly" [(ngModel)]="bcpFunctionInput.monthly">
            </div>

            <hr/>

            <!-- kPI Measure Categories -->
            <!-- <div class="array-form">
                <label>KPI Measure Categories</label>
                <div class="input-label-wrap">
                    <label for="cat">CaT</label>
                    <label for="category">Category</label>
                    <label for="threat">Threat</label>
                </div>
                <div class="input-preview-wrap" *ngFor="let item of kpiMeasureCatsArray; let x = index">
                    <div class="input-preview">
                        {{item.cat}}
                    </div>
                    <div class="input-preview">
                        {{item.category}}
                    </div>
                    <div class="input-preview">
                        {{item.threat}}
                    </div>
                    <fa-icon [icon]="faTrash" (click)="removeKpiMeasureCatInput(x)"></fa-icon>
                </div>
                <div class="input-wrap">
                    <input type="number" #cat class="" name="cat" [(ngModel)]="kpiMeasureCatInput.cat">
                    <input type="text" name="category" [(ngModel)]="kpiMeasureCatInput.category">
                    <input type="text" name="threat" [(ngModel)]="kpiMeasureCatInput.threat">
                </div>
                <div class="btn-wrap">
                    <button class="btn btn-sm" [disabled]="kpiMeasureCatInput.cat === '' || kpiMeasureCatInput.category === '' || kpiMeasureCatInput.threat === ''" 
                    (click)="addKpiMeasureCatInput()"><fa-icon [icon]="faPlus"></fa-icon></button>
                </div>


            </div> -->
          </div>

            <!-- kpiActual -->
            <div class="form-group">
                <label for="kpiActual">KPI Actual</label>
                <input type="number" [readonly]="true" #kpiActual class="" name="kpiActual" [(ngModel)]="bcpFunctionInput.kpiActual">
            </div>

            <!-- Weekly -->
            <div class="array-form">
                <label>Weekly </label>
                <div class="input-label-wrap">
                    <label for="value">Value</label>
                    <label for="week">Week</label>
                </div>
                <div class="input-preview-wrap" *ngFor="let item of weeklyArray; let r = index">
                    <div class="input-preview">
                        {{item.value}}
                    </div>
                    <div class="input-preview">
                        {{item.week}}
                    </div>
                    <fa-icon [icon]="faTrash" (click)="removeWeeklyInput(r)"></fa-icon>
                </div>
                <div class="input-wrap">
                    <input type="number" #value class="" name="value" [(ngModel)]="weeklyInput.value">
                    <input type="number" readonly name="week" [(ngModel)]="weeklyInput.week">
                </div>
                <div class="input-wrap">
                     <!-- Reason -->
                    <div class="form-group">
                        <label for="reason">Reason</label>
                        <select type="text" #reason class="" name="reason" [(ngModel)]="weeklyInput.reason"> 
                            <option value="" disabled selected hidden >...select reason</option>
                            <option *ngFor="let item of AllTrackerReasons"  [value]="item.reason">{{item.reason}}</option>  
                        </select>
                    </div>

                    <!-- Comment -->
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea name="comment" #comment class="" [(ngModel)]="weeklyInput.comment"> </textarea>
                    </div>

                </div>
                <div class="btn-wrap">
                    <button class="btn btn-sm" [disabled]="weeklyInput.value === '' || weeklyInput.week === '' " 
                    (click)="addWeeklyInput()"><fa-icon [icon]="faPlus"></fa-icon></button>
                </div>

            </div>

            <div class="btn-wrap">
                <button 
                class="btn btn-sm" (click)="validateForm()">Save</button>
            </div>


        </form>

    </section>











<section class="navigation-section">

    <div class="body">

        <div class="search-wrap">
            <div class="input-wrap d-flex">
                <fa-icon [icon]="faSearch"></fa-icon>
                <input type="text">
            </div>
            
        </div>

        <div class="nav-tab" (click)="createNewTracker()">
            <fa-icon [icon]="faPlus"></fa-icon>
            New
        </div>

        <div class="nav-tab" (click)="listTracker()">
            <fa-icon [icon]="faListAlt"></fa-icon>
            Tracker
        </div>


    </div>

    <div>

    </div>

</section>







<div bsModal  #viewCommentsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog viewCommentsModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title ">Reason & Comments</h4>
            <button type="button" class="btn close" (click)="viewCommentsModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      
        </div>
        <div class="modal-body" >
            <div>
                <h4>Reason</h4>
                <p>{{weeklyReportReason}}</p>
            </div>
            <div>
                <h4>Comments</h4>
                <p>{{weeklyReportComments}}</p>
            </div>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div bsModal  #viewRecomModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog viewRecomModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title ">Automated Recommendations</h4>
            <button type="button" class="btn close" (click)="viewRecomModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      
        </div>
        <div class="modal-body" >
            <div>
                <h4>Observation</h4>
                <p>{{observation}}</p>
            </div>
            <div>
                <h4>Recommendation</h4>
                <p>{{recommendation}}</p>
            </div>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->





  
  <div bsModal  #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog deleteModal modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title ">Delete</h4>
            <button type="button" class="btn close" (click)="deleteModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      
        </div>
        <div class="modal-body" >
            <p>
                Are you sure ?
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-danger"  (click)="deleteTracker(trackerOnView._id)" aria-label="Close">
                Yes
              </button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    

</section>














