<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>


<div class="page-title d-flex">
    <h4>Tracker</h4>  
</div>



<article *ngIf="PlanStatus">

<div  class="progress-wrap" *ngIf="pageProgress !== 100">
    <circle-progress [percent]="pageProgress" ></circle-progress>
</div>
    


<section class="plan-section" *ngIf="pageProgress === 100">
    <div class="head">
        <h4>Existing Plan</h4>
    </div>

    <div class="card-model">


        <div class="card-model-item" *ngIf="AllPlans.length === 0">
            <div class="icon-wrap">
                <fa-icon [icon]="faBusinessTime"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>---No Existing Plan---</h4>
            </div>
        </div>

        <div class="card-model-item"  *ngFor="let plan of AllPlans" (click)="editReport(plan)">
            <div class="icon-wrap">
                <fa-icon [icon]="faBusinessTime"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>{{plan.name}}</h4>
            </div>
        </div>

    </div>

</section>





</article>



<article class="article2" *ngIf="ReportStatus">
    <app-tracker-report></app-tracker-report>
</article>




