<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<header class="header">
    <div class="header-wrap">
        <h4>TRACKER</h4>
        <button class="btn thm-danger btn-sm" (click)="logOut()" >
            <fa-icon [icon]="faPowerOff"></fa-icon>Logout
        </button>
    </div>
</header>














<article class="body-article" *ngIf="PlanStatus">
    <div *ngIf="pageProgress !== 100" class="progress-wrap">
        <circle-progress [percent]="pageProgress" ></circle-progress>
    </div>
    

    
    <section class="list-table" [hidden]="pageProgress !== 100" >
        <div class="search-wrap">
            <div class="input-wrap">
                <input type="text" (keyup)="filterPlans()" name='FilterName' [(ngModel)]="FilterName" placeholder="Search here ..."> 
                <fa-icon [icon]="faSearch"></fa-icon>
            </div>
        
        </div>
        <div class="list-table-header">
            <div class="header-wrap">
                <div class="head-item survey"> <span> Plan Name</span> </div>
                <div class="head-item view">Report on Plan </div>
            </div>
        </div>
        <div class="list-table-body">
            <div class="list-item-wrap-no-survey" *ngIf="ViewAllPlans.length === 0">
                <h4>No Plans</h4>
            </div>
            <div class="list-item-wrap" *ngFor="let item of ViewAllPlans">
                <div class="list-item survey">{{item.name}}</div>
    
                <div class="list-item view" >
                    <div class="view-btn"  (click)="editReport(item)">Report on Plan</div>
                </div>
            </div>
    
        </div>
    
    
    </section>
    
</article>
    
   






























<article hidden *ngIf="PlanStatus">

<div  class="progress-wrap" *ngIf="pageProgress !== 100">
    <circle-progress [percent]="pageProgress" ></circle-progress>
</div>
    


<section class="plan-section" *ngIf="pageProgress === 100">
    <div class="head">
        <h4>Existing Plan</h4>
    </div>

    <div class="card-model">


        <div class="card-model-item" *ngIf="AllPlans.length === 0">
            <div class="icon-wrap">
                <fa-icon [icon]="faBusinessTime"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>---No Existing Plan---</h4>
            </div>
        </div>

        <div class="card-model-item"  *ngFor="let plan of AllPlans" (click)="editReport(plan)">
            <div class="icon-wrap">
                <fa-icon [icon]="faBusinessTime"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>{{plan.name}}</h4>
            </div>
        </div>

    </div>

</section>





</article>



<article class="article2" *ngIf="ReportStatus">
    <app-tracker-report></app-tracker-report>
</article>




