<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
            <div class="imprint-loader-ball ball-one"></div>
            <div class="imprint-loader-ball ball-two"></div>
            <div class="imprint-loader-ball ball-three"></div>
            <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>

<div class="page-title">

    <h4>Survey</h4>

</div>


<article class="article">

    <section class="templates-section">
        <div *ngIf="AllSurveys" class="card-group">
            <div *ngIf="pageProgress !== 100" class="progress-wrap">
                <circle-progress [percent]="pageProgress" ></circle-progress>
            </div>
    
            <div [hidden]="pageProgress !== 100" class="card"  *ngFor="let item of AllSurveys" (click)="item.done > 100 || item.done === 100 ? '' : takeSurvey(item)">
                <div class=""></div>
                <div class="card-body d-flex">
                    <fa-icon [icon]="faListAlt"></fa-icon>
                    <h4 >{{item.surveyName}}</h4>

                    <fa-icon *ngIf="item.done > 0 && 100 > item.done" style="cursor: pointer; height: 1em;"
                    (mouseenter)="deletePromptModal.show(); passSurveyToReset(item._id)"
                    class="text-info ml-auto" [icon]="faEraser"></fa-icon>
<!-- 
                    <fa-icon *ngIf="item.done > 0" style="cursor: pointer; height: 1em;"
                    (mouseenter)="deletePromptModal.show(); passSurveyToReset(item._id)"
                    class="text-info ml-auto" [icon]="faEraser"></fa-icon> -->
                    
                </div>
                <div class="card-footer">
                    <h5 *ngIf="item.done > 100 || item.done === 100">
                        <fa-icon [icon]="faCheck"></fa-icon> <span>100%</span> <p >Completed</p>
                    </h5>
                    <h5 *ngIf="item.done > 0 && 100 > item.done">
                        <fa-icon [icon]="faSpinner"></fa-icon> <span>{{item.done}}%</span> <p >In progress</p>
                    </h5>
                    <h5 *ngIf="item.done === 0"> Not Done</h5>
                </div>


            </div>

            <div [hidden]="pageProgress !== 100" class="card" *ngIf="AllSurveys.length === 0">
                <div class="card-header"></div>
                <div class="card-body">
                    <h4>No Template</h4>
                </div>
                <div class="card-footer">

                </div>

            </div>
        </div>

    </section>

</article>














<div bsModal #deletePromptModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog deletePromptModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">You hovered on Reset Survey Button</h4>
            <button (click)="deletePromptModal.hide()" type="button" class="btn close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <p>Do you want to clear all reponses on this survey ?</p>
        </div>
        <div class="modal-footer d-flex">
            <button  class="btn btn-sm cancel mr-auto" (click)="deletePromptModal.hide()">No</button>
            <button  type="button" class="btn btn-sm ml-auto text-light delete" (click)="resetSurvey();">Yes</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




