<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>

<div class="page-title">

    <h4>Survey</h4>

</div>



<article class="article">

<section class="templates-section">
    <div *ngIf="AllSurveys" class="card-group" >
        <div class="card" *ngFor="let item of AllSurveys" (click)="takeSurvey(item)">
            <div class="bg-1">.</div>
            <h4 class="color:black;">{{item.surveyName}}</h4>
            <h5 *ngIf="item.done"> <fa-icon [icon]="faCheck"></fa-icon> Completed</h5>
        </div>

        <div class="card" *ngIf="AllSurveys.length === 0">
            <div class="bg-1">.</div>
            <h4>No Template</h4>
        </div>
    </div>

</section>

</article>
