@import "src/styles.sass"

.page-title
    width: 100%
    padding: 1em 2em

    h4 
        font-size: 18px 
        font-weight: bold
        text-transform: uppercase
        text-shadow: 1px -1px 1px white
        -moz-text-shadow: 1px -1px 1px white
        -webkit-text-shadow: 1px -1px 1px white
    
.article
    width: 100%
    height: fit-content
    



.templates-section
    width: 100%
    height: 100%
    padding: 30px


    .head
        padding: 1em
        color: grayColor(g800)

        h4 
            font-size: 20px
            font-weight: bold

    .card-group

        margin: 1em auto auto 0
        max-height: 500px
        overflow-x: scroll


        .card
            min-width: 15em
            min-height: 13em
            height: fit-content
            max-width: 50%
            margin: 0 .5em .5em 0
            border-radius: 5px
            text-align: center
            display: flex
            flex-direction: column
            cursor: pointer

            @include desktop_md
                max-width: 100%
                margin: 0 1em 1em 0

            @include desktop_sm
                margin: 0 0 1em 0


            .card-body
                display: flex
                align-items: stretch
                height: fit-content

                fa-icon
                    margin: 2em 1em 0 0
                    font-size: 14px 
                    color: colorTheme(secondaryTheme)

                h4
                    margin: 2em 0
                    font-size: 14px 
                    font-weight: bold
                    color: grayColor(g800)

                &:hover
                    h4
                        color: colorTheme(secondaryTheme)


            .card-footer
                h5
                    width: 100%
                    text-align: center
                    font-size: 12px

                    span
                        color: colorTheme(success)
                        font-weight: bold

                    fa-icon
                        margin: 0 1em 0 0
                        color: colorTheme(success)
                        font-weight: bold






