

<div class="main">


 
    <div class="main-top">
        <div class="head">
            <img src="../../../assets/images/logo1.jpg" alt="" srcset="">

            <button class="btn btn-sm btn-outline-warning ml-auto" (click)="goBack()">Back</button>
        </div>
        <div class="title">
            <h4>TCG DATA SHARING AGREEMENT</h4>
        </div>
       
    </div>

    <div class="main-body">
        <div class="inner-body-wrap">
            <h1>1. INTERPRETATION</h1>
            <p>In this Policy the following terms shall have the following meanings:</p>

            <div class="text"> 
                <span class="text-a"> <b>Agreed&nbsp;Purposes:</b> has the meaning given in clause 1.</span> 
             
            </div>
            <div class="text"> 
                <span class="text-a"><b>Company: </b> Tactive Consulting Group. </span> 
              
            </div>

            <div class="text"> 
                <span class="text-a"> <b> Contract:</b> The contract made between the Customer and the Company for the supply of business consultancy services.</span> 
            
            </div>

            <div class="text"> 
                <span class="text-a">[Controller, data controller, processor, data processor, data subject, personal data, processing and appropriate technical and organizational measures: as set out in the Data Protection Legislation in force at the time.]</span> 
       
            </div>

            <div class="text"> 
                <span class="text-a"> <b>Customer:</b>Tthe person or company purchasing Products from the Company.</span> 
            </div>

            <div class="text"> 
                <span class="text-a"> <b>Data:</b> The Customer or any of its employees, workers, customers or end users’ personal data as defined in the Data Protection Legislation.</span> 
       
            </div>

            <div class="text"> 
                <span class="text-a"> <b>Data&nbsp;Protection&nbsp;Legislation:</b> </span> 
                <ul>
                    <li>Unless and until the GDPR is no longer directly applicable in Kenya, the General Data Protection Regulation ((Kenya) 2019) and any national implementing laws, regulations and secondary legislation, as amended or updated from time to time, in Kenya and then </li>
                    <li>Any successor legislation to the GDPR or the Data Protection Act 2009.</li>
                </ul>
                   
            </div>


            <div class="text"> 
                <span class="text-a"> <b>Permitted&nbsp;Recipients:</b> The parties to this agreement, the employees of each party, any third parties engaged to perform obligations in connection with this agreement.</span> 
          
            </div>

            <div class="text"> 
                <span class="text-a"> <b> Policy:</b> means this document and (unless the context otherwise requires) includes any special terms agreed in writing between the Customer and the Company.</span> 
         
            </div>


            <div class="text"> 
                <span class="text-a"> <b>Shared&nbsp;Personal&nbsp;Data:</b> The personal data to be shared between the parties under clause 1.1 of this agreement. Shared Personal Data shall be confined to the following categories of information relevant to the following categories of data subject:</span> 
                <ul>
                    <li>Recipients name</li>
                    <li>Recipients physical address</li>
                    <li>Recipients Contact information </li>
                </ul>
                   
            </div>

            <div class="text"> 
                <span class="text-a"> <b>Writing: </b> Means in writing, including telex, cable facsimile transmissions email and comparable means of communication. </span> 
           
            </div>

           
            


             
            
             
        

            

















            <h1>2. DATA PROTECTION</h1>


            <div class="text"> 
                <span class="text-a"> 
                    <b>2.1.&nbsp;Shared&nbsp;Personal Data.&nbsp;</b>
                    This clause sets out the framework for the sharing of personal data the parties as data controllers between Particular obligations relating to data sharing. The Customer shall:
                    
                 </span> 
                   
                    <ul>
                        <li>ensure that it has all necessary notices and consents in place to enable lawful transfer of the Shared Personal Data to the Company for the Agreed Purposes; and</li>
                        <li>give full information to any data subject whose personal data may be processed under this agreement of the nature such processing. This includes giving notice that, on the termination of this agreement, personal data relating to them may be retained by or, as the case may be, transferred to one or more of the Permitted Recipients, their successors and assignees.</li>
                    </ul>
             
                    <span class="text-a"> 
                        <b>2.2.&nbsp;Mutual&nbsp;assistance.&nbsp;</b>
                        T. Each party shall assist the other in complying with all applicable requirements of the Data Protection Legislation. In particular, each party shall:
                        
                    </span> 
                        
            <ul>
                <li>consult with the other party about any notices given to data subjects in relation to the Shared Personal Data;</li>
              <li>promptly inform the other party about the receipt of any data subject access request;</li>
              <li>provide the other party with reasonable assistance in complying with any data subject access request;</li>
              <li>not disclose or release any Shared Personal Data in response to a data subject access request without first consulting the other party wherever possible;</li>
              <li>assist the other party, at the cost of the other party, in responding to any request from a data subject and in ensuring compliance with its obligations under the Data Protection Legislation with respect to security, breach notifications, impact assessments and consultations with supervisory authorities or regulators;</li>
              <li>notify the other party without undue delay on becoming aware of any breach of the Data Protection Legislation;</li>
              <li>at the written direction of the Data Disclosure, delete or return Shared Personal Data and copies thereof to the Data Disclosure on termination of this agreement unless required by law to store the personal data;</li>
              <li>use compatible technology for the processing of Shared Personal Data to ensure that there is no lack of accuracy resulting from personal data transfers;</li>
              <li>maintain complete and accurate records and information to demonstrate its compliance with this clause 2 and allow for audits by the other party or the other party’s designated auditor; and</li>
              <li>provide the other party with contact details of at least one employee as point of contact and responsible manager for all issues arising out of the Data Protection Legislation, including the joint training of relevant staff, the procedures to be followed in the event of a data security breach, and the regular review of the parties’ compliance with the Data Protection Legislation.</li>

                
            </ul>


            </div>




















            <h1>3. DATA PROCESSING</h1>


            <ol class="ul-three">
                <li>The Company shall only process the Data provided by the Customer for the Agreed Purposes.</li>
                <li>The Company shall delete the Data after each delivery.</li>
                <li>If the Purpose is to deliver products or services on more than one occasion, the Customer shall provide the Data before each delivery.</li>
                <li>The Data shall only be accepted by the Company if the Data is provided by the Customer in a secure format as provided by the company. Data provided in any other means will be refused by the Company.</li>
                <li>The Company shall not be responsible for updating the Data at any time.</li>
                <li>If the Company receives returned mail or failed delivery notices, the Company shall inform the Customer, and it shall be the Customer’s responsibility to update the Data.</li>
                <li>The Company shall not:
                    <ul>
                        <li>share the Data with any other party unless requested to by the Customer; or</li>
                        <li>Sell the Data to any other party.</li>
                      </ul>
                </li>
                <li>Only authorized personnel within the Company shall have access to the Data.</li>

            </ol>














            <h1>4. DATA PROTECTION</h1>



            <ol class="ol-four">
                <li>Both parties will comply with all applicable requirements of the Data Protection Legislation. This clause 3 is in addition to, and does not relieve, remove or replace, a party’s obligations under the Data Protection Legislation.</li>
                <li>The parties acknowledge that for the purposes of the Data Protection Legislation, the Customer is the data controller and the Company is the data processor (where Data Controller and Data Processor have the meanings as defined in the Data Protection Legislation).</li>
                <li>Without prejudice to the generality of clause 4.1, the Customer will ensure that it has all necessary appropriate consents and notices in place to enable lawful transfer of the Data to the Company for the Purpose and duration of the Contract.</li>
                <li>Without prejudice to the generality of clause 4.1, the Company shall, in relation to any of the Data processed in connection with the performance by the Company of its obligations under this agreement:

                    <ol type="i">
                        <li>Processes that Data only on the written instructions of the Customer unless the Company is required by the laws of the Republic of Kenya applicable to the Company to process the Data (Applicable Laws). Where the Company is relying on laws of any other country as the basis for processing Data, the Company shall promptly notify the Customer of this before performing the processing required by the Applicable Laws unless those Applicable Laws prohibit the Company from so notifying the Customer;</li>
                        <li>ensure that it has in place appropriate technical and organizational measures, to protect against unauthorized or unlawful processing of Data and against accidental loss or destruction of, or damage to, the Data, appropriate to the harm that might result from the unauthorized or unlawful processing or accidental loss, destruction or damage and the nature of the data to be protected, having regard to the state of technological development and the cost of implementing any measures (those measures may include, where appropriate, pseudonymisation and Data encryption, ensuring confidentiality, integrity, availability and resilience of its systems and services, ensuring that availability of and access to Data can be restored in a timely manner after an incident, and regularly assessing and evaluating the effectiveness of the technical and organizational measures adopted by it);</li>
                        <li>ensure that all personnel who have access to and/or process the Data are obliged to keep the Data confidential; and</li>
                        <li>not transfer any the Data outside of the Republic of Kenya unless the prior written consent of the Customer has been obtained and the following conditions are fulfilled:
                            <ul>
                                <li>the Customer or the Company has provided appropriate safeguards in relation to the transfer;</li>
                                <li>the end user has enforceable rights and effective legal remedies;</li>
                                <li>the Company complies with its obligations under the Data Protection Legislation by providing an adequate level of protection to any the Data that is transferred; and</li>
                                <li>the Company complies with reasonable instructions notified to it in advance by the Customer with respect to the processing of the Data;</li>
                            </ul>
                        </li>
                        <li>assist the Customer, at the Customer’s cost, in responding to any request from an end user and in ensuring compliance with its obligations under the Data Protection Legislation with respect to security, breach notifications, impact assessments and consultations with supervisory authorities or regulators;</li>
                        <li>notify the Customer without undue delay on becoming aware of a Data breach;</li>
                        <li>at the written direction of the Customer, delete or return the Data and copies thereof to the Customer on termination of the Contract unless required by Applicable Laws to store the Data; and</li>
                        <li>Maintain complete and accurate records and information to demonstrate its compliance with this clause 4.4.</li>
                    </ol>

                </li>
                <li>Either party may, at any time on not less than 30 days’ notice, revise this clause 3 by replacing it with any applicable controller to processor standard clauses or similar terms forming party of an applicable certification scheme (which shall apply when replaced by attachment to this agreement).</li>
            </ol>




            <h1>5. INDEMNITY</h1>

            <ol class="ol-five">
                <li>The Customer acknowledges that the Company places particular reliance upon the provisions of this Policy. In addition to any other remedy available to the Company, the Customer indemnifies the Company against all liabilities, costs, expenses, damages and losses (including but not limited to any direct, indirect or consequential losses, loss of profit, loss of reputation and all interest, penalties and legal costs (calculated on a full indemnity basis) and all other professional costs and expenses) suffered or incurred by the Company arising out of or in connection with the breach of the Data Protection Legislation or this Policy by the Customer, its employees or agents</li>
            </ol>

            <h1>6. GENERAL</h1>

            <ol class="ol-six">
                <li>Any notice required or permitted to be given by either party to the other under this Policy shall be in Writing, addressed to that other party at its registered office or principal place of business or such other address as may at the relevant time have been notified.</li>
                <li>The rights and remedies of the Company in respect of the Contract shall not be diminished, waived or extinguished by the granting of any indulgence, forbearance or extension of time granted by the Company to the Customer, nor by any failure of, or delay by the Company in ascertaining or exercising any such rights or remedies. Any waiver of any breach of the Contract by the Company can only be made in writing. No waiver by the Company of any breach of the Contract by the Customer shall be considered as a waiver of any subsequent breach of the same or any other provision.</li>
                <li>If any provision of this Policy is held by any competent authority to be invalid or unenforceable in whole or in part, the validity of the other provisions in this Policy and the remainder of the provision in question shall not be affected thereby.</li>
                <li>Both parties hereby irrevocably agree to submit to the exclusive jurisdiction of the English Courts.</li>
                <li>The Contract shall be governed by and construed in all respects in accordance with the laws of England.</li>
                <li>No person who is not a party to the Contract (including without limitation any employee, officer, agent, representative or sub-contractor of either party) shall have a right to enforce any term of the Contract which expressly or by implication confers a benefit on that person without the express prior agreement in writing of the parties which agreement must refer to this clause 6.6.</li>
                <li>Even if a person who is not a party to the Contract (including without limitation, any employee, officer, agent representative or sub-contractor of either party) has a right to enforce any term of the Contract by virtue of any law, the parties may vary or cancel the Contract by agreement between them without requiring the consent of such third party.</li>

            </ol>




            <div class="footer d-flex">
                <h4>-&nbsp;Tactive&nbsp;Consulting&nbsp;Group&nbsp;&copy;&nbsp;{{thisYear}}</h4>

            </div>


        </div>
    </div>







</div>

    
    