<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>




<div class="page-title">

    <h4>Profile</h4>

</div>



<section class="body-section">

    <section *ngIf="ZeroSurveyDone" class="info-section zero-survey-one">

        <div class="wrap">
            <h4>Analitics</h4>
            <h5>{{noteOne}}</h5>
            <p>{{noteTwo}}</p>
        </div>

    </section>

    <section *ngIf="!ZeroSurveyDone" class="info-section">






        <section id="chart_section" class="card-group">
            <div class="card">
                <div class="title d-flex"> <span>Number of risks that have been measured under each category</span>
                    <div class=" graph-switch d-flex ml-auto">
                        <span (click)="chart1graphToLine()"><fa-icon [icon]="faChartLine" [ngClass]="chart1Type === 'line' ? 'active' : ''" ></fa-icon></span> 
                        <span (click)="chart1graphToBar()"><fa-icon [icon]="faChartBar" [ngClass]="chart1Type === 'bar' ? 'active' : ''" ></fa-icon></span>
                        <span (click)="chart1graphToPie()"> <fa-icon [icon]="faChartPie" [ngClass]="chart1Type === 'pie' ? 'active' : ''" ></fa-icon> </span>
                    </div>
                </div>
                <div class="body-wrapper">
                    <circle-progress [hidden]="chartsProgress === 100" [percent]="chartsProgress" ></circle-progress>
                    <canvas *ngIf="chart1Type" baseChart class="chart" [chartType]="chart1Type" [labels]="chart1Labels"
                    [datasets]="chart1Datasets" [options]="chart1ChartOptions"></canvas>
                </div>
    
            </div>
    
            <div class="card">
                <div class="title d-flex"> <span>Average risk rate for specific risk type based on all surveys</span>
                    <div class=" graph-switch d-flex ml-auto">
                        <span (click)="chart2graphToLine()"><fa-icon [icon]="faChartLine" [ngClass]="chart2Type === 'line' ? 'active' : ''" ></fa-icon></span> 
                        <span (click)="chart2graphToBar()"><fa-icon [icon]="faChartBar" [ngClass]="chart2Type === 'bar' ? 'active' : ''" ></fa-icon></span>
                        <!-- <span (click)="chart2graphToPie()"> <fa-icon [icon]="faChartPie" [ngClass]="chart2Type === 'pie' ? 'active' : ''" ></fa-icon> </span> -->
                    </div>
                </div>
    
                <div class="body-wrapper">
                    <circle-progress [hidden]="chartsProgress === 100" [percent]="chartsProgress" ></circle-progress>
                    <canvas *ngIf="chart2Type" baseChart class="chart" [chartType]="chart2Type" [labels]="chart2Labels"
                    [datasets]="chart2Datasets" [options]="chart2ChartOptions"></canvas>
                </div>
    
            </div>


        </section><!-- second_cards_section -->









        <section class="risk-graph-section">
        
                <div class="title d-flex"> <span>Total risk level on each survey </span>
                    <div class=" graph-switch d-flex ml-auto">
                        <!-- <span (click)="chart3graphToLine()"><fa-icon [icon]="faChartLine" [ngClass]="chart3Type === 'line' ? 'active' : ''" ></fa-icon></span>  -->
                        <span (click)="chart3graphToBar()"><fa-icon [icon]="faChartBar" [ngClass]="chart3Type === 'bar' ? 'active' : ''" ></fa-icon></span>
                        <!-- <span (click)="chart3graphToPie()"> <fa-icon [icon]="faChartPie" [ngClass]="chart3Type === 'pie' ? 'active' : ''" ></fa-icon> </span> -->
                    </div>
                </div>
                <div *ngIf="chart3Type" id="chart_key" >
                    <div class="wrap">
                        <div> <span class="color" style="background-color: #f86c6b;">.</span> <span class="text">High risk</span> </div>
                        <div> <span class="color" style="background-color: #ffc107;"></span> <span class="text">Medium risk</span></div>
                        <div> <span class="color" style="background-color: #4dbd74;"></span> <span class="text">Low risk</span></div>
                        <div> <span class="color" style="background-color: #73818f;"></span> <span class="text">Highest Possible Level</span></div>
                    </div>
                   
                </div>

                <div class="body-wrapper">
                    <circle-progress [hidden]="chartsProgress === 100" [percent]="chartsProgress" ></circle-progress>
                    <canvas *ngIf="chart3Type" baseChart class="chart" [chartType]="chart3Type" [labels]="chart3Labels"
                    [datasets]="chart3Datasets" [options]="chart3ChartOptions"></canvas>
                </div>
       
        </section>




        <section class="risk-graph-section">
        
            <div class="title d-flex"> <span>Average risk rate for specific risk type under each survey</span>
                <div class=" graph-switch d-flex ml-auto">
                    <span (click)="comparisonChartToLine()"><fa-icon [icon]="faChartLine" [ngClass]="comparisonChartType === 'line' ? 'active' : ''" ></fa-icon></span> 
                    <span (click)="comparisonChartToBar()"><fa-icon [icon]="faChartBar" [ngClass]="comparisonChartType === 'bar' ? 'active' : ''" ></fa-icon></span>
                    <!-- <span (click)="comparisonChartToPie()"> <fa-icon [icon]="faChartPie" [ngClass]="comparisonChartType === 'pie' ? 'active' : ''" ></fa-icon> </span> -->
                </div>
            </div>

            <div class="body-wrapper">
                <circle-progress [hidden]="chartsProgress === 100" [percent]="chartsProgress" ></circle-progress>
                <canvas *ngIf="comparisonChartType" baseChart class="chart" [chartType]="comparisonChartType" [labels]="comparisonChartLabels"
                [datasets]="comparisonChartDatasets" [options]="comparisonChartOptions"></canvas>
            </div>
   
    </section>














        <div class="risk-section">
            <div class="title">List of all risk types on all surveys done</div>

            <div class="body-wrapper">
                <div class="body-title">

                    <div class="body-item d-flex">
                        <div class="mx-auto ">Threat</div>
                        <div class="mx-auto ">Survey</div>
                        <div class="mx-auto ">Severity</div>
                        <!-- <div class="rate">Intervention</div> -->
                    </div>

                </div>

                <div class="body d-flex" *ngIf="riskIssueArray.length === 0">
                    <div class="spinner-div spinner-border mx-auto" role="status"></div>
                </div>

                <div class="body" *ngIf="riskIssueArray.length !== 0">

                    <div *ngFor="let item of riskIssueArray" class="body-item d-flex">
                        <div class="mx-auto">{{item.risk}}</div>
                        <div class="mx-auto">{{item.surveyName}}</div>
                        <div class="mx-auto riskRate"
                        [ngClass]="[ 
                        item.level === 'Low' ? 'mx-auto riskRate low' : 'mx-auto riskRate',
                        item.level === 'Medium' ? 'mx-auto riskRate medium' : 'mx-auto riskRate',
                        item.level === 'High' ? 'mx-auto riskRate high' : 'mx-auto riskRate'
                        ]"
                        >{{item.level}}</div>
                        <!-- <div class="mx-auto">{{item.recom}}</div> -->
                    </div>

                </div>
            </div>
        </div>







        <div class="account-status-wrap">
          
                <div class="title">List of surveys done and their total average risk rate</div>
                <div class="body-wrapper">
                <div class="body-title" >
          
                  <div  class="body-item d-flex">
             
                    <div class="mx-auto ">Survey Name</div>
                    <div class="mx-auto ">Risk rate</div>
                  </div>
          
                </div>
             
                    <div class="body d-flex" *ngIf="CompanyRiskRates.length === 0">
                        <div class="spinner-div spinner-border mx-auto" role="status"></div>
                      </div>
                
                      <div class="body" *ngIf="CompanyRiskRates.length !== 0">
            
                        <div *ngFor="let comp of CompanyRiskRates" class="body-item d-flex">
                      
                          <div class="mx-auto surveyName">{{comp.surveyName}}</div>
                          <div *ngIf="comp.riskRate > 66" class="mx-auto riskRate-high">{{comp.riskRate}} %</div>
                          <div *ngIf="66 > comp.riskRate && comp.riskRate > 33" class="mx-auto riskRate-medium">{{comp.riskRate}} %</div>
                          <div *ngIf="33 > comp.riskRate" class="mx-auto riskRate-low">{{comp.riskRate}} %</div>

                        </div>
                
                      </div>
                </div>
    
        </div>









        <div class="survey-info-wrap">

            <h5>Survey Info</h5>
            <div class="grid-container">

                <div class="grid-item">
                    <h4>Surveys</h4>    
                    <div class="body-wrap d-flex" style="outline: none; cursor: pointer;" routerLink="/home/survey">
                        <div class="icon">
                            <fa-icon [icon]="faListAlt"> </fa-icon>
                        </div>
                        <div class="value" >
                            <h4 >{{CompanyRiskRates.length}}</h4>
                        </div>
                    </div>
                </div>

                <div class="grid-item">
                    <h4>Reports</h4>
                    <div class="body-wrap d-flex" style="outline: none; cursor: pointer;" routerLink="/home/reports">
                        <div class="icon">
                            <fa-icon [icon]="faBookReader"></fa-icon>
                        </div>
                        <div class="value" >
                            <h4>{{AllResponses.length}}</h4>
                        </div>
                    </div>
                   
                </div>

            </div>

        </div>










    </section>


    <section class="profile-section">

        <!-- [ngClass]="profileMinimized ? 'profile-section minimize' : 'profile-section'" -->
        <!-- <div class="profile-switch">
            <fa-icon [icon]="profileMinimized ? faArrowCircleLeft : faArrowCircleRight" (click)="minimizeProfile()"></fa-icon>
        </div> -->

        <div class="company-info">

            <h4>
                <span *ngIf="myCompany">{{myCompany.companyName}}  
                    <span *ngIf="!myCompany.companyName">Company Name</span> 
                </span>
                <fa-icon id="faEdit" *ngIf="editProfileSwitch" [icon]="faEdit" (click)="companyNameInputStatus = !companyNameInputStatus"></fa-icon>
                <input *ngIf="companyNameInputStatus" class="edit-input" type="text" name="companyNameInput" [(ngModel)]="companyNameInput">
                <button *ngIf="companyNameInputStatus" id="faCheck" [disabled]="companyNameInput === ''" (click)="changeCompanyName()" class="save-btn">Save</button>
            </h4>
            <p>
                <span *ngIf="myCompany">{{myCompany.companyAbout}}  
                    <span *ngIf="!myCompany.companyAbout">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span> 
                </span>
                <fa-icon id="faEdit" *ngIf="editProfileSwitch" [icon]="faEdit" (click)="companyAboutInputStatus = !companyAboutInputStatus"></fa-icon>
            </p>

            <textarea name="" id="" cols="30" rows="3"
            *ngIf="companyAboutInputStatus" class="edit-input" type="text" name="companyAboutInput" [(ngModel)]="companyAboutInput"></textarea>

            <button *ngIf="companyAboutInputStatus" id="faCheck" [disabled]="companyAboutInput === ''" (click)="changeCompanyAbout()" class="save-btn">Save</button>

        </div>








        <div class="company-other">




            <div class="wrap-one">

            <div class="img-wrap">
                 <div *ngIf="myCompany">
                     <img *ngIf="myCompany.logo.url === ''" src="../../../assets/images/logo.jpeg" alt="logo" class="company-logo">
                     <img *ngIf="myCompany.logo.url !== ''" [src]="myCompany.logo.url" alt="logo" class="company-logo">
                </div>
                <fa-icon id="faEdit" *ngIf="editProfileSwitch" [icon]="faEdit" (click)="previewCompLogo = 'sd'"></fa-icon>
                <input style="width: 5em !important;" *ngIf="editProfileSwitch && previewCompLogo" class="edit-input" type="text" type="file" name="fileUploaded" (change)="uploadLogo($event)">
                <button *ngIf="editProfileSwitch && previewCompLogo" id="faCheck" [disabled]="previewCompLogo === ''" (click)="saveCompanyProfile()" class="save-btn">Save</button>
            </div>



            <div class="other-info">

                <div class="item-info"> 
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    <span *ngIf="myCompany">{{myCompany.companyEmail}}</span>           
                    <fa-icon id="faEdit" *ngIf="editProfileSwitch" [icon]="faEdit" (click)="companyEmailInputStatus = !companyEmailInputStatus"></fa-icon>
                    <input *ngIf="editProfileSwitch && companyEmailInputStatus" class="edit-input" type="text" name="companyEmailInput" [(ngModel)]="companyEmailInput">
                    <button *ngIf="editProfileSwitch && companyEmailInputStatus" id="faCheck" [disabled]="companyEmailInput === ''" (click)="changeCompanyEmail()" class="save-btn">Save</button>
                </div>
                <div class="item-info"> 
                    <fa-icon [icon]="faGlobe"></fa-icon>
                    <span *ngIf="myCompany">{{myCompany.companyWebsite}}</span>    
                    <fa-icon id="faEdit" *ngIf="editProfileSwitch" [icon]="faEdit" (click)="companyWebsiteInputStatus = !companyWebsiteInputStatus"></fa-icon>
                    <input *ngIf="editProfileSwitch && companyWebsiteInputStatus" class="edit-input" type="text" name="companyWebsiteInput" [(ngModel)]="companyWebsiteInput">
                    <button *ngIf="editProfileSwitch && companyWebsiteInputStatus" id="faCheck" [disabled]="companyWebsiteInput === ''" (click)="changeCompanyWebsite()" class="save-btn">Save</button>
                </div>
                <div class="item-info"> 
                    <fa-icon [icon]="faAddressBook"></fa-icon>
                    <span *ngIf="myCompany">{{myCompany.companyAddress}}</span> 
                    <fa-icon id="faEdit" *ngIf="editProfileSwitch" [icon]="faEdit" (click)="companyAddressInputStatus = !companyAddressInputStatus"></fa-icon>
                    <input *ngIf="editProfileSwitch && companyAddressInputStatus" class="edit-input" type="text" name="companyAddressInput" [(ngModel)]="companyAddressInput">
                    <button *ngIf="editProfileSwitch && companyAddressInputStatus" id="faCheck" [disabled]="companyAddressInput === ''" (click)="changeCompanyAddress()" class="save-btn">Save</button>
                </div>

            </div>

        </div>   <!-- wrap-one -->

        <div class="wrap-two">
            <div class="actions d-flex">
                <div class="custom-control custom-switch ml-auto">
                    <input type="checkbox" name="editProfileSwitch" [(ngModel)]="editProfileSwitch"  class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Edit Profile</label>
                  </div>
            </div>
            <div class="w-100 pr-4 d-flex">
                <button class="btn btn-sm btn-outline-primary ml-auto" (click)="departmentModal.show()">Departments</button>
            </div>
            
        </div>
      

        </div>  <!-- company-other -->







        <div class="personal-info">
            <hr class="line">
            <div class="head">
                <h4>Personal Info</h4>
            </div>
            <div class="item-info"> 
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <span>{{loggedUserEmail}}</span>
            </div>
            <div class="item-info"> 
                <fa-icon [icon]="faKey"></fa-icon>
                <span>**********</span>
                <fa-icon id="faEdit" *ngIf="editProfileSwitch" [icon]="faEdit" (click)="userPasswordInputStatus = !userPasswordInputStatus"></fa-icon>
                <input *ngIf="editProfileSwitch && userPasswordInputStatus" class="edit-input" type="text" name="userPasswordInput" [(ngModel)]="userPasswordInput">
                <button *ngIf="editProfileSwitch && userPasswordInputStatus" id="faCheck" [disabled]="userPasswordInput === ''" (click)="changeUserPasswordInput()" class="save-btn">Save</button>
            </div>
        </div>







    </section>



</section>















<div bsModal  #viewAnswersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog viewAnswersModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title ">Responses of <span>{{companyNameOnView}}</span>  on <span>{{surveyNameOnView}} survey</span></h4>
            <button type="button" class="btn close" (click)="viewAnswersModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      
        </div>
        <div class="modal-body" >
     
          <div class="question-wrap" *ngFor="let item of QuestionsOnView">
  
            <div [ngClass]="item.wasSkipped ? 'question skipped' : 'question'">{{item.question}} <span *ngIf="item.wasSkipped">skipped</span> </div>

  
            <div class="answer-wrap" >
              <div *ngFor="let ans of item.answers" [ngClass]="ans.picked ? 'answer picked' : 'answer'" class="answer">{{ans.answer}}</div>
            </div>
  
          </div>
  
  
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  



  <div bsModal  #departmentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog departmentModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title ">Departments</h4>
            <button type="button" class="btn close" (click)="departmentModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      
        </div>
        <div class="modal-body" >

            <div class="actions d-flex">
                <button class="btn btn-sm mr-auto btn-outline-success" (click)="showDepartmentFormModal()">New</button>
                <div class="custom-control custom-switch ml-auto">
                    <input type="checkbox" name="editDepartmentSwitch" [(ngModel)]="editDepartmentSwitch"  class="custom-control-input" id="customSwitch2">
                    <label class="custom-control-label" for="customSwitch2">Edit</label>
                  </div>
            </div>
            <div class="dept-item d-flex" *ngIf="!myCompany || !myCompany.department || myCompany.department.length === 0">
                <h4 class="no-dept"> No Department set </h4>
                
            </div>  
            <div class="dept-item-wrap" *ngIf="myCompany && myCompany.department && myCompany.department.length > 0">
                <div class="dept-item d-flex" *ngFor="let item of myCompany.department">
                    <h4 >{{item.departmentName}}</h4>
                    <fa-icon *ngIf="editDepartmentSwitch" class="ml-auto mr-5 text-primary" [icon]="faEdit" (click)="editProfile(item)"></fa-icon>
                    <fa-icon *ngIf="editDepartmentSwitch" class="text-danger" [icon]="faTrash" (click)="deleteDepartment(item._id)"></fa-icon>
                </div>  
            </div>

  
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div bsModal  #departmentFormModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog departmentFormModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title ">Create New Department</h4>
            <button type="button" class="btn close" (click)="departmentFormModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      
        </div>
        <div class="modal-body" >

         <input type="text" name="departmentInput" [(ngModel)]="departmentInput" placeholder="Type here">
  
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm" (click)="saveDepartment()">Save</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
