@import 'src/styles.sass'

main
    width: 100%
    height: 100%
    

    h5
        margin-left: 1em

 

.card, .list-group

    width: 400px
    padding: 1em 1em
    margin: 2em
    background-color: #ffff
    text-align:center
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.card-header
    background-color: #074BF8
    color: #F7B308

.card-body
    margin: 0 auto

.survey-info , .survey-page

    display: flex
    font-size: 12px

.company-logo 
    width:70px
    height:70px
    border-radius: 50%
    




