@import "src/styles.sass"

.header
    width: 100%
    padding: 0 1em
    background-color: transparent
.header .header-wrap
    width: 100%
    height: 100%
    padding: 1em
    display: flex
    background-color: white
    border: solid 1px grayColor(g200)
.header .header-wrap h4 
    margin: auto auto auto 0
    color: colorTheme(primaryTheme)
    font-size: 18px 
    font-weight: bold
    text-transform: uppercase
    text-shadow: 1px -1px 1px white
    -moz-text-shadow: 1px -1px 1px white
    -webkit-text-shadow: 1px -1px 1px white
.header .header-wrap .btn
    width: fit-content
    height: 3em
    color: vanillaTheme(titleTheme)
    margin: auto 0 auto auto
    border: none
    font-size: 12px
    font-family: Montserrat
    text-transform: capitalize
    text-align: left
    background-color: transparent
    box-shadow: 3px -3px 3px rgba(0, 0, 0, .1)
    -moz-box-shadow: 3px -3px 3px rgba(0, 0, 0, .1)
    -webkit-box-shadow: 3px -3px 3px rgba(0, 0, 0, .1)
    border-radius: 2px
    border-bottom: solid 2px colorTheme(secondaryTheme)
    @include desktop_md          
        display: none !important
    &:hover
        background-color: grayColor(g400)
    fa, fa-icon
        font-size: 12px
        margin: 0 2em 0 0
    &.thm-danger
        fa, fa-icon
            color: colorTheme(secondaryTheme)




.body-section
    width: 100%
    display: flex



.spinner-div
    margin: auto
    color: grayColor(g100)
    

#faEdit
    font-size: 12px
    margin: 0 1em
    color: grayColor(g200)

    &:hover
        color: blue 
        cursor: pointer


.edit-input
    font-size: 12px
    outline: none
    border-radius: 2px
    border: solid 1px grayColor(g700)
    margin: 0 1em 0 0

.save-btn
    font-size: 12px
    margin: 0
    color: grayColor(g200)
    background-color: colorTheme(success)
    border: none
    outline: none
    border-radius: 2px
    padding: 3px 5px












.body-section .profile-section
    margin: auto
    max-width: 600px
    overflow: hidden
    background-color: white
    width: 100%
    height: fit-content
    padding: 1em
    border-radius: 5px
    transition: all .5s
    -webkit-transition: all .5s
    -moz-transition: all .5s

    &.minimize
        width: 3em 
        padding: 0em
        background-color: colorTheme(primaryTheme)

        .profile-switch
            fa-icon 
                cursor: pointer
                color: white
                font-size: 18px
                margin: .5em
               

                &:hover
                    color: colorTheme(warning)
                    

    @include desktop_md
        margin: 0 0 1em 0

.profile-switch
    fa-icon 
        cursor: pointer
        font-size: 14px
        
        &:hover
            color: colorTheme(warning)

.body-section .profile-section .company-info
    background-color: colorTheme(primaryTheme)
    padding: 1em
    border-radius: 0px

    h4
        color: white
        font-size: 22px

    p 
        font-size: 12px
        padding: 0 0 0 1em
        color: white

.body-section .profile-section .company-other
    height: fit-content
    display: flex
    align-items: stretch
    width: 100%

    .wrap-one
        text-align: center
        width: 100%
        

        
    .wrap-one
        text-align: center
        width: 100%
        display: flex
        flex-direction: column
        align-items: right
        justify-content: center

        .actions
            margin: 0 0 auto 0

            .custom-control
                padding: .5em 2em

                label
                    padding: 2px 0 0 0
                    font-size: 12px
                    font-weight: 400
                    text-transform: uppercase

        .btn
            padding: .4em
            border-radius: 1em
            float: right
            width: fit-content
            margin: 0 0 auto 0
            // margin: auto 1em 2em 50%
            // color: black
            font-size: 13px

            @include desktop_sm
                padding: 3px




.body-section .profile-section .company-other .img-wrap
    width: 100%
    text-align: left
    padding: 1em 2em

    img 
        // width: 100%
        height: 100%
        max-width: 100px
        max-height: 100px

.body-section .profile-section .company-other  .other-info
    width: 100%
    padding: 1em

    .item-info
        width: 100%
        // padding: .5em 1em .5em 15%
        text-align: left
        margin: 0 0 2em 0

        .title
            font-size: 12px
            font-weight: bold
            width: 15em
            color: teal
            text-transform: uppercase


        .v-wrap
            padding: 0 0 0 0

            span 
                font-weight: bold
                font-size: 12
                color: grayColor(g900)

        fa-icon
            font-size: 12px
            margin: 0 1em 0 1em 
            

        span 
            font-size: 12px
            margin-right: 1em

        


.body-section .profile-section .personal-info
    width: 100%
    padding: 1em

    .line
        width: 100%

    .head
        h4
            font-size: 14px



    .item-info
        width: 100%
        padding: .5em
        padding: .5em 1em .5em 15%
        text-align: left

        fa-icon
            font-size: 12px
            margin: 0 1em 0 0 
            

        span 
            font-size: 12px



    
.modal-header .btn
    color: white


.department-section
    width: 100%

    .head 
        background-color: grayColor(g200)
        width: 100%
        display: flex
        align-items: stretch

        h4 
            padding: 1em .5em
            font-size: 14px
            margin-right: auto
            font-weight: bold
            color: teal
            display: flex
            align-items: center

        .wrap
            margin: auto 1em auto auto
            height: 2em
            width: 2em
            background-color: grayColor(g100)
            border-radius: 50%
            cursor: pointer
            display: flex
            align-items: center

            fa-icon 
                margin: auto
                font-size: 14px
                color: colorTheme(success)

            &:hover
                background-color: colorTheme(success)
                
                fa-icon 
                    color: grayColor(g100)

          
    .body-wrap-dp
        width: 100%
    
           
        .item-list
            padding: .5em
            background-color: whitesmoke
            width: 100%
            display: flex
            margin: 0 0 .5em 0

            span 
                font-size: 13px
                margin-right: auto
                width: 100%


            .wrap-item
                margin-left: auto 
                text-align: right
                

                fa-icon 
                    margin: 0 1em 0 0
                    font-size: 12px
                    margin-left: auto 
                    color: grayColor(g300)
                    cursor: pointer

                    &:hover

                        &.fa-editt
                            color: colorTheme(primary)

                        &.fa-delete
                            color: colorTheme(danger)
    




.departmentModal
    border: none
    .modal-content
        width: 100%
        border: none
  
        .modal-header 
            border: none
            background-color: colorTheme(primaryTheme)
            .modal-title
                color: white
                font-size: 14px
                text-transform: uppercase
                span 
                    color: black
        .modal-body
            .actions
                margin: 0 0 auto 0
                padding: 0  2em
                background-color: whitesmoke

                .btn
                    padding: .5em 1em
                    font-size: 12px
                .custom-control
                    padding: .5em 1em
                    label
                        padding: 2px 0 0 0
                        font-size: 12px
                        font-weight: 400
                        text-transform: uppercase
            .dept-item
                width: 100%
                padding: .5em 1em
                border-bottom: solid 1px grayColor(g100)

                h4
                    font-size: 12px

                    &.no-dept
                        font-style: italic

                fa-icon 
                    font-size: 12px
                    color: colorTheme(danger)
                    cursor: pointer





      
.departmentFormModal
    border: none

    .modal-content
        width: 100%
        border: none
  
        .modal-header 
            border: none
            background-color: colorTheme(primaryTheme)
            .modal-title
                color: white
                font-size: 14px
                text-transform: uppercase
            span 
                color: white

        .modal-body
            border: none
            background-color: white

            input
                // width: 100%
                border-radius: 2px
                padding: .5em
                border: none
                outline: none
                background-color: grayColor(g100)
                font-size: 12px
        .modal-footer
            border: none
            background-color: colorTheme(primaryTheme)

            .btn
                color: white
                background-color: transparent
                border: solid 1px white







