
<main>
    <h5>Profile</h5>
    <div class="survey-page">
        <div class="left-section">
            <div class="card ">
                <strong><h6>Survey info</h6> </strong>
                <div class="survey-info">
                    <div class="col-md-6 ">
                        <p>Questionaire</p>
                    </div>
                    <div class="col-md-6">
                        <p>feedback</p>
                    </div>
        
                    
                </div>
                <div class="survey-info">
                    <div class="col-md-6 ">
                        <p>Issue rating</p>
                    </div>
                    <div class="col-md-6 survey-info">
                        <p>reports</p>
                    </div>
        
                    
                </div>
        
        
               
            </div>
        
            <div class="card ">
                <strong><h6>Account status</h6> </strong>
                
            </div>
        </div>
    
        <div class="right-section">
            <div class="card">
                <div class="card-header">
                    <h6>Company name </h6>
                    <p>Lorem ipsum dolor sit amet, habeo numquam aliquando id eum, duo an sapientem urbanitas,</p>
                </div>
                <div class="card-body">
                    <img src="../../../assets/images/logo.jpeg" alt="logo" class="company-logo">
                    <div class="icon-group">
                        <fa-icon [icon]="faEnvelope" class="mr-2"></fa-icon><p>info@mycompany.com</p>
                    </div>

                    <div class="icon-group">
                        <fa-icon [icon]="faPhone" class="mr-2"></fa-icon>
                        <p>+250 070-000-0020</p>
                    </div>
                   <div class="icon-group">
                    <fa-icon [icon]="faAddressBook" class="mr-2"></fa-icon>
                    <p>23787, Nairobi Kennta</p>
                   </div>
                    
                    

                </div>
                
              
        
              </div>
        </div>
    </div>


    

</main>

