@import 'src/styles.sass'


.page-title
    width: 100%
    padding: 1em 2em

    h4 
        font-size: 18px 
        font-weight: bold
        text-transform: uppercase
        text-shadow: 1px -1px 1px white
        -moz-text-shadow: 1px -1px 1px white
        -webkit-text-shadow: 1px -1px 1px white



.body-section
    display: flex
    align-items: stretch
    padding: 0 1em

    @include desktop_md
        display: flex
        flex-direction: column-reverse
        align-items: center
        justify-content: center



.spinner-div
    margin: auto
    color: grayColor(g100)
    

#faEdit
    font-size: 12px
    margin: 0 1em
    color: grayColor(g200)

    &:hover
        color: blue 
        cursor: pointer


.edit-input
    font-size: 12px
    outline: none
    border-radius: 2px
    border: solid 1px grayColor(g700)
    margin: 0 1em 0 0

.save-btn
    font-size: 12px
    margin: 0
    color: grayColor(g200)
    background-color: colorTheme(success)
    border: none
    outline: none
    border-radius: 2px
    padding: 3px 5px





.body-section .info-section
    width: 100%





    .survey-info-wrap, .account-status-wrap
        background-color: white
        width: 100%
        margin: 0 0 1em 0
        border-radius: 5px
        // box-shadow: 0 0 10px rgba(0, 0, 0, .2)
        // -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2)
        // -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2)
        padding: 1em

        h5
            width: 100%
            padding: .5em 1em 2em 1em
            font-size: 12px
            color: grayColor(g600)
            font-weight: bold

        .grid-container
            margin: 0 0 0 1em
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-gap: 0px   

            .grid-item
                height: 7em  

                h4 
                    font-size: 12px
                    color: grayColor(g800)
                    

                .body-wrap 
                    width: 100%
                    padding: 1em 0

                    .icon
                        width: 2em
                        height: 2em
                        display: flex
                        flex-direction: column
                        justify-content: center

                        fa-icon
                            color: colorTheme(secondaryTheme)
                            font-size: 18px
                    .value
                        width: 100%
                        height: 2em
                        display: flex
                        flex-direction: column
                        justify-content: flex-end

                        h4
                            font-size: 14px
                            color: colorTheme(primaryTheme)

                



.body-section .info-section 

    &.zero-survey-one
        background-color: white
        width: 100%
        height: 100%
        border-radius: 5px

        .wrap 
            height: 620px
            background-size: cover

        

            h4 
                font-size: 22px
                width: 100%
                text-align: center 
                padding: 4em 1em
                font-weight: bold 
                color: colorTheme(primaryTheme)
                text-transform: uppercase


            h5 
                font-size: 12px
                width: 100%
                text-align: center 
                padding: 1em
                font-weight: bold 
                color: black
                text-transform: uppercase

            p 
                text-align: center
                width: 100%
                font-size: 12px







.graph-switch
    display: flex
    align-items: center
    justify-content: center

    span 
        border: none
        padding: 5px

        &:hover
            background-color: grayColor(g600)

            fa-icon 
                color: white


        fa-icon
            margin: auto
            font-size: 14px
            margin: 5px
            cursor: pointer
            color: grayColor(g400)

            &.active 
                color: colorTheme(primaryTheme)
                font-size: 16px



#chart_key
    width: 100%
    display: flex
    text-align: right

    .wrap
        margin-left: auto
        display: flex
        align-items: stretch

        @include desktop_sm
            display: flex
            flex-direction: column
       

        div
            display: flex
            align-items: stretch
            margin: 0 1em 0 0

            .color
                width: 1em
                height: 1em
                border-radius: 50%
                margin: 0 .5em 3px 0
                color: transparent

            .text
                font-size: 12px


.body-section .info-section .risk-section
    background-color: white
    width: 100%
    margin: 0 0 1em 0
    border-radius: 5px
    // box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    // -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    // -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    padding: 1em

    .title
        width: 100%
        padding: .5em 1em 2em 1em
        font-size: 12px
        color: grayColor(g600)
        font-weight: bold


    .body-wrapper
        width: 100%
        height: 200px
        overflow-y: scroll
        padding: 0 0 1em 0
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        .body-title
            width: 100%
            padding: .5em
            height: fit-content
            max-height: 100px
            min-width: 400px  
            
            .body-item 
                height: 100%         
                width: 100%
                padding: .5em
                margin: 0 0 .5em 0
                cursor: pointer
                background-color: grayColor(g100)

                div
                    height: 100%
                    font-size: 11px
                    font-weight: 500px
                    text-align: left
                    padding: 0 0 0 1em
                    width: 100%
                    

        .body   
            width: 100%
            padding: .5em
            height: 200px
            min-width: 400px

            .body-item 
               
                width: 100%
                padding: .5em
                margin: 0 0 .5em 0
                cursor: pointer
                background: linear-gradient( white 0%, lighten(colorTheme(primaryTheme), 35%) 90%), linear-gradient(to right, lighten(colorTheme(primaryTheme), 35%) 0%, white 90%)
                -moz-background: linear-gradient( white 0%, lighten(colorTheme(primaryTheme), 35%) 90%), linear-gradient(to right, lighten(colorTheme(primaryTheme), 35%) 0%, white 90%)
                -webkit-background: linear-gradient( white 0%, lighten(colorTheme(primaryTheme), 35%) 90%), linear-gradient(to right, lighten(colorTheme(primaryTheme), 35%) 0%, white 90%)
                -moz-background-blend-mode: screen, difference, lighten
                -webkit-background-blend-mode: screen, difference, lighten
                background-blend-mode: screen, difference, lighten

                &:hover
                    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2)

                div
                    font-size: 11px
                    font-weight: 500px
                    text-align: left
                    width: 100%
                    padding: 0 0 0 1em

                    &.riskRate
                        background-color: grayColor(g100)
                        color: white

                    &.low 
                        background-color: colorTheme(success)
                    &.medium
                        background-color: colorTheme(warning)
                    &.high
                        background-color: colorTheme(danger)











#chart_section
    display: grid
    grid-template-columns: repeat(1, 1fr)
    // display: flex
    // align-items: stretch
    width: 100%
    // height: 100%
    
    @include desktop_lg
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center


#chart_section .card
    border: none
    border-radius: 5px
    width: 100%
    height: 400px
    margin: 0 1.5em 1em 0
    transition: all 0.3s ease
    cursor: pointer
    padding: 1em
    // box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    // -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    // -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2)
   
    
    &:hover
      transform: translateY(-5px)
      box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3)



    .title
        width: 100%
        padding: .5em 1em 2em 1em
        font-size: 12px
        color: grayColor(g600)
        font-weight: bold


    .body-wrapper
        width: 100%
        height: 250px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center








.risk-graph-section
    border: none
    border-radius: 5px
    width: 100%
    height: fit-content
    margin: 0 0 1em 0
    transition: all 0.3s ease
    cursor: pointer
    padding: 1em
    background-color: white
    // box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    // -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    // -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2)


    .title
        width: 100%
        padding: .5em 1em 2em 1em
        font-size: 12px
        color: grayColor(g600)
        font-weight: bold


    .body-wrapper
        width: 100%
        height: 320px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        canvas
            // width: 100%





















.body-section .info-section .account-status-wrap
    background-color: white
    // width: 100%
    margin: 0 0 1em 0
    border-radius: 5px
    // box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    // -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    // -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    padding: 1em

    .title
        width: 100%
        padding: .5em 1em 2em 1em
        font-size: 12px
        color: grayColor(g600)
        font-weight: bold


    .body-wrapper
        width: 100%
        height: 220px
        overflow-y: scroll
        padding: 0 0 1em 0
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        .body-title
            width: 100%
            padding: .5em
            height: 50px
            min-width: 400px  
            
            .body-item 
                height: 100%         
                width: 100%
                padding: .5em
                margin: 0 0 .5em 0
                cursor: pointer
                background-color: grayColor(g100)

                div
                    height: 100%
                    font-size: 11px
                    font-weight: 500px
                    text-align: left
                    padding: 0 0 0 1em
                    width: 100%
                    

        .body   
            width: 100%
            padding: .5em
            height: 300px
            min-width: 400px

            .body-item 
               
                width: 100%
                padding: .5em
                margin: 0 0 .5em 0
                cursor: pointer
                background: linear-gradient( white 0%, lighten(colorTheme(primaryTheme), 35%) 90%), linear-gradient(to right, lighten(colorTheme(primaryTheme), 35%) 0%, white 90%)
                -moz-background: linear-gradient( white 0%, lighten(colorTheme(primaryTheme), 35%) 90%), linear-gradient(to right, lighten(colorTheme(primaryTheme), 35%) 0%, white 90%)
                -webkit-background: linear-gradient( white 0%, lighten(colorTheme(primaryTheme), 35%) 90%), linear-gradient(to right, lighten(colorTheme(primaryTheme), 35%) 0%, white 90%)
                -moz-background-blend-mode: screen, difference, lighten
                -webkit-background-blend-mode: screen, difference, lighten
                background-blend-mode: screen, difference, lighten

                &:hover
                    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2)

                div
                    font-size: 11px
                    font-weight: 500px
                    text-align: left
                    width: 100%
                    padding: 0 0 0 1em

                    &.riskRate-high
                        background-color: colorTheme(danger)
                        color: white
                    &.riskRate-medium
                        background-color: orange
                        color: white
                    &.riskRate-low
                        background-color: colorTheme(success)
                        color: white




















.body-section .profile-section
    overflow: hidden
    background-color: white
    width: 100%
    max-width: 350px
    min-height: 700px
    height: fit-content
    padding: 1em
    border-radius: 5px
    margin: 0 0 1em 1em
    transition: all .5s
    -webkit-transition: all .5s
    -moz-transition: all .5s

    &.minimize
        width: 3em 
        padding: 0em
        background-color: colorTheme(primaryTheme)

        .profile-switch
            fa-icon 
                cursor: pointer
                color: white
                font-size: 18px
                margin: .5em
               

                &:hover
                    color: colorTheme(warning)
                    

    @include desktop_md
        margin: 0 0 1em 0

.profile-switch
    fa-icon 
        cursor: pointer
        font-size: 14px
        
        &:hover
            color: colorTheme(warning)

.body-section .profile-section .company-info
    background-color: colorTheme(primaryTheme)
    padding: 1em
    border-radius: 0px

    h4
        color: white
        font-size: 22px

    p 
        font-size: 12px
        padding: 0 0 0 1em
        color: white

.body-section .profile-section .company-other
    height: fit-content
    display: flex
    align-items: stretch
    width: 100%

    .wrap-one
        text-align: center
        width: 100%
        

        
    .wrap-one
        text-align: center
        width: 100%
        display: flex
        flex-direction: column
        align-items: right
        justify-content: center

        .actions
            margin: 0 0 auto 0

            .custom-control
                padding: .5em 2em

                label
                    padding: 2px 0 0 0
                    font-size: 12px
                    font-weight: 400
                    text-transform: uppercase

        .btn
            padding: .4em
            border-radius: 1em
            float: right
            width: fit-content
            margin: 0 0 auto 0
            // margin: auto 1em 2em 50%
            // color: black
            font-size: 13px

            @include desktop_sm
                padding: 3px




.body-section .profile-section .company-other .img-wrap
    width: 100%
    text-align: left
    padding: 1em 2em

    img 
        // width: 100%
        height: 100%
        max-width: 100px
        max-height: 100px

.body-section .profile-section .company-other  .other-info
    width: 100%
    padding: 1em

    .item-info
        width: 100%
        // padding: .5em 1em .5em 15%
        text-align: left
        margin: 0 0 1em 0

        .title
            font-size: 12px
            font-weight: bold
            width: 15em


        fa-icon
            font-size: 12px
            margin: 0 1em 0 1em 
            

        span 
            font-size: 12px
            margin-right: 1em


.body-section .profile-section .personal-info
    width: 100%
    padding: 1em

    .line
        width: 100%

    .head
        h4
            font-size: 14px



    .item-info
        width: 100%
        padding: .5em
        padding: .5em 1em .5em 15%
        text-align: left

        fa-icon
            font-size: 12px
            margin: 0 1em 0 0 
            

        span 
            font-size: 12px



    


.viewAnswersModal
    border: none

    .modal-content
        width: 100%
        border: none
  
        .modal-header 
            border: none
            background-color: colorTheme(primary)

            .modal-title
                color: white
                font-size: 14px

                span 
                    margin: 0 .5em
                    color: black

    
        .modal-body
            width: 100%
            height: 500px
            overflow-x: scroll
            border: none


            .question-wrap
                width: 100%
                padding: 1em
                border: solid 1px grayColor(g100)
                border-radius: 5px

                .question
                    font-size: 15px
                    color: black

                    &.skipped 
                        font-style: italic
                        color: grayColor(g600)

                        span 
                            color: colorTheme(warning)
                            font-style: 12px

                .answer-wrap
                    width: 100%
                    display: grid
                    grid-template-columns: repeat(2, 1fr)
                    grid-gap: 10px


                    .answer
                        width: 100%
                        overflow: hidden
                        text-overflow: ellipsis
                        display: block
                        padding: 2px
                        font-size: 12px
                        padding: 5px
                        border: solid 1px grayColor(g100)
                        border-radius: 5px
                        font-style: italic

                        &.picked
                            background-color: colorTheme(info)
                            color: white

.department-section
    width: 100%

    .head 
        padding: .5em
        background-color: grayColor(g200)
        width: 100%
        display: flex

        h4 
            font-size: 14px
            margin-right: auto
            font-weight: bold

        .wrap
            margin-left: auto
            height: 1em
            width: 1em
            color: grayColor(g300)
            border-radius: 50%
            padding: .2em 0 0 .5em
            cursor: pointer


            fa-icon 
                font-size: 14px
                color: colorTheme(success)
          
    .body-wrap-dp
        width: 100%
    
           
        .item-list
            padding: .5em
            background-color: whitesmoke
            width: 100%
            display: flex
            margin: 0 0 .5em 0

            span 
                font-size: 13px
                margin-right: auto
                width: 100%


            .wrap-item
                margin-left: auto 
                text-align: right
                

                fa-icon 
                    margin: 0 1em 0 0
                    font-size: 12px
                    margin-left: auto 
                    color: grayColor(g300)
                    cursor: pointer

                    &:hover

                        &.fa-edit
                            color: colorTheme(primary)

                        &.fa-delete
                            color: colorTheme(danger)
    




.departmentModal
    border: none

    .modal-content
        width: 100%
        border: none
  
        .modal-header 
            border: none
            background-color: colorTheme(primary)

            .modal-title
                color: white
                font-size: 14px
                text-transform: uppercase

                span 
                    color: black

        .modal-body

            .actions
                margin: 0 0 auto 0
                padding: 0  2em
                background-color: whitesmoke

                .btn
                    padding: .5em 1em
                    font-size: 12px

                .custom-control
                    padding: .5em 1em

                    label
                        padding: 2px 0 0 0
                        font-size: 12px
                        font-weight: 400
                        text-transform: uppercase


            .dept-item
                width: 100%
                padding: .5em 1em
                border-bottom: solid 1px grayColor(g100)

                h4
                    font-size: 12px

                    &.no-dept
                        font-style: italic

                fa-icon 
                    font-size: 12px
                    color: colorTheme(danger)
                    cursor: pointer





      
.departmentFormModal
    border: none

    .modal-content
        width: 100%
        border: none
  
        .modal-header 
            border: none
            background-color: colorTheme(success)

            .modal-title
                color: white
                font-size: 14px
                text-transform: uppercase

            span 
                color: white

        .modal-body
            border: none
            background-color: white

            input
                // width: 100%
                border-radius: 2px
                padding: .5em
                border: none
                outline: none
                background-color: grayColor(g100)
                font-size: 12px
    


        .modal-footer
            border: none
            background-color: colorTheme(success)

            .btn
                color: white
                background-color: transparent
                border: solid 1px white




