

<section class="body-section">




    <section id="top_cards_section" class="card-group">

        <div class="card first">

        </div>

        <div class="card second">

        </div>

        <div class="card third">

        </div>

        <div class="card forth">

        </div>


    </section><!-- top_cards_section -->






    <section id="second_cards_section" class="card-group">
        <div class="card">
            <div class="title d-flex"> <span>GDP</span>
                <div class=" graph-switch d-flex ml-auto">
                  
                    <span ><fa-icon [icon]="faChartLine" class="active" ></fa-icon></span> 
                    <span ><fa-icon [icon]="faChartBar" ></fa-icon></span>
                    <span > <fa-icon [icon]="faChartPie"></fa-icon> </span>
                </div>
            </div>
            <div class="body-wrapper">
                <canvas *ngIf="gdpType" baseChart class="chart" [chartType]="gdpType" [labels]="gdpLabels"
                [datasets]="gdpDatasets" [options]="gdpChartOptions"></canvas>
            </div>

        </div>

        <div class="card">
            <div class="title d-flex"> <span>Exchange Rates</span>
                <div class=" graph-switch d-flex ml-auto">
                    <span ><fa-icon [icon]="faChartLine" class="active" ></fa-icon></span> 
                    <span ><fa-icon [icon]="faChartBar" ></fa-icon></span>
                    <span > <fa-icon [icon]="faChartPie"></fa-icon> </span>
                </div>
            </div>

            <div class="body-wrapper">
                <canvas *ngIf="exchangeType" baseChart class="chart" [chartType]="exchangeType" [labels]="exchangeLabels"
                [datasets]="exchangeDatasets" [options]="exchangeChartOptions"></canvas>
            </div>

        </div>
    </section><!-- second_cards_section -->













    <section hidden id="graph_section" class="card-group">
        <div class="card">
            <div class="title d-flex"> <span>----------</span>
                <div class=" graph-switch d-flex ml-auto">
                    <span ><fa-icon [icon]="faChartLine" class="active" ></fa-icon></span> 
                    <span ><fa-icon [icon]="faChartBar" ></fa-icon></span>
                    <span > <fa-icon [icon]="faChartPie"></fa-icon> </span>
                </div>
            </div>
            <div class="body">
                <canvas *ngIf="exchangeType" baseChart class="chart" [chartType]="exchangeType" [labels]="exchangeLabels"
                [datasets]="exchangeDatasets" [options]="exchangeChartOptions"></canvas>
            </div>

        </div>
    </section> <!-- graph_section -->





















    <section hidden id="third_cards_section" class="card-group">
       
        <div class="card">
            <div class="title">List of Risk Issues among Companies</div>

            <div class="body-wrapper">
                <div class="body-title">

                    <div class="body-item d-flex">
                        <div class="mx-auto ">Threat</div>
                        <div class="mx-auto ">Company</div>
                        <div class="mx-auto ">Severity</div>
                        <!-- <div class="rate">Intervention</div> -->
                    </div>

                </div>

                <!-- <div class="body d-flex" *ngIf="CompnayRiskRates">
                    <div class="spinner-div spinner-border mx-auto" role="status"></div>
                </div> -->

                <div class="body" >

                  

                </div>
            </div>

        </div>






        <div class="card">
            <div class="title">List of Company Risk Rates Per Survey Template</div>
            <div class="body-wrapper">
                <div class="body-title">

                    <div class="body-item d-flex">
                        <div class="mx-auto ">Comapany Name</div>
                        <div class="mx-auto ">Survey Name</div>
                        <div class="mx-auto ">Risk rate</div>
                        <!-- <div class="rate">Recommendation</div> -->
                    </div>

                </div>

                <!-- <div class="body d-flex" *ngIf="CompnayRiskRates">
                    <div class="spinner-div spinner-border mx-auto" role="status"></div>
                </div> -->

                <div class="body" >


                </div>
            </div>

        </div>



    </section><!-- third_cards_section -->
































































    <section hidden id="list_section_one" class="card-group">
        <div class="card">

        </div>
    </section> <!-- list_section_one -->









    <section hidden id="list_section_two" class="card-group">
        <div class="card">

        </div>
    </section> <!-- list_section_two -->

</section><!-- body-section -->








<div class="page-footer">

    <!-- <h5>Survey System &copy; {{thisYear}} <span>Tactive</span></h5> -->

    <h6>Powered by <span>Imprint Africa</span></h6>

</div>