

<section class="body-section">




    <section id="top_cards_section" class="card-group">

        <div class="card first">

        </div>

        <div class="card second">

        </div>

        <div class="card third">

        </div>

        <div class="card forth">

        </div>


    </section><!-- top_cards_section -->






    <section id="second_cards_section" class="card-group">
        <div class="card">
            <div class="title d-flex"> <span>GDP</span>
                <div *ngIf="gdpProgress === 100 && MyFormatedGDP.length > 0 && gdpType" class=" graph-switch d-flex ml-auto">
                  
                    <span (click)="gdpGraphToLine()"><fa-icon [icon]="faChartLine" [ngClass]="gdpType === 'line' ? 'active' : ''" ></fa-icon></span> 
                    <span (click)="gdpGraphToBar()"><fa-icon [icon]="faChartBar" [ngClass]="gdpType === 'bar' ? 'active' : ''" ></fa-icon></span>
                    <span (click)="gdpGraphToPie()"> <fa-icon [icon]="faChartPie" [ngClass]="gdpType === 'pie' ? 'active' : ''" ></fa-icon> </span>
                </div>
            </div>
            <div class="body-wrapper">
                <circle-progress [hidden]="gdpProgress === 100" [percent]="gdpProgress" ></circle-progress>
                <div *ngIf="gdpProgress === 100 && MyFormatedGDP.length === 0" class="no-data d-flex">
                    <h6>No GDP data yet</h6>
                </div>

                <canvas *ngIf="gdpProgress === 100 && MyFormatedGDP.length > 0 && gdpType" baseChart class="chart" [chartType]="gdpType" [labels]="gdpLabels"
                [datasets]="gdpDatasets" [options]="gdpChartOptions"></canvas>
            </div>

            <div *ngIf="gdpProgress === 100 && MyFormatedGDP.length > 0 && gdpType" class="footer-label">
                <div *ngFor="let cntry of gdpCountrys" [ngClass]="cntry === gdpDatasets[0].label ? 'item active' : 'item' " (click)="switchGDPCountry(cntry)">{{cntry}}</div>
            </div>

        </div>

        <div class="card">
            <div class="title d-flex"> <span>Exchange Rates</span>
                <div *ngIf="exchangeProgress === 100 && ExchangeRates.length > 0 && exchangeType" class=" graph-switch d-flex ml-auto">
                    <span (click)="exchangeGraphToLine()"><fa-icon [icon]="faChartLine" [ngClass]="exchangeType === 'line' ? 'active' : ''" ></fa-icon></span> 
                    <span (click)="exchangeGraphToBar()"><fa-icon [icon]="faChartBar" [ngClass]="exchangeType === 'bar' ? 'active' : ''" ></fa-icon></span>
                    <span (click)="exchangeGraphToPie()"> <fa-icon [icon]="faChartPie" [ngClass]="exchangeType === 'pie' ? 'active' : ''" ></fa-icon> </span>
                </div>
            </div>

            <div class="body-wrapper">
                <circle-progress [hidden]="exchangeProgress === 100" [percent]="exchangeProgress" ></circle-progress>
                <div *ngIf="exchangeProgress === 100 && ExchangeRates.length === 0" class="no-data d-flex">
                    <h6>No Exchange Rates data yet</h6>
                </div>
                <canvas *ngIf="exchangeProgress === 100 && ExchangeRates.length > 0 && exchangeType" baseChart class="chart" [chartType]="exchangeType" [labels]="exchangeLabels"
                [datasets]="exchangeDatasets" [options]="exchangeChartOptions"></canvas>
            </div>

        </div>
    </section><!-- second_cards_section -->













    <section hidden id="graph_section" class="card-group">
        <div class="card">
            <div class="title d-flex"> <span>----------</span>
                <div class=" graph-switch d-flex ml-auto">
                    <span ><fa-icon [icon]="faChartLine" class="active" ></fa-icon></span> 
                    <span ><fa-icon [icon]="faChartBar" ></fa-icon></span>
                    <span > <fa-icon [icon]="faChartPie"></fa-icon> </span>
                </div>
            </div>
            <div class="body">
                <canvas *ngIf="exchangeType" baseChart class="chart" [chartType]="exchangeType" [labels]="exchangeLabels"
                [datasets]="exchangeDatasets" [options]="exchangeChartOptions"></canvas>
            </div>

        </div>
    </section> <!-- graph_section -->





















    <section hidden id="third_cards_section" class="card-group">
       
        <div class="card">
            <div class="title">List of Risk Issues among Companies</div>

            <div class="body-wrapper">
                <div class="body-title">

                    <div class="body-item d-flex">
                        <div class="mx-auto ">Threat</div>
                        <div class="mx-auto ">Company</div>
                        <div class="mx-auto ">Severity</div>
                        <!-- <div class="rate">Intervention</div> -->
                    </div>

                </div>

                <!-- <div class="body d-flex" *ngIf="CompnayRiskRates">
                    <div class="spinner-div spinner-border mx-auto" role="status"></div>
                </div> -->

                <div class="body" >

                  

                </div>
            </div>

        </div>






        <div class="card">
            <div class="title">List of Company Risk Rates Per Survey Template</div>
            <div class="body-wrapper">
                <div class="body-title">

                    <div class="body-item d-flex">
                        <div class="mx-auto ">Comapany Name</div>
                        <div class="mx-auto ">Survey Name</div>
                        <div class="mx-auto ">Risk rate</div>
                        <!-- <div class="rate">Recommendation</div> -->
                    </div>

                </div>

                <!-- <div class="body d-flex" *ngIf="CompnayRiskRates">
                    <div class="spinner-div spinner-border mx-auto" role="status"></div>
                </div> -->

                <div class="body" >


                </div>
            </div>

        </div>



    </section><!-- third_cards_section -->
































































    <section hidden id="list_section_one" class="card-group">
        <div class="card">

        </div>
    </section> <!-- list_section_one -->









    <section hidden id="list_section_two" class="card-group">
        <div class="card">

        </div>
    </section> <!-- list_section_two -->

</section><!-- body-section -->








