<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<main>



    <div class="side-bg"></div>
    
    
    
    <section class="body-section d-flex">
       
        
        <div class="form-section mx-auto">
    
    
            <div class="logo-section">
                <div class="wrap">
                    <h4>{{surveyName}}</h4>
    
                    <img class="logo" src="../../../assets/images/logo1.png" alt="" >

                    <button *ngIf="pageNumber === 1" class="btn btn-sm btn-outline-light" (click)="back()">Back</button>
                    <button *ngIf="pageNumber > 1" class="btn btn-sm btn-outline-warning" (click)="saveAndExit()">Save & continue later</button>
                    <button *ngIf="pageNumber > 1" class="btn btn-sm btn-outline-light mt-4" (click)="moveToPreviousQuestion()" >Move to previous question</button>
                </div>
    
            </div>
    
    
            <div class="form-wrap">
    
    
            <form class="form">
    
                <div *ngIf="questions.length > 0" [ngClass]="'dynamic-wrapper'">

                    <div class="head">
                        <h4>Answer section</h4>
                    </div>
        
                    <div class="form-group">
                        <p>{{questionTag}}</p>
                    </div>
                    
                    <div class="form-group" *ngIf="open">
                        <input id="typeInput" type="{{type}}" [(ngModel)]="response" (keyup)="captureResponse(); detectChangeOnAnswer();" name="response" placeholder="">
                    </div>


                    <div class="multy-choice-wrap w-100"  *ngIf="!open && multiple">
                        <div class="form-group" *ngFor="let option of options">
                            <input type="checkbox"
                            [checked]="multiAnswers.indexOf(option.answer) > -1 || option.answer === response"
                            (click)="captureMultipleResponses(option); detectChangeOnAnswer();" name="response" value="{{option.answer}}">
                            <label for="response">{{option.answer}}</label>
                        </div>
                    </div>
                    <div class="multy-choice-wrap w-100"  *ngIf="!open && !multiple">
                        <div class="form-group" *ngFor="let option of options">
                            <input type="radio" [(ngModel)]="response" name="response" (change)="captureSingleResponse(option); detectChangeOnAnswer();" value="{{option.answer}}">
                            <label for="response">{{option.answer}}</label>
                        </div>
                    </div>

                    <div *ngIf="skip && previousSteps === 0" class="btn-wrap d-flex">
                        <button *ngIf="(response==='' || responseArray.length ===0)"
                        [disabled]="response || responseArray.length !== 0"
                        class="btn btn-sm btn-next ml-auto" (click)="next(pageNumber)">Skip</button>
                        <button *ngIf="!isLast && (response || responseArray.length !==0)"
                        [disabled]="(response === '' || !response) && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="next(pageNumber)">Next</button>
                        <button *ngIf="isLast && (response || response !== '' || responseArray.length !==0)" [disabled]="(!response || response === '') && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="Process(pageNumber)">Submit</button>
                    </div>

                    <div *ngIf="!skip && !isLast && previousSteps === 0" class="btn-wrap d-flex">
                        <button [disabled]="(response === '' || !response) && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="next(pageNumber)">Next</button>
                    </div>
                    <div *ngIf="previousSteps > 0" class="btn-wrap d-flex">
                        <button [disabled]="(response === '' || !response) && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="updatePreviousAnswers()">Update & Next</button>
                    </div>

                    <div *ngIf="isLast && !skip && previousSteps === 0" class="btn-wrap d-flex">
                        <button [disabled]="(!response || response === '') && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="Process(pageNumber)">Submit</button>
                    </div>

                    <div class="text-muted">
                        <h6>{{((pageNumber-1) / totalPages)*100 | number:'1.0-2'}}  % Done</h6>
                    </div>

                </div>

            </form>

    
            </div>
    
        </div>
    
    </section>
    
    
    
    </main>
    
    
    