<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>







<main class="main-wrapper">


<section class="side-section">


<div class="wrap">
    <button  class="btn btn-sm btn-back" (click)="back()">
        <fa-icon [icon]="faArrowLeft"></fa-icon> Back to Surveys
    </button>
    <div class="survey">
        {{surveyName}}
    </div>
    <div class="action">
        <button *ngIf="pageNumber > 1" class="btn btn-sm btn-continue" (click)="saveAndExit()">
            <fa-icon [icon]="faSave" class="mr-2"></fa-icon>Save & continue later</button>
    </div>
</div>



</section>  



<section class="body-section">
    <div class="body-section-wrapper">

        <div class="body-template">
            <div class="body-template-wrap">
            <form id="the_form" class="form">

                <div *ngIf="pageProgress !== 100" class="progress-wrap">
                    <circle-progress [percent]="pageProgress" ></circle-progress>
                </div>


                <div *ngIf="notificationForm" class="notificationForm">
                    <div class="wrap-success"> <h5>Success !!</h5>
                       <p> Survey responses submited</p>
                    </div>
                    <div class="wrap-thank-you"> <h5>Thank you</h5>
                        <p>for choosing to answer our survey</p>
                    </div>
                </div>
    
                <div *ngIf="questions.length > 0 && pageProgress === 100 && !notificationForm" [ngClass]="'dynamic-wrapper'">
                    <div class="form-group quiz-wrap">
                        <p class="questionTag">{{questionTag}}</p>
                    </div>
                    
                    <div class="form-group" *ngIf="open">
                        <input id="typeInput" type="{{type}}" [(ngModel)]="response" (keyup)="captureResponse(); detectChangeOnAnswer();" name="response" placeholder="Type here ...">
                    </div>


                    <div class="multy-choice-wrap w-100"  *ngIf="!open && multiple">
                        <div class="form-group" *ngFor="let option of options">
                            <input type="checkbox"
                            [checked]="multiAnswers.indexOf(option.answer) > -1 || option.answer === response"
                            (click)="captureMultipleResponses(option); detectChangeOnAnswer();" name="response" value="{{option.answer}}">
                            <label for="response">{{option.answer}}</label>
                        </div>
                    </div>
                    <div class="multy-choice-wrap w-100"  *ngIf="!open && !multiple">
                        <div class="form-group" *ngFor="let option of options">
                            <input type="radio" [(ngModel)]="response" name="response" (change)="captureSingleResponse(option); detectChangeOnAnswer();" value="{{option.answer}}">
                            <label for="response">{{option.answer}}</label>
                        </div>
                    </div>

                </div>

            </form>

            <div class="action-section">

                <div class="top-wrap">
                    <div class="prev-wrap">
                        <button *ngIf="pageNumber > 1" class="btn btn-sm btn-previous" (click)="moveToPreviousQuestion()" >
                        <fa-icon [icon]="faArrowLeft" class="mr-2"></fa-icon>Move to previous question</button>
                    </div>
                    <div class="progress-wrap">
                        <h4>{{(((pageNumber-1) / totalPages)*100).toFixed(0)}} %</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" 
                            [style.width.%]="((pageNumber-1) / totalPages)*100"></div>              
                        </div>
                    </div>

                    <div *ngIf="skip && previousSteps === 0" class="btn-wrap d-flex">
                        <button *ngIf="(response==='' || responseArray.length ===0)"
                        [disabled]="response || responseArray.length !== 0"
                        class="btn btn-sm btn-next ml-auto" (click)="next(pageNumber)">Skip</button>
                        <button *ngIf="!isLast && (response || responseArray.length !==0)"
                        [disabled]="(response === '' || !response) && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="next(pageNumber)">
                        <fa-icon [icon]="faArrowRight" class="mr-2"></fa-icon>Next</button>
                        <button *ngIf="isLast && (response || response !== '' || responseArray.length !==0)" [disabled]="(!response || response === '') && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="Process(pageNumber)">
                        <fa-icon [icon]="faSave" class="mr-2"></fa-icon>Submit</button>
                    </div>

                    <div *ngIf="!skip && !isLast && previousSteps === 0" class="btn-wrap d-flex">
                        <button [disabled]="(response === '' || !response) && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="next(pageNumber)">
                        <fa-icon [icon]="faArrowRight" class="mr-2"></fa-icon> Next</button>
                    </div>
                    <div *ngIf="previousSteps > 0" class="btn-wrap d-flex">
                        <button [disabled]="(response === '' || !response) && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="updatePreviousAnswers()">
                        <fa-icon [icon]="faSave" class="mr-2"></fa-icon>Update & Next<fa-icon [icon]="faArrowRight" class="ml-2"></fa-icon></button>
                    </div>

                    <div *ngIf="isLast && !skip && previousSteps === 0" class="btn-wrap d-flex">
                        <button [disabled]="(!response || response === '') && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="Process(pageNumber)">
                        <fa-icon [icon]="faSave" class="mr-2"></fa-icon>Submit</button>
                    </div>

               

                </div>
                    
            </div>
            </div>
        </div>

    </div>
</section>



</main>


















    
<div bsModal #termsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: 'static',  keyboard: false}" >
        <div class="modal-dialog termsModal modal-md" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Terms and conditions</h4>
            </div>
            <div class="modal-body" >
                <div class="text">
                    I consent to the processing of my personal data for the purpose of this assessment as 
                    further described in the <a routerLink="/terms-and-conditions">Data Privacy Statement </a> in order to receive personalized recommendations. 
                </div>
            </div>
            <div class="modal-footer">
                <button   type="button" class="btn btn-cancel" (click)="termsModal.hide(); back();">Decline</button>
                <button   type="button" class="btn btn-confirm" (click)="termsModal.hide()">Accept</button>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    
    