<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<main>



    <div class="side-bg"></div>
    
    
    
    <section class="body-section d-flex">
       
        
        <div class="form-section mx-auto">
    
    
            <div class="logo-section">
                <div class="wrap">
                    <h4>{{surveyName}}</h4>
    
                    <img class="logo" src="../../../assets/images/logo1.png" alt="" >

                    <button *ngIf="pageNumber === 1" class="btn btn-sm btn-outline-light" (click)="back()">Back</button>
                    <button *ngIf="pageNumber > 1" class="btn btn-sm btn-outline-warning" (click)="saveAndExit()">Save & continue later</button>
                </div>
    
            </div>
    
    
            <div class="form-wrap">
    
    
            <form class="form">
    
                <div *ngIf="questions.length > 0" [ngClass]="'dynamic-wrapper'">

                    <div class="head">
                        <h4>Answer section</h4>
                    </div>
        
                    <div class="form-group">
                        <p>{{questionTag}}</p>
                    </div>
                    
                    <div class="form-group" *ngIf="open">
                        <input id="typeInput" type="{{type}}" [(ngModel)]="response" (keyup)="captureResponse()" name="response" placeholder="">
                    </div>


                    <div class="multy-choice-wrap w-100"  *ngIf="!open && multiple">
                        <div class="form-group" *ngFor="let option of options">
                            <input type="checkbox" (click)="captureMultipleResponses(option)" name="response" value="{{option.answer}}">
                            <label for="response">{{option.answer}}</label>
                        </div>
                    </div>
                    <div class="multy-choice-wrap w-100"  *ngIf="!open && !multiple">
                        <div class="form-group" *ngFor="let option of options">
                            <input type="radio" [(ngModel)]="response" name="response" (change)="captureSingleResponse(option)" value="{{option.answer}}">
                            <label for="response">{{option.answer}}</label>
                        </div>
                    </div>

                    <div *ngIf="!isLast && (!response || responseArray.length === 0)" class="btn-wrap d-flex">
                        <button
                        class="btn btn-sm btn-next ml-auto" (click)="next(pageNumber)">Skip</button>
                    </div>

                    <div *ngIf="!isLast && responseArray.length !== 0 && response !== '' " class="btn-wrap d-flex">
                        <button [disabled]="(response === '' || !response) && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="next(pageNumber)">Next</button>
                    </div>

                    <div *ngIf="isLast && response" class="btn-wrap d-flex">
                        <button [disabled]="(response === '' || !response) && responseArray.length === 0"
                        class="btn btn-sm btn-next ml-auto" (click)="Process(pageNumber)">Submit</button>
                    </div>

                    <div class="text-muted">
                        <h6>{{pageNumber}} of {{totalPages}}</h6>
                    </div>

                </div>

            </form>

    
            </div>
    
        </div>
    
    </section>
    
    
    
    </main>
    
    
    