<main>



    <div class="side-bg"></div>
    
    
    
    <section class="body-section d-flex">
       
        
        <div class="form-section mx-auto">
    
    
            <div class="logo-section">
                <div class="wrap">
                    <h4>On-Boarding</h4>
    
                    <img src="../../../assets/images/logo1.jpg" alt="" >
                </div>
    
            </div>
    
    
            <div class="form-wrap">
    
    
            <form class="form">
    
                <div class="head">
                    <h4>Company Info</h4>
                </div>
    
                <div class="form-group">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    <input type="text" placeholder="Company Name">
                </div>
                
                <div class="form-group">
                    <fa-icon [icon]="faKey"></fa-icon>
                    <input type="text" placeholder="Company Category">
                </div>

                <div class="form-group">
                    <fa-icon [icon]="faKey"></fa-icon>
                    <input type="text" placeholder="Number of employees">
                </div>
    
                
                <div class="btn-wrap">
                    <button class="btn btn-sm ">Next</button>
                </div>

                <div class="text-muted">
                    <h6>1 of 3</h6>
                </div>
                
            </form>
    
            </div>
    
        </div>
    
    
    </section>
    
    
    
    </main>
    
    
    