@import 'src/styles.sass'


.page-title
    width: 100%
    // padding: 1em 2em


    h4 
        padding: 1em 2em
        font-size: 18px
        font-weight: bold
        text-transform: uppercase
        text-shadow: 1px -1px 1px white
        -moz-text-shadow: 1px -1px 1px white
        -webkit-text-shadow: 1px -1px 1px white


.spinner-div
    margin: auto
    color: grayColor(g100)


article
    width: 100%
    padding: 0 1em

.templates-section
    width: 100%
    height: 100%
    padding: 1em
    margin: 0 0 2em 0
    background-color: white


    .head
        padding: 1em
        color: grayColor(g700)

        h4 
            font-size: 14px
            font-weight: bold

.templates-section .card-group
    // margin: 1em auto auto 0
    // max-height: 500px
    // overflow-x: scroll
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 1em

    @include desktop_md
        grid-template-columns: repeat(2, 1fr)

    @include desktop_sm
        grid-template-columns: repeat(1, 1fr)

    .progress-wrap
        background-color: white
        border-radius: 5px
        min-width: 15em
        min-height: 10em
        display: flex
        justify-content: center
        align-items: center


.templates-section .card-group .card
    border: solid 1px grayColor(g100)
    box-shadow: 0 0 5px rgba(0, 0, 0, .3)
    cursor: pointer
    transition: all .3s
    -moz-transition: all .3s
    -webkit-transition: all .3s
    &:hover
        transform: translateY(-.3em)
        -moz-transform: translateY(-.3em)
        -webkit-transform: translateY(-.3em)


    .card-body
        display: flex
        align-items: stretch
        height: fit-content

        fa-icon
            margin: 2em 1em 0 0
            font-size: 14px 
            color: colorTheme(secondaryTheme)

        h4
            margin: 2em 0
            font-size: 14px 
            font-weight: bold
            color: grayColor(g800)

        &:hover
            h4
                color: colorTheme(secondaryTheme)


    .card-footer
        height: 3em
        h5
            width: 100%
            text-align: center
            font-size: 12px

            span
                color: colorTheme(success)
                font-weight: bold

            fa-icon
                margin: 0 1em 0 0
                color: colorTheme(success)
                font-weight: bold





.plan-section
    width: 100%
    height: 100%
    padding: 1em
    margin: 0 0 2em 0
    background-color: white
    .head
        padding: 1em
        color: grayColor(g700)

        h4 
            font-size: 14px
            font-weight: bold 
.plan-section .card-model
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 1em

    @include desktop_md
        grid-template-columns: repeat(2, 1fr)

    @include desktop_sm
        grid-template-columns: repeat(1, 1fr)  
.plan-section .card-model .card-model-item
    // height: 10em
    padding: 1em
    border: solid 1px grayColor(g100)
    box-shadow: 0 0 5px rgba(0, 0, 0, .3)
    cursor: pointer
    transition: all .3s
    -moz-transition: all .3s
    -webkit-transition: all .3s
    &:hover
        transform: translateY(-.3em)
        -moz-transform: translateY(-.3em)
        -webkit-transform: translateY(-.3em)

    .title-wrap
        width: 100%
        text-align: center
        padding: 1em

        h4 
            font-weight: bold
            font-size: 12px

    .icon-wrap
        width: 100%
        text-align: center

        fa-icon
            font-size: 22px
            color: orange
