<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>


<div class="page-title d-flex">
    <h4>Plan</h4>  
</div>



<div  class="progress-wrap" *ngIf="pageProgress !== 100">
    <circle-progress [percent]="pageProgress" ></circle-progress>
</div>


<article *ngIf="pageProgress === 100">

<section class="templates-section" *ngIf="AllSurveys.length !== 0">
    <div class="head">
       <h4> Surveys with no plan</h4>
    </div>

    <div *ngIf="AllSurveys" class="card-group">

        <div [hidden]="pageProgress !== 100" class="card"  *ngFor="let item of AllSurveys" (click)="item.done > 100 || item.done === 100 ? createPlan(item._id) : surveyUncomplete()">
            <div class=""></div>
            <div class="card-body d-flex">
                <fa-icon [icon]="faListAlt"></fa-icon>
                <h4 >{{item.surveyName}}</h4>

            </div>
            <div class="card-footer">
                <h5 *ngIf="item.done > 100 || item.done === 100">
                    <span>Make a Plan</span>
                </h5>
                <h5 *ngIf="item.done > 0 && 100 > item.done">
                    <fa-icon [icon]="faSpinner"></fa-icon> <span>{{item.done}}%</span> <p >In progress</p>
                </h5>
                <h5 *ngIf="item.done === 0"> Not Done</h5>
            </div>


        </div>

        <div [hidden]="pageProgress !== 100" class="card" *ngIf="AllSurveys.length === 0">
            <div class="card-header"></div>
            <div class="card-body">
                <h4>No Template</h4>
            </div>
            <div class="card-footer">

            </div>

        </div>
    </div>

</section>










<section class="plan-section">
    <div class="head">
        <h4>Existing Plan</h4>
    </div>

    <div class="card-model">


        <div class="card-model-item" *ngIf="AllPlans.length === 0">
            <div class="icon-wrap">
                <fa-icon [icon]="faBusinessTime"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>---No Existing Plan---</h4>
            </div>
        </div>

        <div class="card-model-item"  *ngFor="let plan of AllPlans">
            <div class="icon-wrap">
                <fa-icon [icon]="faBusinessTime"></fa-icon>
            </div>
            <div class="title-wrap">
                <h4>{{plan.name}}</h4>
            </div>
        </div>

    </div>

</section>




</article>








<div bsModal #addPlanModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addPlanModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title"> Name Your Plan </h4>
            <button type="button" class="btn close" (click)="addPlanModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >

            <form class="form">
                <div class="form-group">
                    <label>Plan Name</label>
                    <input type="text" name="name" [(ngModel)]="planName">
                </div>
            </form>
           
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel" (click)="addPlanModal.hide()">Cancel</button>
            <button type="button" class="btn btn-confirm" (click)="addPlan()">Save</button>
        </div>
        </div>
    </div>
</div>

