<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
    </article>
      
    







    <main class="main-wrap">

        <section class="top-section">
            <div class="image-wrap">
                <img src="../../../assets/images/logo1.png" alt="logo" >
            </div>
        </section>
        
        <section class="body-section">
        
        <div class="info-section">
            <div class="info-wrap">
                <h4 class="head">OnBoarding</h4>
                <h5 class="text">Create and account with us and explore our services</h5>
            </div>
        </div>
        
        
        <div class="form-section">
        
            <div class="form-wrap">
        
            <form class="form">
               
                <div class="top-wrap">
                    <div class="top-title">
                        <h4>Sign Up</h4>
                        <h5>By filling the form below to get instant access</h5>
                    </div>
                    <div class="icon-wrap">
                        <fa-icon [icon]="faPen"></fa-icon>
                    </div>
                    
                </div>
    
    
                <div class="form-group">
                    <div class="wrap d-flex"> 
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    <input type="text" name="email" readonly [(ngModel)]="InvitedEmail" placeholder="Email Address">
                    </div>
                </div>

                <div class="form-group">
                    <div class="wrap d-flex"> 
                    <fa-icon [icon]="faUser"></fa-icon>
                    <input type="text" name="name" [(ngModel)]="registrationForm.name" placeholder="Name">
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="wrap d-flex"> 
                    <fa-icon [icon]="faKey"></fa-icon>
                    <input type="password" name="password" [(ngModel)]="registrationForm.password" placeholder="Password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="wrap d-flex"> 
                    <fa-icon [icon]="faKey"></fa-icon>
                    <input type="password" name="password2" [(ngModel)]="registrationForm.password2" (keyup)="passwordConformation()"  placeholder="Confirm Password">
                    </div>
                </div>
    
                
                <div class="btn-wrap d-flex">
                    <button class="btn btn-sm btn-submit ml-auto"  [disabled]="registrationForm.email === '' || !passwordMatch "
                     (click)="register()">Submit</button>
                </div>
    
            
            </form>
    
  
    
    
        </div>
        
        
        </div>
        
        
    </section>
        
        
</main>
        
   
    