<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
    </article>
      
    
    
    
    <main>
    
    
    <div class="side-bg"></div>
    
    
    
    <section class="body-section d-flex">
       
        
        <div class="form-section mx-auto">
    
    
            <div class="logo-section">
                <div class="wrap">
                    <h4 class="title">Tactive Consulting BCP</h4>
                    <img src="../../../assets/images/logo1.png" alt="" >
                </div>
    
            </div>
    
    
            <div class="form-wrap">
    
    
            <form class="form">
    
                <div class="head">
                    <h4>Sign Up</h4>
                </div>
    
                <div class="form-group">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                    <input type="text" name="email" readonly [(ngModel)]="InvitedEmail" placeholder="Email Address">
                </div>
                
                <div class="form-group">
                    <fa-icon [icon]="faKey"></fa-icon>
                    <input type="password" name="password" [(ngModel)]="registrationForm.password" placeholder="Password">
                </div>

                <div class="form-group">
                    <fa-icon [icon]="faKey"></fa-icon>
                    <input type="password" name="password2" [(ngModel)]="registrationForm.password2" (keyup)="passwordConformation()"  placeholder="Confirm Password">
                </div>
    
                
                <div class="btn-wrap d-flex">
                    <button class="btn btn-sm btn-submit ml-auto"  [disabled]="registrationForm.email === '' || !passwordMatch "
                     (click)="register()">Submit</button>
                </div>
                
            </form>
    
            </div>
    
        </div>
    
    
    </section>
    
    
    
    </main>
    
    
    