<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
      <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
      </div>
    </div>
</article>

<nav id="topNavBar" class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" ><img src="/../../../assets/images/zuri.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav-pills mr-auto">
      <li *ngIf="toThirdParty" [ngClass]="dashboardNavBarActive ? 'nav-item active' : 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <a routerLink="/home/dashboard" [ngClass]=" dashboardNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faChartLine"></fa-icon> <span>Dashboard</span>
        </a>
      </li>
  
            
      <li *ngIf="toAdmin" [ngClass]="adminNavBarActive ? 'nav-item active' : 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent">
        <a routerLink="/home/admin" [ngClass]=" adminNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faChartLine"></fa-icon> <span>Dashboard</span>
        </a>
      </li>

      <li  *ngIf="toCustomer || toThirdParty" [ngClass] ="salesNavBarActive ? 'nav-item active': 'nav-item'">
        <a routerLink="/home/crm" [ngClass]=" salesNavBarActive ? 'nav-link active': 'nav-link'">
          <fa-icon [icon]="faChartLine"></fa-icon><span>CRM</span>
        </a>
      </li>
      
      <li *ngIf="toCustomer" [ngClass]="surveyNavBarActive ? 'nav-item active' : 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <a routerLink="/home/survey" [ngClass]=" surveyNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faListAlt"></fa-icon> <span>Survey</span>
        </a>
      </li>

      <li *ngIf="toCustomer" [ngClass] ="reportsNavBarActive ? 'nav-item active': 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <a routerLink="/home/reports" [ngClass]=" reportsNavBarActive ? 'nav-link active': 'nav-link'">
          <fa-icon [icon]="faFax"></fa-icon><span>Reports</span>
        </a>
      </li>

      <li *ngIf="toCustomer" [ngClass] ="planNavBarActive ? 'nav-item active': 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <a routerLink="/home/plan" [ngClass]=" planNavBarActive ? 'nav-link active': 'nav-link'">
          <fa-icon [icon]="faBusinessTime"></fa-icon><span>Plan</span>
        </a>
      </li>

      <li *ngIf="toCustomer" [ngClass] ="trackerNavBarActive ? 'nav-item active': 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <a routerLink="/home/tracker" [ngClass]=" trackerNavBarActive ? 'nav-link active': 'nav-link'">
          <fa-icon [icon]="faCrosshairs"></fa-icon><span>Tracker</span>
        </a>
      </li>

      <!-- <li *ngIf="toCustomer" [ngClass] ="documentNavBarActive ? 'nav-item active': 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <a routerLink="/home/document" [ngClass]=" documentNavBarActive ? 'nav-link active': 'nav-link'">
          <fa-icon [icon]="faFileAlt"></fa-icon><span>Documents</span>
        </a>
      </li> -->

      <li *ngIf="toCustomer"  [ngClass]="profileNavBarActive ? 'nav-item active' : 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <a routerLink="/home/profile" [ngClass]=" profileNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faUser"></fa-icon> <span>Profile</span>
        </a>
      </li>

      <li  *ngIf="toAdmin" [ngClass]="marketRateBarActive ? 'nav-item active' : 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent"  >
        <a routerLink="/home/market_rate" [ngClass]=" marketRateBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faEdit"></fa-icon> <span>Market Rates</span>
        </a>
      </li>
  
      <li *ngIf="toThirdParty"  [ngClass]="editorialNavBarActive ? 'nav-item active' : 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent" >
        <a routerLink="/home/editorial" [ngClass]=" editorialNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faEdit"></fa-icon> <span>Editorial</span>
        </a>
      </li>


      <li *ngIf="toCustomer || toAdmin" [ngClass]="usersNavBarActive ? 'nav-item active' : 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent">
        <a routerLink="/home/users" [ngClass]=" usersNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faUsers"></fa-icon> <span>Users</span>
        </a>
      </li>

      <li  [ngClass]="faqNavBarActive ? 'nav-item active' : 'nav-item'" data-toggle="collapse" data-target="#navbarSupportedContent">
        <a (click)="toFAQ()" [ngClass]=" faqNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faQuestionCircle"></fa-icon> <span>FAQ</span>
        </a>
      </li>


      <li class="nav-item" >
        <a (click)="logout()" [ngClass]=" editorialNavBarActive ? 'nav-link active' : 'nav-link'" data-toggle="collapse" data-target="#navbarSupportedContent" >
          <fa-icon [icon]="faPowerOff"></fa-icon> <span>Log Out</span>
        </a>
      </li>
    </ul>

  </div>
</nav>










<!-- Sidebar -->
<nav id="sidebar" class="" [ngClass]="sideBarStatus ? '' : 'hide'">

    <div class="header-nav-item" >
      <fa-icon id="sideBarToggler"  (click)="toggleSideBar()" [icon]="faBars"></fa-icon>
      <img src="/../../../assets/images/zuri.png">
    </div>



    <ul class="navbar-nav nav-pills">


      <li  *ngIf="toThirdParty" [ngClass]="dashboardNavBarActive ? 'nav-item active' : 'nav-item'" >
          <a routerLink="/home/dashboard" [ngClass]=" dashboardNavBarActive ? 'nav-link active' : 'nav-link'">
            <fa-icon [icon]="faChartLine"></fa-icon> <span>Dashboard</span>
          </a>
        </li>
        <li *ngIf="toAdmin" [ngClass]="adminNavBarActive ? 'nav-item active' : 'nav-item'" >
          <a routerLink="/home/admin" [ngClass]=" adminNavBarActive ? 'nav-link active' : 'nav-link'">
            <fa-icon [icon]="faChartLine"></fa-icon> <span>Dashboard</span>
          </a>
        </li>
        <li *ngIf="toCustomer || toThirdParty" [ngClass] ="salesNavBarActive ? 'nav-item active': 'nav-item'">
          <a routerLink="/home/crm" [ngClass]=" salesNavBarActive ? 'nav-link active': 'nav-link'">
            <fa-icon [icon]="faChartLine"></fa-icon><span>CRM</span>
          </a>
        </li>

        <li *ngIf="toCustomer" [ngClass]="surveyNavBarActive ? 'nav-item active' : 'nav-item'" >
          <a routerLink="/home/survey" [ngClass]=" surveyNavBarActive ? 'nav-link active' : 'nav-link'">
            <fa-icon [icon]="faListAlt"></fa-icon> <span>Survey</span>
          </a>
        </li>
        
        <li *ngIf="toCustomer" [ngClass] ="reportsNavBarActive ? 'nav-item active': 'nav-item'">
          <a routerLink="/home/reports" [ngClass]=" reportsNavBarActive ? 'nav-link active': 'nav-link'">
            <fa-icon [icon]="faFax"></fa-icon><span>Reports</span>
          </a>
        </li>

        <li *ngIf="toCustomer" [ngClass] ="planNavBarActive ? 'nav-item active': 'nav-item'">
          <a routerLink="/home/plan" [ngClass]=" planNavBarActive ? 'nav-link active': 'nav-link'">
            <fa-icon [icon]="faBusinessTime"></fa-icon><span>Plan</span>
          </a>
        </li>

        <li *ngIf="toCustomer" [ngClass] ="trackerNavBarActive ? 'nav-item active': 'nav-item'">
          <a routerLink="/home/tracker" [ngClass]=" trackerNavBarActive ? 'nav-link active': 'nav-link'">
            <fa-icon [icon]="faCrosshairs"></fa-icon><span>Tracker</span>
          </a>
        </li>

        <!-- <li *ngIf="toCustomer" [ngClass] ="documentNavBarActive ? 'nav-item active': 'nav-item'">
          <a routerLink="/home/document" [ngClass]="documentNavBarActive ? 'nav-link active': 'nav-link'">
            <fa-icon [icon]="faFileAlt"></fa-icon><span>Documents</span>
          </a>
        </li> -->

        <li *ngIf="toCustomer"  [ngClass]="profileNavBarActive ? 'nav-item active' : 'nav-item'" >
          <a routerLink="/home/profile" [ngClass]=" profileNavBarActive ? 'nav-link active' : 'nav-link'">
            <fa-icon [icon]="faUser"></fa-icon> <span>Profile</span>
          </a>
        </li>
    
        <li  *ngIf="toAdmin" [ngClass]="marketRateBarActive ? 'nav-item active' : 'nav-item'" >
          <a routerLink="/home/market_rate" [ngClass]=" marketRateBarActive ? 'nav-link active' : 'nav-link'">
            <fa-icon [icon]="faEdit"></fa-icon> <span>Market Rates</span>
          </a>
        </li>

        <li  *ngIf="toThirdParty" [ngClass]="editorialNavBarActive ? 'nav-item active' : 'nav-item'" >
          <a routerLink="/home/editorial" [ngClass]=" editorialNavBarActive ? 'nav-link active' : 'nav-link'">
            <fa-icon [icon]="faEdit"></fa-icon> <span>Editorial</span>
          </a>
        </li>


        <li *ngIf="toCustomer || toAdmin" [ngClass]="usersNavBarActive ? 'nav-item active' : 'nav-item'" >
          <a routerLink="/home/users" [ngClass]=" usersNavBarActive ? 'nav-link active' : 'nav-link'">
            <fa-icon [icon]="faUsers"></fa-icon> <span>Users</span>
          </a>
        </li>


        <li  [ngClass]="faqNavBarActive ? 'nav-item active' : 'nav-item'" >
          <a (click)="toFAQ()" [ngClass]=" faqNavBarActive ? 'nav-link active' : 'nav-link'">
            <fa-icon [icon]="faQuestionCircle"></fa-icon> <span>FAQ</span>
          </a>
        </li>

    
    </ul>


</nav>



<!--  Main Section -->

<main id="main" class="" [ngClass]="sideBarStatus ? '' : 'expand'">

    <router-outlet></router-outlet>

</main>


