
<div class="footer">
    <div class="wrap">
        <div class="title">Our Partners</div>
        <div class="list card-group">
            <img src="../../../../assets/partners/adiy.png" alt="logo">
            <img src="../../../../assets/partners/adnest.jpg" alt="logo">
            <img src="../../../../assets/partners/adrian.png" alt="logo">
            <img src="../../../../assets/partners/Ajira.jpg" alt="logo">
            <img src="../../../../assets/partners/B-Lab-East-Africa-Black.png" alt="logo">
            <img src="../../../../assets/partners/blu.jpg" alt="logo">
            <img src="../../../../assets/partners/btc.jpg" alt="logo">

            <img src="../../../../assets/partners/cleanstart.jpg" alt="logo">
            <img src="../../../../assets/partners/crafting.jpg" alt="logo">
            <img src="../../../../assets/partners/crooked-space.png" alt="logo">
            <img src="../../../../assets/partners/crystal.jpg" alt="logo">
            <img src="../../../../assets/partners/digicon.jpg" alt="logo">
            <img src="../../../../assets/partners/emobilis.jpg" alt="logo">
            <img src="../../../../assets/partners/enda.jpg" alt="logo">
            <img src="../../../../assets/partners/gogaga.jpeg" alt="logo">
            <img src="../../../../assets/partners/imprint.png" alt="logo">
            <img src="../../../../assets/partners/lean.png" alt="logo">
            <img src="../../../../assets/partners/Mastercard.jpg" alt="logo">
            <img src="../../../../assets/partners/quantum.jpg" alt="logo">
            <img src="../../../../assets/partners/shona.jpg" alt="logo">
            <img src="../../../../assets/partners/Sinapis.jpg" alt="logo">
            <img src="../../../../assets/partners/smb.jpg" alt="logo">
            <img src="../../../../assets/partners/sunland.jpg" alt="logo">
            <img src="../../../../assets/partners/vava.jpg" alt="logo">
            <img src="../../../../assets/partners/wisen-hr.png" alt="logo">
            <img src="../../../../assets/partners/zydii.jpg" alt="logo">
        </div>
    </div>
</div>