
<section class="section-footer">
    <div class="wrap">
        <div id="partners_carousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#partners_carousel" data-slide-to="0" class="active"></li>
                <li data-target="#partners_carousel" data-slide-to="1"></li>
                <li data-target="#partners_carousel" data-slide-to="2"></li>
                <li data-target="#partners_carousel" data-slide-to="3"></li>
                <li data-target="#partners_carousel" data-slide-to="4"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="title">Our Partners</div>
                    <div class="list card-group">
                        <img class="sz-1" src="../../../../assets/partners/Ajira.jpg" alt="logo">
                        <img class="sz-1" src="../../../../assets/partners/B-Lab-East-Africa-Black.png" alt="logo">
                        <img class="sz-1" src="../../../../assets/partners/blu.jpg" alt="logo">
                        <img class="sz-2" src="../../../../assets/partners/btc.jpg" alt="logo">
                        <img class="sz-3" src="../../../../assets/partners/digicon.jpg" alt="logo">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="title">Our Partners</div>
                    <div class="list card-group">
                        <img src="../../../../assets/partners/emobilis.jpg" alt="logo">
                        <img src="../../../../assets/partners/Mastercard.jpg" alt="logo">
                        <img src="../../../../assets/partners/shona.jpg" alt="logo">
                        <img src="../../../../assets/partners/Sinapis.jpg" alt="logo">
                        <img src="../../../../assets/partners/smb.jpg" alt="logo">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="title">Our Clients</div>
                    <div class="list card-group">
                        <img src="../../../../assets/partners/cleanstart.jpg" alt="logo">
                        <img src="../../../../assets/partners/crafting.jpg" alt="logo">
                        <img src="../../../../assets/partners/crooked-space.png" alt="logo">
                        <img src="../../../../assets/partners/vava.jpg" alt="logo">
                        <img src="../../../../assets/partners/wisen-hr.png" alt="logo">
                        <img src="../../../../assets/partners/crystal.jpg" alt="logo">
                        <img src="../../../../assets/partners/enda.jpg" alt="logo">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="title">Our Clients</div>
                    <div class="list card-group">
                        <img src="../../../../assets/partners/sunland.jpg" alt="logo">
                        <img src="../../../../assets/partners/zydii.jpg" alt="logo">
                        <img src="../../../../assets/partners/Deliveroo.png" alt="logo">
                        <img src="../../../../assets/partners/Wowzi.jpg" alt="logo">
                        <img src="../../../../assets/partners/PBP.jfif" alt="logo">
                        <img src="../../../../assets/partners/WINGS.png" alt="logo">
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="title">Our Clients</div>
                    <div class="list card-group">
                        <img src="../../../../assets/partners/adiy.png" alt="logo">
                        <img src="../../../../assets/partners/adnest.jpg" alt="logo">
                        <img src="../../../../assets/partners/adrian.png" alt="logo">
                        <img src="../../../../assets/partners/gogaga.jpeg" alt="logo">
                        <img src="../../../../assets/partners/imprint.png" alt="logo">
                        <img src="../../../../assets/partners/quantum.jpg" alt="logo">
                  
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#partners_carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#partners_carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>


