










 <article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<main>



    <div class="side-bg"></div>
    
    
    
    <section class="body-section d-flex">
	

        
        <div class="form-section mx-auto">
    
    
            <div class="logo-section">
                <!-- <div class="wrap">
                    <h4>Welcome Back</h4>
    
                    <img src="../../../assets/images/logo1.png" alt="" >
                </div>
     -->
            <div class="wrap">

                <div class="top-paragraph">
                    <p>
                        As a business leader today, <span>identifying your risk</span> is the first and most crucial step 
                        towards re-organizing or even rebuilding your market strategies to mitigate against revenue 
                        losses and ensure business continuity when faced with disruptions in your business environment. 
                    </p>
                </div>
                <div class="line-wrap d-flex">
                    <hr class="line mr-auto">
                </div>
              
                <div class="mid-paragraph">
                    <p>
                        By completing a short survey, <span>our automated  Business Continuity Planning  platform,</span> will generate a risk assessment report 
                        for your business. You will <span>immediately</span> receive recommendations on areas that require continuity 
                        planning to ensure your business’s survival in this volatile environment.
                    </p>
                </div>
                <div class="bottom-paragraph">
                    <h6>
                        Click on <span routerLink="/register">Register</span> to start the survey
                    </h6>
                </div>
            </div>


            </div>
    
    
            <div class="form-wrap">
    
    
            <form class="form">
    
             

				<div class="head">
					<h4>Sign In</h4>
				</div>
	
				<div class="form-group">
					<fa-icon [icon]="faEnvelope"></fa-icon>
					<input type="email" name="email" [(ngModel)]="loginForm.email" placeholder="Enter Email" required>
				</div>
				
				<div class="form-group">
					<fa-icon [icon]="faKey"></fa-icon>
					<input type="password" name="password" [(ngModel)]="loginForm.password"  placeholder="Enter Password">
				</div>



				
				<div class="btn-wrap d-flex">
					<button [disabled]="loginForm.password === '' || loginForm.email === ''" class="btn ml-auto btn-sm btn-submit" (click)="login()" style="color: white;">Login</button>
				</div>

          

                <!-- <div class="footer">
                    <h4>Don't have an account ?</h4>
                    <a routerLink="/register">Register</a>
                </div> -->


            </form>

    
            </div>
    
        </div>
    
    
    </section>
    
    
    
    </main>
    
    
    










