@import 'src/styles.sass'



.main-wrap
    width: 100%
    height: fit-content
    min-height: 100%
    background: linear-gradient(rgba(7, 75, 251, 0.4),rgba(7, 75, 251, 0.4)), url("../../../assets/images/bg_2.jpg") no-repeat
    background: linear-gradient(rgba(7, 75, 251, 0.4),rgba(7, 75, 251, 0.4)), url("../../../assets/images/bg_2.jpg") no-repeat
    -webkit-background: linear-gradient(rgba(7, 75, 251, 0.4),rgba(7, 75, 251, 0.4)), url("../../../assets/images/bg_2.jpg") no-repeat
    -moz-background: linear-gradient(rgba(7, 75, 251, 0.4),rgba(7, 75, 251, 0.4)), url("../../../assets/images/bg_2.jpg") no-repeat
    -ms-background: linear-gradient(rgba(7, 75, 251, 0.4),rgba(7, 75, 251, 0.4)), url("../../../assets/images/bg_2.jpg") no-repeat
    -o-background: linear-gradient(rgba(7, 75, 251, 0.4),rgba(7, 75, 251, 0.4)), url("../../../assets/images/bg_2.jpg") no-repeat
    background-size: cover
    -webkit-background-size: cover
    -moz-background-size: cover
    -ms-background-size: cover
    -o-background-size: cover
.main-wrap .top-section
    width: 100%
    display: grid 
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 0
    @include desktop_md
        display: grid 
        grid-template-columns: repeat(1, 1fr)  
    .image-wrap
        width: 100%
        display: flex 
        img 
            margin: auto
            width: 200px
.main-wrap .body-section
    width: 100%
    display: grid 
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 1em
    @include desktop_md
        display: grid 
        grid-template-columns: repeat(1, 1fr)  
.main-wrap .body-section .info-section
    width: 100%
    display: flex 
    align-items: stretch
.main-wrap .body-section .info-section .info-wrap
    margin: auto
    max-width: 500px
    width: 100%
    display: flex 
    flex-direction: column
    background-color: rgba(7, 75, 251, .0)
    padding: 1em 
    border-radius: 5px
    .top-paragraph
        width: 100%
        p 
            font-weight: 400 !important
            font-size: 15px
            color: whitesmoke
            span 
                font-weight: bolder
                color: colorTheme(secondaryTheme)
    .line-wrap
        width: 6em
        .line 
            margin: 1.5em 0 2.2em 0 !important
            width: 100%
            border: solid 2px colorTheme(secondaryTheme)
    .mid-paragraph
        padding: 0 0 0 4em
        @include desktop_xm
            padding: 0
        p 
            color: whitesmoke 
            font-size: 15px
            span 
                font-weight: bolder
                color: colorTheme(secondaryTheme)
    .bottom-paragraph
        padding: 1em 0 0 4em
        @include desktop_xm
            padding: 0
        h6 
            color: whitesmoke
            font-size: 15px
            span 
                cursor: pointer
                font-weight: bold
                color: white
.main-wrap .body-section .form-section
    width: 100%
    display: flex 
    align-items: stretch
.main-wrap .body-section .form-section .form-wrap
    margin: auto
    max-width: 500px
    width: 100%
    background-color: rgba(7, 75, 251, .8)
    padding: 1em 
    border-radius: 5px
    .form 
        width: 100%
.main-wrap .body-section .form-section .form-wrap .form .top-wrap
    width: 100%
    display: flex
    align-items: stretch
    margin: 0 0 2em 0
    .top-title 
        margin-right: auto
        h4 
            font-size: 32px
            font-weight: bold 
            color: white 
        h5 
            font-size: 14px
            color: white 
    .icon-wrap
        margin-left: auto
        fa-icon 
            color: white 
            font-size: 32px
.main-wrap .body-section .form-section .form-wrap .form .form-group
    width: 100%
    margin: 0 0 2em 0
    fa-icon
        width: 1em
        font-size: 14px
        color: white
        margin: .5em 1em 0 0
    input, select
        padding: 0 .5em
        font-size: 14px
        width: 100%
        outline: none
        border: none
        border-bottom: solid 1px white
        background-color: transparent
        &::placeholder
            color: white
        &.error
            border-bottom: solid 1px colorTheme(danger) 
    .error-wrap
        width: 100%
        padding: 0 2.3em
        span 
            font-size: 12px
            color: colorTheme(danger)
.main-wrap .body-section .form-section .form-wrap .form .btn-wrap
    width: 100%
    margin: 0 0 1em 0
    display: flex
    align-items: stretch
    .btn
        color: white
        &.btn-back
            background-color: grayColor(g200)
        &.btn-submit, &.btn-next
            color: white
            background-color: colorTheme(secondaryTheme)
.main-wrap .body-section .form-section .form-wrap .form .footer
    width: 100%
    margin: 0 0 1em 0
    display: flex
    align-items: stretch
    h4
        font-size: 12px
        margin: 0 1em 0 0
    a 
        font-size: 12px
        color: white








.passwordResetModal
    .modal-content
        width: 100%
        border: none
        height: fit-content
        max-height: 400px
        overflow-x: scroll

        .modal-header
            width: 100%
            border: none
            background-color: colorTheme(primary)

            h4 
                font-size: 14px
                color: white
        .modal-body
            width: 100%
            border: none
            .wrap
                width: 100%
                padding: .5em
                h4
                    width: 100%
                    font-size: 12px

                fa-icon
                    cursor: pointer
                    color: colorTheme(danger)
                    font-size: 12px
            input 
                width: 100%
                border-radius: 2px
                padding: .5em
                border: none
                outline: none
                margin: 0 10px 10px 0
                background-color: grayColor(g100)
                font-size: 12px
        .modal-footer
            button 
                font-size: 12px
                background-color: colorTheme(primary)
                color: white








