










 <article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<main>



    <div class="side-bg"></div>
    
    
    
    <section class="body-section d-flex">
	

        
        <div class="form-section mx-auto">
    
    
            <div class="logo-section">
                <div class="wrap">
                    <h4>Welcome</h4>
    
                    <img src="../../../assets/images/logo1.png" alt="" >
                </div>
    
           


            </div>
    
    
            <div class="form-wrap">
    
    
            <form class="form">
    
             

				<div class="head">
					<h4>Sign In</h4>
				</div>
	
				<div class="form-group">
					<fa-icon [icon]="faEnvelope"></fa-icon>
					<input type="email" name="email" [(ngModel)]="loginForm.email" placeholder="Enter Email" required>
				</div>
				
				<div class="form-group">
					<fa-icon [icon]="faKey"></fa-icon>
					<input type="password" name="password" [(ngModel)]="loginForm.password"  placeholder="Enter Password">
				</div>



				
				<div class="btn-wrap d-flex">
					<button [disabled]="loginForm.password === '' || loginForm.email === ''" class="btn ml-auto btn-sm btn-submit" (click)="login()" style="color: white;">Login</button>
				</div>

          

                <div class="footer">
                    <h4>Don't have an account ?</h4>
                    <a routerLink="/register">Register</a>
                </div>


            </form>

            <div id="img-wrap" class="wrap">
                <img src="../../../assets/images/logo4.png" alt="" >
            </div>



    
            </div>
    
        </div>


        
    
    
    </section>
    
    
    
    </main>
    
    
    





    <div bsModal  #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{backdrop: 'static',  keyboard: false}" >
        <div class="modal-dialog infoModal modal-xl" role="document">
            <div class="modal-content">
            <!-- <div class="modal-header ">
                <button (click)="infoModal.hide()" type="button" class="btn close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body" >

                <div class="wrap-one">
                    .
                </div>

                <div class="wrap-two">

                    <div class="cancel-wrap">
                        <div (click)="toLogin()">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </div>
                    </div>

                    <div class="top-paragraph">
                        <p>
                            As a business leader today, <span>identifying your risk</span> is the first and most crucial step 
                            towards re-organizing or even rebuilding your market strategies to mitigate against revenue 
                            losses and ensure business continuity when faced with disruptions in your business environment. 
                        </p>
                    </div>
                    <div class="line-wrap d-flex">
                        <hr class="line mr-auto">
                    </div>
                  
                    <div class="mid-paragraph">
                        <p>
                            By completing a short survey, <span>our automated  Business Continuity Planning  platform,</span> will generate a risk assessment report 
                            for your business. You will <span>immediately</span> receive recommendations on areas that require continuity 
                            planning to ensure your business’s survival in this volatile environment.
                        </p>
                    </div>
                    <div class="bottom-paragraph">
                        <h6>
                            Click on <span routerLink="/register">Register</span> to start the survey.
                        </h6>
                        <!-- <h6>
                            Click on <span (click)="toLogin()">Login</span> if you have an account.
                        </h6> -->
                    </div>
                </div>

            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    



