@import 'src/styles.sass'

main
    width: 100%
    height: 100%


main .side-bg
    position: absolute
    width: 100%
    height: 100%
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%)
    background-color: colorTheme(primaryTheme)


    @include desktop_md
        clip-path: polygon(100% 0, 100% 55%, 0 55%, 0 0)

    @include desktop_sm
        clip-path: polygon(100% 0, 100% 90%, 0 90%, 0 0)

    @include desktop_xm
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0)




.body-section
    position: absolute
    padding: 3em 1em
    width: 100%
    height: 100%
    display: flex
    align-items: strecth

    @include desktop_md
        padding: 1em 1em

    @include desktop_sm
        padding: 3em 1em 3em 1em


    @include desktop_xm
        padding: 1em 1em 3em 1em









.body-section .form-section
    background-color: transparent
    border-radius: 5px
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .4)
    width: 100%
    max-width: 900px
    height: 80%
    margin: 3em
    display: flex
    align-items: stretch

    @include desktop_md
        display: flex
        flex-direction: column
        height: fit-content


#img-wrap
    margin: 0 auto
    width: fit-content
    height: 200px
    display: flex
    flex-direction: column
    justify-content: center


    img 
        width: 150px 
        height: 50px

    
.body-section .form-section .logo-section
    margin: auto
    width: 100%
    height: 100%
    padding: 1em
    display: flex
    align-items: stretch

    .wrap
        margin: auto
        width: fit-content
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center

        h4
            font-size: 22px
            margin: 1em auto
            color: white

        img 
            width: 200px 
            height: 150px

.body-section .form-section .logo-section .wrap
    .top-paragraph
        width: 100%

        p 
            font-weight: 400 !important
            font-size: 15px
            color: whitesmoke

            span 
                font-weight: bolder
                color: #f7b307

    .line-wrap
        width: 6em

        .line 
            margin: 1.5em 0 2.2em 0 !important
            width: 100%
            border: solid 2px #f7b307
        

    .mid-paragraph
        padding: 0 0 0 4em

        @include desktop_xm
            padding: 0

        p 
            color: whitesmoke 
            font-size: 15px

            span 
                font-weight: bolder
                color: #f7b307


    .bottom-paragraph
        padding: 1em 0 0 4em
        
        @include desktop_xm
            padding: 0

        h6 
            color: whitesmoke
            font-size: 15px

            span 
                cursor: pointer
                font-weight: bold
                color: white

        

.body-section .form-section .form-wrap
    width: 100%
    height: 100% 
    display: flex
    flex-direction: column
    justify-content: bottom



.body-section .form-section .form-wrap .form
    margin-top: auto
    display: flex
    flex-direction: column
    justify-content: center
    padding: 1em
    border-radius: 1px
    width: 100%


.body-section .form-section .form-wrap .form .dynamic-wrapper
    width: 100%
    display: block
    transition: all 1s

.body-section .form-section .form-wrap .form .dynamic-wrapper.slide
    display: none

.body-section .form-section .form-wrap .form .head
    width: 100%
    margin: 0 0 3em 0
    display: flex
    align-items: stretch

    h4 
        margin-left: auto
        font-size: 18px
        font-weight: bold  
        color: colorTheme(primaryTheme) 

.body-section .form-section .form-wrap .form .form-group
    width: 100%
    margin: 0 0 2em 0
    display: flex
    align-items: stretch

    fa-icon
        width: 1em
        font-size: 14px
        color: colorTheme(primaryTheme)
        margin: .5em 1em 0 0

    input, select
        padding: 0 .5em
        font-size: 14px
        width: 100%
        outline: none
        border: none
        border-bottom: solid 1px colorTheme(primaryTheme)
        background-color: transparent



.body-section .form-section .form-wrap .form .btn-wrap
    width: 100%
    margin: 0 0 1em 0
    display: flex
    align-items: stretch


    .btn
        
        color: white

        &.btn-back
            background-color: grayColor(g200)

        &.btn-submit, &.btn-next
            background-color: colorTheme(primaryTheme)


.body-section .form-section .form-wrap .form .footer
    width: 100%
    margin: 0 0 1em 0
    display: flex
    align-items: stretch

    h4
        font-size: 12px
        margin: 0 1em 0 0

    a 
        font-size: 12px






::-webkit-scrollbar
    width: 0px
    background: transparent

::-webkit-scrollbar-thumb 
    background-color: colorTheme(primaryTheme)
    width: 1px
.modal-backdrop.in 
    background: transparent !important

.infoModal
    border: none
    border-radius: 5px
    width: 100%
    max-width: 900px
    height: 70%
    overflow-y: scroll
    margin: 6em auto
    display: flex
    align-items: stretch
    -ms-overflow-style: none
    background-color: transparent
    scrollbar-width: none
    padding: 0

    &.modal-backdrop.in 
        background: transparent !important


    @include desktop_md
        margin: 6em auto
        display: flex
        flex-direction: column
        height: 700px


    .modal-content 
        border: none
        background-color: transparent
        padding: 0 !important


        .modal-body
            margin: auto
            width: 100%
            height: 100%
            padding: 1em
            display: flex
            align-items: stretch  

            @include desktop_md
                display: flex 
                flex-direction: column
                
                .wrap-one
                    height: 400px
            
            .wrap-one
                background: url("../../../assets/images/logo5.jpg") no-repeat
                background-position: center center
                background-size: cover
                width: 50%
                -webkit-transform: scaleX(-1)
                -moz-transform: scaleX(-1)
                transform: scaleX(-1)


                @include desktop_md
                    width: 100%

            .wrap-two
                background-color: colorTheme(primaryTheme)
                padding: 1em
                width: 50%

                @include desktop_md
                    width: 100%

                .cancel-wrap
                    width: 100%
                    display: flex
                    align-items: stretch
                        
                    div 
                        background-color: transparent
                        border-radius: 50%
                        width: 2em
                        height: 2em
                        margin-left: auto
                        padding: .2em 0 0 .8em
                        cursor: pointer

                        &.hover
                            
                            background-color: white

                        fa-icon 
                            font-size: 15px
                            color: white

                        


                .top-paragraph
                    width: 100%

                    p 
                        font-weight: 400 !important
                        font-size: 15px
                        color: whitesmoke

                        span 
                            font-weight: bolder
                            color: #f7b307

                .line-wrap
                    width: 6em

                    .line 
                        margin: 1.5em 0 2.2em 0 !important
                        width: 100%
                        border: solid 2px #f7b307
                    

                .mid-paragraph
                    padding: 0 0 0 4em

                    @include desktop_xm
                        padding: 0

                    p 
                        color: whitesmoke 
                        font-size: 15px

                        span 
                            font-weight: bolder
                            color: #f7b307


                .bottom-paragraph
                    padding: 1em 0 0 4em
                    
                    @include desktop_xm
                        padding: 0

                    h6 
                        color: whitesmoke
                        font-size: 15px

                        span 
                            cursor: pointer
                            font-weight: bold
                            color: white

                            &.hover
                                color: #f7b307




