 <article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>






<main class="main-wrap">

<section class="top-section">
    <div class="image-wrap">
        <img src="../../../assets/images/zuri.png" alt="logo" >
    </div>
</section>

<section class="body-section">

<div class="info-section">
    <div class="info-wrap">
    <div class="top-paragraph">
        <p>
            As a business leader today, <span>identifying your risk</span> is the first and most crucial step 
            towards re-organizing or even rebuilding your market strategies to mitigate against revenue 
            losses and ensure business continuity when faced with disruptions in your business environment. 
        </p>
    </div>
    <div class="line-wrap d-flex">
        <hr class="line mr-auto">
    </div>
  
    <div class="mid-paragraph">
        <p>
            By completing a short survey, <span>our automated  Business Continuity Planning  platform,</span> will generate a risk assessment report 
            for your business. You will <span>immediately</span> receive recommendations on areas that require continuity 
            planning to ensure your business’s survival in this volatile environment.
        </p>
    </div>
    <div class="bottom-paragraph">
        <h6>
            Click on <span  routerLink="/register" >Register</span> to start the survey
        </h6>
        <h6 class="mt-3">
            or login if you have an account.
        </h6>
    </div>
   </div>
</div>


<div class="form-section">

    <div class="form-wrap">

    <form class="form">
    
            
        <div class="top-wrap">
            <div class="top-title">
                <h4>Sign In</h4>
                <h5>To get access</h5>
            </div>
            <div class="icon-wrap">
                <fa-icon [icon]="faPen"></fa-icon>
            </div>
            
        </div>

        <div class="form-group">
            <div class="wrap d-flex">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <input type="email" (keyup)="emailCheck()" [ngClass]="emailError ? 'error' : ''" name="email" [(ngModel)]="loginForm.email" placeholder="Enter Email" required>
            </div>
            <div  *ngIf="emailError" class="error-wrap wrap">
                <span>Please enter your email</span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="wrap d-flex">
            <fa-icon [icon]="faKey"></fa-icon>
            <input [type]="PasswordType" (keyup)="passwordCheck()" [ngClass]="passwordError ? 'error' : ''"  name="password" [(ngModel)]="loginForm.password"  placeholder="Enter Password">
            <fa-icon style="cursor: pointer;" *ngIf="PasswordType === 'password'" [icon]="faEye" (click)="showPassword()"></fa-icon>
            <fa-icon style="cursor: pointer;" *ngIf="PasswordType === 'text'"  [icon]="faEyeSlash" (click)="hidePassword()"></fa-icon>
            </div>
            <div *ngIf="passwordError" class="error-wrap">
                <span>Please enter your password</span>
            </div>

        </div>



        
        <div class="btn-wrap d-flex">
            <button class="btn ml-auto btn-sm btn-submit" (click)="validateLoginCredentials()">Login</button>
        </div>

  

        <div class="footer">
            <h4>Don't have an account ?</h4>
            <a routerLink="/register">Register</a>
        </div>
        
        <div class="footer">
            <h4>Forgot password ?</h4>
            
            <a href="javascript:void(0);" (click)="passwordReset()">Reset</a>
        </div>


    </form>
</div>


</div>


</section>


</main>





    
<div bsModal  #resetModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}" >
        <div class="modal-dialog passwordResetModal modal-md" role="document">
            <div class="modal-body">
             <div class="modal-content">
             <div class="modal-header ">
                <h4 class="modal-title"> Reset Password </h4>
                <button type="button" class="btn close" (click)="resetModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
             </div>
            <div class="modal-body" >
                <p>Enter the email address of your account, an email with the password reset instructions will be sent to that email. Be sure to check the spam folder if the email seems to take long on a successful request</p>
                <input type="text" (keyup)='checkEmail()' name="resetEmail" [(ngModel)]="resetEmail" placeholder="Enter Email">
            </div>
            <div class="modal-footer">
                <button class="btn ml-auto btn-sm btn-submit" (click)="sendResetEmail()" [disabled]="!emailVerify" style="color: white;">Send Request</button>
            </div>
        </div>
            </div><!-- /.modal-content -->
        </div>
    </div>



