<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>


<!-- 
<header class="header">
    <div class="header-wrap">
        <h4>Frequently Asked Questions</h4>
        <button class="btn thm-danger btn-sm" (click)="logOut()" >
            <fa-icon [icon]="faPowerOff"></fa-icon>Logout
        </button>
    </div>
</header>



<section class="navigation-section">
    <div class="nav-wrapper">
        <div class="item"> 
            <button class="btn thm-primary btn-sm" (click)="openAddCategoryModal()">
                <fa-icon [icon]="faLayerGroup"></fa-icon> Category
            </button>
        </div>
        <div class="item">
          <button class="btn thm-warning btn-sm" (click)="openFaqModal()">
            <fa-icon [icon]="faQuestionCircle"></fa-icon> FAQ
          </button>
        </div>
        <div class="item">
            <button class="btn thm-success btn-sm" (click)="openInquiryModal()">
              <fa-icon [icon]="faQuestion"></fa-icon> Ask
            </button>
          </div>
  
    </div>

</section>




<section class="body-section">
<div class="body-wrapper">

<div class="search-wrap">
    <h4>How can we help you ?</h4>
    <input type="text" placeholder="Type Key words to find answers">
</div>

<div class="head-wrap">
    <h4>
        Frequently Asked Questions
    </h4>
</div>

<div class="wrapper">

    <div class="">
        
    </div>

</div>



</div>
</section> -->





<section class="main-section-wrapper">

<section class="top-section">
    <div class="icon-wrap"> <fa-icon [icon]="faQuestionCircle"></fa-icon></div>
    <div class="info-wrap">
        <h4 class="head">Frequently Asked Questions</h4>

        <h4 class="text">How can we help you ?</h4>
        <input type="text" placeholder="Type Key words to find answers">
    </div>
    <div class="action-wrap">
        <div class="item"> 
            <button class="btn thm-primary btn-sm" (click)="openListCategoryModal()">
                <fa-icon [icon]="faLayerGroup"></fa-icon> Category
            </button>
        </div>
        <div class="item">
          <button class="btn thm-warning btn-sm" (click)="openFaqModal()">
            <fa-icon [icon]="faQuestionCircle"></fa-icon> FAQ
          </button>
        </div>
        <div class="item">
            <button class="btn thm-success btn-sm" (click)="openInquiryModal()">
              <fa-icon [icon]="faQuestion"></fa-icon> Ask
            </button>
          </div>
  
    </div>
</section>


<section class="body-section">

    <div class="body-wrapper">

        navigation

    </div>

</section>



</section>































<div bsModal #addCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addCategoryModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Add Question Categories</h4>
            <button type="button" class="btn close" (click)="addCategoryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <input type="text" name="categoryInput" [(ngModel)]="categoryInput" placeholder="Type here ...">
        </div>
        <div class="modal-footer">
            <button [disabled]="categoryInput === ''"  type="button" class="btn" (click)="addNewCategory()">Add</button>
        </div>
        </div>
    </div>
</div>


<div bsModal #listCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog listCategoryModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">List of Question Categories</h4>
            <button type="button" class="btn close" (click)="listCategoryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <div class="item" *ngFor="let item of AllCategories">
                <h4>{{item.name}}</h4>
                <span class="edit" (click)="openEditCategoryModal(item)"> <fa-icon [icon]="faPen"></fa-icon> </span>
                <span class="delete" (click)="deleteCategory(item)"> <fa-icon [icon]="faTrash"></fa-icon> </span>
            </div>
            <div class="item" *ngIf="AllCategories.length === 0">
                <h4>No Category</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" (click)="openAddCategoryModal()">Add New Category</button>
        </div>
        </div>
    </div>
</div>

<div bsModal #editCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog editCategoryModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Edit Question Category</h4>
            <button type="button" class="btn close" (click)="editCategoryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="categoryOnEdit" >
            <input type="text" name="categoryOnEdit" [(ngModel)]="categoryOnEdit.name" placeholder="Type here ...">
        </div>
        <div class="modal-footer">
            <button *ngIf="categoryOnEdit" [disabled]="categoryOnEdit.name === ''"  type="button" class="btn" (click)="submitEditCategory()">Add</button>
        </div>
        </div>
    </div>
</div>






<div bsModal  #addFaqModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addFaqModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Add FAQ</h4>
            <button type="button" class="btn close" (click)="addFaqModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <form *ngIf="faqForm">
                <div class="form-group">
                    <label for="">Question Catrgory</label>
                    <select name="categoryId" [(ngModel)]="faqForm.categoryId">
                        <option value="" selected hidden disabled>---</option>
                        <option *ngFor="let item of AllCategories" [value]="item._id">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Question</label>
                    <input type="text" name="question" [(ngModel)]="faqForm.question">
                </div>
                <div class="form-group">
                    <label for="">Answer</label>
                    <angular-editor id="te-basic-tools" name="answer" [(ngModel)]="faqForm.answer" [config]="editorConfig"></angular-editor>
                </div>
            </form>
            
        </div>
        <div class="modal-footer" *ngIf="faqForm">
            <button [disabled]="faqForm.categoryId === '' || faqForm.question === '' || faqForm.answer === ''" 
            type="button" class="btn btn-confirm" (click)="addNewFaq()">Save</button>
        </div>
        </div>
    </div>
</div>















<div bsModal  #inquiryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog inquiryModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">  </h4>
            <button type="button" class="btn close" (click)="inquiryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            
        </div>
        <div class="modal-footer">
            <button [disabled]="industryInput === ''"  type="button" class="btn btn-confirm" (click)="addIndustries()">Add</button>
        </div>
        </div>
    </div>
</div>




