<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>







<section class="main-section-wrapper">

<section class="top-section">
    <div class="icon-wrap"> <fa-icon [icon]="faQuestionCircle"></fa-icon></div>
    <div class="info-wrap">
        <h4 class="head">Frequently Asked Questions</h4>

        <h4 class="text">How can we help you ?</h4>
        <div class="input-search">
            <input type="text" name="filterName" [(ngModel)]="filterName" (keyup)="clearSearch()" placeholder="Type key words to find answers">
            <span (click)="searchFunction()"> <fa-icon [icon]="faSearch"></fa-icon> Search</span>
        </div>
    </div>
    <div class="action-wrap">
        <div *ngIf="toAdmin" class="item"> 
            <button class="btn thm-primary btn-sm" (click)="openListCategoryModal()">
                <fa-icon [icon]="faLayerGroup"></fa-icon> Category
            </button>
        </div>
        <div *ngIf="toAdmin" class="item">
          <button class="btn thm-warning btn-sm" (click)="openFaqModal()">
            <fa-icon [icon]="faQuestionCircle"></fa-icon> FAQ
          </button>
        </div>
        <div *ngIf="!toAdmin" class="item">
            <button class="btn thm-success btn-sm" (click)="openAddInquiryModal()">
              <fa-icon [icon]="faQuestion"></fa-icon> Ask
            </button>
        </div>
        <div *ngIf="toAdmin" class="item">
            <button class="btn thm-success btn-sm" (click)="openListInquiryModal()">
              <fa-icon [icon]="faQuestion"></fa-icon> Inquiries <div *ngIf="AllInquiries.length > 0" class="num">{{AllInquiries.length}}</div>
            </button>
        </div>
    </div>
</section>


<section class="body-section">

    <div class="body-wrapper">
        
        <div *ngIf="pageProgress !== 100" class="progress-wrap">
            <circle-progress [percent]="pageProgress" ></circle-progress>
        </div>
            
        <div class="no-faqs" *ngIf="pageProgress === 100 && contentNumber === 0">
            <h4>{{contentMsg}}</h4>
        </div>
        <div class="faq-main" *ngFor="let item of FormatedFAQs" [hidden]="item.faqs.length === 0">
            <h4 class="category">{{item.name}}</h4>

            <div class="faq-item" *ngFor="let faq of item.faqs">
                <h6 class="question">{{faq.question}}</h6> 
                <div class="answer"  [innerHtml]="faq.answer | sanitizeHtml3"></div>
                <div hidden class="action">
                    <div class="wrap">
                        <span class="edit" (click)="editFAQ(faq)"><fa-icon [icon]="faPen"></fa-icon></span>
                        <span class="delete" (click)="deleteFAQ(faq._id)"><fa-icon [icon]="faTrash"></fa-icon></span>
                    </div>
                </div>
    
            </div>
         

        </div>
    </div>

</section>



</section>































<div bsModal #addCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addCategoryModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Add Question Categories</h4>
            <button type="button" class="btn close" (click)="addCategoryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <input type="text" name="categoryInput" [(ngModel)]="categoryInput" placeholder="Type here ...">
        </div>
        <div class="modal-footer">
            <button [disabled]="categoryInput === ''"  type="button" class="btn" (click)="addNewCategory()">Add</button>
        </div>
        </div>
    </div>
</div>


<div bsModal #listCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog listCategoryModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">List of Question Categories</h4>
            <button type="button" class="btn close" (click)="listCategoryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <div class="item" *ngFor="let item of AllCategories">
                <h4>{{item.name}}</h4>
                <span class="edit" (click)="openEditCategoryModal(item)"> <fa-icon [icon]="faPen"></fa-icon> </span>
                <span class="delete" (click)="deleteCategory(item)"> <fa-icon [icon]="faTrash"></fa-icon> </span>
            </div>
            <div class="item" *ngIf="AllCategories.length === 0">
                <h4>No Category</h4>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn" (click)="openAddCategoryModal()">Add New Category</button>
        </div>
        </div>
    </div>
</div>

<div bsModal #editCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog editCategoryModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Edit Question Category</h4>
            <button type="button" class="btn close" (click)="editCategoryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="categoryOnEdit" >
            <input type="text" name="categoryOnEdit" [(ngModel)]="categoryOnEdit.name" placeholder="Type here ...">
        </div>
        <div class="modal-footer">
            <button *ngIf="categoryOnEdit" [disabled]="categoryOnEdit.name === ''"  type="button" class="btn" (click)="submitEditCategory()">Add</button>
        </div>
        </div>
    </div>
</div>






<div bsModal  #addFaqModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addFaqModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Add FAQ</h4>
            <button type="button" class="btn close" (click)="addFaqModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <form *ngIf="faqForm">
                <div class="form-group">
                    <label for="">Question Catrgory</label>
                    <select name="categoryId" [(ngModel)]="faqForm.categoryId">
                        <option value="" selected hidden disabled>---</option>
                        <option *ngFor="let item of AllCategories" [value]="item._id">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Question</label>
                    <input type="text" name="question" [(ngModel)]="faqForm.question">
                </div>
                <div class="form-group">
                    <label for="">Position</label>
                    <input type="number" name="position" [(ngModel)]="faqForm.position">
                </div>
                <div class="form-group">
                    <label for="">Answer</label>
                    <angular-editor name="answer" [(ngModel)]="faqForm.answer" [config]="editorConfig"></angular-editor>
                </div>
            </form>
            
        </div>
        <div class="modal-footer" *ngIf="faqForm">
            <button [disabled]="faqForm.categoryId === '' || faqForm.question === '' || faqForm.answer === ''" 
            type="button" class="btn btn-confirm" (click)="addNewFaq()">Add</button>
        </div>
        </div>
    </div>
</div>


<div bsModal  #editFaqModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog editFaqModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Edit FAQ</h4>
            <button type="button" class="btn close" (click)="editFaqModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <form *ngIf="faqOnEdit">
                <div class="form-group">
                    <label for="">Question Catrgory</label>
                    <select name="categoryId" [(ngModel)]="faqOnEdit.categoryId">
                        <option value="" selected hidden disabled>---</option>
                        <option *ngFor="let item of AllCategories" [value]="item._id">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Question</label>
                    <input type="text" name="question" [(ngModel)]="faqOnEdit.question">
                </div>
                <div class="form-group">
                    <label for="">Position</label>
                    <input type="number" name="position" [(ngModel)]="faqOnEdit.position">
                </div>
                <div class="form-group">
                    <label for="">Answer</label>
                    <angular-editor name="answer" [(ngModel)]="faqOnEdit.answer" [config]="editorConfig"></angular-editor>
                </div>
            </form>
            
        </div>
        <div class="modal-footer" *ngIf="faqOnEdit">
            <button [disabled]="faqOnEdit.categoryId === '' || faqOnEdit.question === '' || faqOnEdit.answer === ''" 
            type="button" class="btn btn-confirm" (click)="saveFaqOnEdit()">Save</button>
        </div>
        </div>
    </div>
</div>













<div bsModal  #addInquiryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addInquiryModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">  </h4>
            <button type="button" class="btn close" (click)="addInquiryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <h4>Send an inquiry and we will respond as soon as possible.</h4>
            <textarea name="question" [(ngModel)]="inquiryForm.question"></textarea>
            
        </div>
        <div class="modal-footer">
            <button [disabled]="industryInput === ''"  type="button" class="btn btn-confirm" (click)="addNewInquiry()">Submit</button>
        </div>
        </div>
    </div>
</div>




<div bsModal  #listInquiryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog listInquiryModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title"> INQUIRIES </h4>
            <button type="button" class="btn close" (click)="listInquiryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <div class="no-inq" *ngIf="AllInquiries.length === 0">
                <h4>No Pending Inquiry</h4>
            </div>
            <div class="inq-item" *ngFor="let item of AllInquiries">
                <pre class="question">{{item.question}}</pre>
                <div class="action">
                    <div class="mark-as-answered" (click)="markInquiryAsAnswered(item)">Mark as answered</div>
                </div>
                <div class="info-wrap">
                    <h4 class="inquirer">_by: <span>{{item.inquirer}}</span> </h4>
                    <h4 class="date">_On: <span>{{item.createdAt | date}}</span> </h4>
                </div>
            </div>
            
        </div>
        </div>
    </div>
</div>


