@import "src/styles.sass"

.header
    width: 100%
    padding: 0 1em
    background-color: transparent
.header .header-wrap
    width: 100%
    height: 100%
    padding: 1em
    display: flex
    background-color: white
    border: solid 1px grayColor(g200)
.header .header-wrap h4 
    margin: auto auto auto 0
    color: colorTheme(primaryTheme)
    font-size: 18px 
    font-weight: bold
    text-transform: uppercase
    text-shadow: 1px -1px 1px white
    -moz-text-shadow: 1px -1px 1px white
    -webkit-text-shadow: 1px -1px 1px white
.header .header-wrap .btn
    width: fit-content
    height: 3em
    color: vanillaTheme(titleTheme)
    margin: auto 0 auto auto
    border: none
    font-size: 12px
    font-family: Montserrat
    text-transform: capitalize
    text-align: left
    background-color: transparent
    box-shadow: 3px -3px 3px rgba(0, 0, 0, .1)
    -moz-box-shadow: 3px -3px 3px rgba(0, 0, 0, .1)
    -webkit-box-shadow: 3px -3px 3px rgba(0, 0, 0, .1)
    border-radius: 2px
    border-bottom: solid 2px colorTheme(secondaryTheme)
    @include desktop_md          
        display: none !important
    &:hover
        background-color: grayColor(g400)
    fa, fa-icon
        font-size: 12px
        margin: 0 2em 0 0
    &.thm-danger
        fa, fa-icon
            color: colorTheme(secondaryTheme)