<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<header class="header">
    <div class="header-wrap">
        <h4>FAQ</h4>
        <button class="btn thm-danger btn-sm" (click)="logOut()" >
            <fa-icon [icon]="faPowerOff"></fa-icon>Logout
        </button>
    </div>
</header>



