<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<section class="list-section" *ngIf="PlanOnEdit" >
    <div class="title d-flex">
        <span class="icon" (click)="back()"> <fa-icon [icon]="faArrowLeft"></fa-icon> </span>

        <span class="text">{{PlanOnEdit.name}}</span>
        <div class="switch ml-auto">
            <div [ngClass]="ActiveModel === 'view' ? 'switch-item active' : 'switch-item'" (click)="switchModel('view')">View</div>
            <div [ngClass]="ActiveModel === 'edit' ? 'switch-item active' : 'switch-item'" (click)="switchModel('edit')">Edit</div>
        </div>
    </div>

    <div class="model-edit" *ngIf="ActiveModel === 'edit'">

        <div class="model-threat">
            <h4 class="head">Threat</h4>

            <div class="list-item-wrap">
                <li class="item" *ngFor="let item of PlanOnEdit.plan" 
                [ngClass]="ActivePlanEdit._id === item._id ? 'item active' : 'item'"
                (click)="switchPlanThreat(item._id)">{{item.threat.threat}}</li>
            </div>
        </div>

        <div class="model-card">
            <div class="model-wrap" *ngIf="ActivePlanEdit">
                <div class="recom-wrap">
                    <h4>Recomendation</h4>
                    <p>{{ActivePlanEdit.threat.recom}}</p>
                 </div>
                <div class="top-wrap">
                    <div class="actionable">
                        <h4>Actionable</h4>
                        <input type="text" placeholder="Type here" [(ngModel)]="ActivePlanEdit.actionable">
                    </div>
                    <div class="level">
                        <h4>Level</h4>
                        <h5 [ngClass]="ActivePlanEdit.threat.level === 'High' ? 'high' : 'medium'" >{{ActivePlanEdit.threat.level}}</h5>
                    </div>
                </div>

                <div class="task-wrap">
                    <h4> <span class="text">Tasks</span> <span class="icon" (click)="openAddTaskModal()"> <fa-icon [icon]="faPlus"></fa-icon> </span> </h4>
                    <div class="task-title">
                        <h6>Task</h6>
                        <h6>Priority</h6>
                        <h6>Kpi</h6>
                        <h6>Recurring</h6>
                        <h6>Forecast</h6>
                        <h6>StartDate</h6>
                    </div>
                    <div class="task-item" *ngFor="let item of ActivePlanEdit.tasks; let x = index">
                        <h6>{{item.task}}</h6>
                        <h6>{{item.priority}}</h6>
                        <h6> <span *ngIf="item.kpi === null">---</span> <span *ngIf="item.kpi">{{item.kpi}}</span></h6>
                        <h6> <span *ngIf="!item.recurring">No</span> <span *ngIf="item.recurring">Yes</span></h6>
                        <h6>{{item.forecast}}</h6>
                        <h6 class="d-flex">{{item.startDate | date}}
                            <div class="delete ml-auto">
                                <fa-icon [icon]="faTrash" (click)="removeTask(x)"></fa-icon>
                            </div>
                        </h6>
                    </div>
                </div>

                <div class="btn-wrap d-flex">
                    <button class="btn btn-sm btn-success mx-auto" (click)="saveThePlan()">Save Plan</button>
                </div>

            </div>

        </div>


    </div>




    <div class="model-view" *ngIf="ActiveModel === 'view'">

        <div class="model-view-body">


        <ul class="nav nav-tabs d-flex" id="myTab" role="tablist" >
            <li class="nav-item">
                <a class="nav-link active" id="plans-tab" data-toggle="tab" href="#plans" role="tab" aria-controls="plans"  aria-selected="false" >Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pending-plans-tab" data-toggle="tab" href="#pending-plans" role="tab" aria-controls="pending-plans" aria-selected="true" >Pending Approval</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" id="actual-tab" data-toggle="tab" href="#actual" role="tab" aria-controls="actual"  aria-selected="false" >Actual</a>
            </li>
    
    
        </ul>
        
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="plans" role="tabpanel"aria-labelledby="course-tab">
                <div class="body-wrap">
                    <div class="title">
                        <div class="actionable">Business Operations</div>
                        <div>Task</div>
                        <div>KPI</div>
                        <div>Forecast</div>
                    </div>

                    <div class="item-wrap" *ngFor="let item of PlanOnEdit.plan" [hidden]="item.tasks.length === 0">
                        <div class="actionable">
                            {{item.actionable}}
                        </div>
                        <div class="task-wrap">
                            <div class="task-item" *ngFor="let task of item.tasks">
                                <div>{{task.task}}</div>
                                <div><span *ngIf="task.kpi === null">---</span> <span *ngIf="task.kpi">{{task.kpi}}</span></div>
                                <div>{{task.forecast}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade " id="pending-plans" role="tabpanel"aria-labelledby="pending-plans-tab" >
                <div class="body-wrap">
                    <div class="title">
                        <div class="actionable">Business Operations</div>
                        <div>Task</div>
                        <div>KPI</div>
                        <div>Forecast</div>
                    </div>

                    <div class="item-wrap" *ngFor="let item of PlanOnEdit.plan" [hidden]="item.tasks.length === 0">
                        <div class="actionable">
                            {{item.actionable}}
                        </div>
                        <div class="task-wrap">
                            <div class="task-item" *ngFor="let task of item.tasks" [hidden]="task.approval">
                                <div>{{task.task}}</div>
                                <div><span *ngIf="task.kpi === null">---</span> <span *ngIf="task.kpi">{{task.kpi}}</span></div>
                                <div>{{task.forecast}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    
            <div class="tab-pane fade" id="actual" role="tabpanel"aria-labelledby="actual-tab">
                <div class="body-wrap">
                    <div class="title">
                        <div class="actionable">Business Operations</div>
                        <div>Task</div>
                        <div>KPI</div>
                        <div>Forecast</div>
                    </div>

                    <div class="item-wrap" *ngFor="let item of PlanOnEdit.plan" [hidden]="item.tasks.length === 0">
                        <div class="actionable">
                            {{item.actionable}}
                        </div>
                        <div class="task-wrap">
                            <div class="task-item" *ngFor="let task of item.tasks" [hidden]="task.approval">
                                <div>{{task.task}}</div>
                                <div><span *ngIf="task.kpi === null">---</span> <span *ngIf="task.kpi">{{task.kpi}}</span></div>
                                <div>{{task.forecast}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
      </div><!-- tab-content -->
        

    </div>
    </div>




    <div class="model-task-form" *ngIf="ActiveModel === 'taskForm'">
        <div class="action d-flex">
            <span (click)="closeTaskForm()">
                <fa-icon [icon]="faTimes"></fa-icon>
            </span>
    
            <h4>Add Task</h4>
        </div>
    
        <form>
            <div class="modal-body" >
                <form class="form">
                    <div class="form-group">
                        <label> Task</label>
                        <input type="text" name="task" [(ngModel)]="task.task">
                    </div>
                    <div class="priority-wrap w-100">
                        <label>Priority</label>
                        <div class="wrap">
                            <div class="input-wrap">
                                <label> Low</label>
                                <input type="radio" name="priority" value="low" [(ngModel)]="task.priority">
                            </div>
                            <div class="input-wrap">
                                <label> Medium</label>
                                <input type="radio" name="priority" value="medium" [(ngModel)]="task.priority">
                            </div>
                            <div class="input-wrap">
                                <label> High</label>
                                <input type="radio" name="priority" value="high" [(ngModel)]="task.priority">
                            </div>
                        </div>
                    </div>
                    <div class="kpi-calendar-wrap w-100">
                        <div class="wrap">
                            <div class="input-wrap">
                                <label> KPI</label>
                                <input type="radio" name="kpiCalendar" value="kpi" [(ngModel)]="kpiCalendar">
                            </div>
                            <div class="input-wrap">
                                <label> Calendar</label>
                                <input type="radio" name="kpiCalendar" value="calendar" [(ngModel)]="kpiCalendar">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="kpiCalendar === 'kpi'">
                        <label> KPI input</label>
                        <input type="number" name="kpi" [(ngModel)]="task.kpi">
                    </div>
                    <div class="form-group">
                        <label> Recurring Task ?</label>
                        <div class="custom-control custom-switch ml-auto">
                            <input type="checkbox" name="recurring" [(ngModel)]="task.recurring" (change)="checkRecurring()"  class="custom-control-input" id="customSwitch1">
                            <label *ngIf="task.recurring" class="custom-control-label yes" for="customSwitch1">Yes</label>
                            <label *ngIf="!task.recurring" class="custom-control-label no" for="customSwitch1">No</label>
                        </div>
                    </div>
                  
    
                    <div class="form-group-recurring" *ngIf="!task.recurring">
                        <label> Period</label>
                        <div class="wrap">
                            <div class="input-wrap">
                                <label> Weekly </label>
                                <input type="radio" name="period" value="weekly" [(ngModel)]="task.period">
                            </div>
                            <div class="input-wrap">
                                <label> Monthly</label>
                                <input type="radio" name="period" value="monthly" [(ngModel)]="task.period">
                            </div>
                            <div class="input-wrap">
                                <label> Quarterly</label>
                                <input type="radio" name="period" value="quarterly" [(ngModel)]="task.period">
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group-recurring" *ngIf="task.recurring">
                        <label> Period</label>
                        <div class="wrap">
                            <div class="input-wrap">
                                <label> Monthly</label>
                                <input type="radio" name="period" value="monthly" [(ngModel)]="task.period">
                            </div>
                        </div>
                    </div>

                    <div class="weekly-targets" *ngIf="task.recurring">
                        <label> Weekly Target</label>
                        <div class="wrap">
                            <div class="input-wrap weekly-wrap">
                                <label>Week 1</label>
                                <input type="number" name="week1" [(ngModel)]="task.recurringWeekTarget.week1"> 
                            </div>
                            <div class="input-wrap weekly-wrap">
                                <label>Week 2</label>
                                <input type="number" name="week2" [(ngModel)]="task.recurringWeekTarget.week2">
                            </div>
                            <div class="input-wrap weekly-wrap">
                                <label>Week 2</label>
                                <input type="number" name="week3" [(ngModel)]="task.recurringWeekTarget.week3">
                            </div>
                            <div class="input-wrap weekly-wrap">
                                <label>Week 4</label>
                                <input type="number" name="week4" [(ngModel)]="task.recurringWeekTarget.week4">
                            </div>
                        </div>
                    </div>

                    <div class="date-wrap">
                        <label> Date</label>
                        <div class="wrap">
                            <div class="input-wrap" >
                                <label>Start Date</label>
                                <input id="startDate" #startDate #dp="bsDatepicker" (change)="calculateEndDate()"
                                    bsDatepicker [bsConfig]="{containerClass:'theme-orange'}"
                                    name="startDate" [(ngModel)]="task.startDate">
                            </div>

                            <div class="end-date">
                                <h4>Jun 12 2020</h4>
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label> Require Approval ?</label>
                        <div class="custom-control custom-switch ml-auto">
                            <input type="checkbox" name="approval" [(ngModel)]="task.approval" class="custom-control-input" id="approve">
                            <label *ngIf="task.approval" class="custom-control-label yes" for="approve">Yes</label>
                            <label *ngIf="!task.approval" class="custom-control-label no" for="approve">No</label>
                        </div>
                    </div>

                    <div class="reporting-users">
                        <label> Reporting Users</label>
                        <div class="wrap">
                            <div class="input-wrap" *ngFor="let user of CompanyUsers">
                                <label>{{user.email}}</label>
                                <input type="radio"
                                name="reportingUser" [(ngModel)]="task.reportingUser" name="response" value="{{user.email}}">
                            </div>
                        </div>
                    </div>

                    <div class="btn-wrap d-flex w-100">
                        <button class="btn btn-sm btn-success mx-auto" (click)="addTask()">Add Task</button>
                    </div>
                </form>
               
            </div>
        </form>
    
    </div>



</section>





