<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<section class="list-section" *ngIf="PlanOnEdit" >
    <div class="title d-flex">
        <span class="icon" (click)="back()"> <fa-icon [icon]="faArrowLeft"></fa-icon> </span>

        <span class="text">{{PlanOnEdit.name}}</span>
        <div class="switch ml-auto">
            <div [ngClass]="ActiveModel === 'view' ? 'switch-item active' : 'switch-item'" (click)="switchModel('view')">View</div>
            <div [ngClass]="ActiveModel === 'edit' ? 'switch-item active' : 'switch-item'" (click)="switchModel('edit')">Edit</div>
        </div>
    </div>

    <div class="model-edit" *ngIf="ActiveModel === 'edit' && ActivePlanEdit">

        <div class="model-threat">
            <h4 class="head">Threat</h4>

            <div class="list-item-wrap">
                <li class="item" *ngFor="let item of PlanOnEdit.plan; let i = index" 
                [ngClass]="ActivePlanEdit._id === item._id ? 'item active d-flex' : 'item d-flex'"
                (click)="switchPlanThreat(item._id)"> 
                <!-- <div class="mr-2"> {{i+1}}.</div>  -->
                <div>{{item.threat.threat}}</div></li>
            </div>
            <div class="btn-wrap w-100 mt-2 d-flex">
                <button class="btn btn-sm btn-outline-danger mx-auto" (click)="deletePlan()">Delete Plan</button>
            </div>
        </div>

        <div class="model-card">
            <div class="model-wrap" >
                <div class="recom-wrap">
                    <h4>Recomendation</h4>
                    <p>{{ActivePlanEdit.threat.recom}}</p>
                 </div>
                <div class="top-wrap">
                    <div class="level">
                        <h4>Level</h4>
                        <h5 *ngIf="ActivePlanEdit.threat.level === 'High'" class="high" >{{ActivePlanEdit.threat.level}}</h5>
                        <h5 *ngIf="ActivePlanEdit.threat.level === 'Medium'" class="medium" >{{ActivePlanEdit.threat.level}}</h5>
                        <h5 *ngIf="ActivePlanEdit.threat.level === 'Low'" class="low">{{ActivePlanEdit.threat.level}}</h5>
                    </div>
                </div>

                <div class="task-wrap">
                    <div class="heading d-flex">
                         <h4 class="text mr-auto">Plan</h4> 
                         
                         <div class="action-wrap ml-auto">
                            <div class="existing" (click)="existingPlanModal.show()">Add Existing Plan</div>
                            <div class="new" (click)="openAddTaskModal()">Add New Plan</div>
                         </div>
                         
                    </div>
                    <div class="task-title">
                        <h6>Activity</h6>
                        <h6>Kpi</h6>     
                        <h6>Frequency</h6>
                        <h6>Recurring</h6>  
                        <h6>End Date</h6>
                        <h6>Description</h6>
                        <h6>Documents</h6>
                        <div class="delete"> <fa-icon [icon]="faTrash"></fa-icon></div>
                    </div>
                    <div class="task-item" *ngFor="let item of ActivePlanEdit.tasksArray; let x = index">
                        <h6>{{item.activityName}}</h6>     
                        <h6> <span *ngIf="item.kpi === null">---</span> <span *ngIf="item.kpi">{{item.kpi}} <span style="text-transform: capitalize;">{{item.kpiUnit}}</span> </span></h6>
                        <h6>{{item.frequency}}</h6>
                        <h6> <span *ngIf="!item.recurring">No</span> <span *ngIf="item.recurring">Yes</span></h6>                
                        <h6 class="d-flex">{{item.endDate | date}}</h6>
                        <h6> <span [ngClass]="item.description.body === '' ? 'icon empty' : 'icon desc'" (click)="openPlanDescriptionModal(item)"><fa-icon class=""  [icon]="faCommentAlt"></fa-icon> </span> </h6>
                        <h6> <span [ngClass]="item.documents.length === 0 ? 'icon empty' : 'icon doc'"  (click)="openPlanDocsModal(item)"><fa-icon class="" [icon]="faFileAlt"></fa-icon> </span> </h6>
                        <div class="delete">
                            <fa-icon [icon]="faTrash" (click)="removeTask(item._id)"></fa-icon>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>




    <div class="model-view" *ngIf="ActiveModel === 'view'">

        <div class="model-view-body">


        <ul class="nav nav-tabs d-flex" id="myTab" role="tablist" >
            <li class="nav-item" >
                <a class="nav-link active" id="plans-tab" data-toggle="tab" href="#plans" role="tab" aria-controls="plans"  aria-selected="false" >Plan</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" id="pending-plans-tab" data-toggle="tab" href="#pending-plans" role="tab" aria-controls="pending-plans" aria-selected="true" >Pending Approval</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" id="actual-tab" data-toggle="tab" href="#actual" role="tab" aria-controls="actual"  aria-selected="false" >Actual</a>
            </li>
    
    
        </ul>
        
        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="plans" role="tabpanel"aria-labelledby="course-tab">
                <div class="body-wrap">
                    <div class="title">
                        <div class="heading">Business Operations</div>
                        <div>Activity</div>
                        <div>KPI</div>    
                        <div>Description</div>
                        <div>Documents</div>  
                    </div>

                    <div class="item-wrap" *ngFor="let item of PlanOnEdit.plan" [hidden]="item.tasks.length > 0 ? false : true">
                        <div class="heading">
                            {{item.threat.threat}}
                        </div>
                        <div class="task-wrap">
                            <div class="task-item" *ngFor="let task of item.tasksArray">
                                <div>{{task.activityName}}</div>
                                <div><span *ngIf="task.kpi === null">---</span> <span *ngIf="task.kpi">{{task.kpi}} <span style="text-transform: capitalize;">{{task.kpiUnit}}</span></span></div>
                                <div> <span [ngClass]="task.description.body === '' ? 'icon empty' : 'icon desc'" (click)="openViewPlanDescriptionModal(task)"><fa-icon class=""  [icon]="faCommentAlt"></fa-icon> </span> </div>
                                <div> <span [ngClass]="task.documents.length === 0 ? 'icon empty' : 'icon doc'" (click)="openPlanDocsModal(task)"><fa-icon class="" [icon]="faFileAlt"></fa-icon> </span> </div>        
                            </div>
                            
                        </div>
             
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade " id="pending-plans" role="tabpanel"aria-labelledby="pending-plans-tab" >
                <div class="body-wrap">
                    <div class="title">
                        <div class="heading">Business Operations</div>
                        <div>Activity</div>
                        <div>KPI</div>
                        <div>Approve</div>
                        <div>Description</div>
                        <div>Documents</div>  
                   
                    </div>

                    <div class="item-wrap" *ngFor="let item of PlanOnEdit.plan" [hidden]="item.tasks.length > 0 ? false : true">
                        <div class="heading">
                            {{item.threat.threat}}
                        </div>
                        <div class="task-wrap">
                            <div class="task-item" *ngFor="let task of item.tasksArray" [hidden]="task.approval && !task.reportApproved && task.reportStatus > 0 ? false : true">
                                <div>{{task.activityName}}</div>
                                <div><span *ngIf="task.kpi === null">---</span> <span *ngIf="task.kpi">{{task.kpi}} <span style="text-transform: capitalize;">{{task.kpiUnit}}</span></span></div>
                                <div> <button class="btn btn-sm btn-success" (click)="approveTaskPlan(task)" style="font-size: 12px;">Approve</button> </div>
                                <div> <span [ngClass]="task.description.body === '' ? 'icon empty' : 'icon desc'" (click)="openViewPlanDescriptionModal(task)"><fa-icon class=""  [icon]="faCommentAlt"></fa-icon> </span> </div>
                                <div> <span [ngClass]="task.documents.length === 0 ? 'icon empty' : 'icon doc'" (click)="openPlanDocsModal(task)"><fa-icon class="" [icon]="faFileAlt"></fa-icon> </span> </div>    
                          
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    
            <div class="tab-pane fade" id="actual" role="tabpanel"aria-labelledby="actual-tab">
                <div class="body-wrap">
                    <div class="title">
                        <div class="heading">Business Operations</div>
                        <div>Activity</div>
                        <div>KPI</div>
                        <div>Description</div>
                        <div>Documents</div>  
                        <div>Report</div>
                    </div>

                    <div class="item-wrap" *ngFor="let item of PlanOnEdit.plan" [hidden]="item.tasks.length > 0 ? false : true">
                        <div class="heading">
                            {{item.threat.threat}}
                        </div>
                        <div class="task-wrap">
                            <div class="task-item" *ngFor="let task of item.tasksArray" [hidden]="(task.approval && task.reportApproved) || (!task.approval && task.reportStatus > 0) ? false : true">
                                <div>{{task.activityName}}</div>
                                <div><span *ngIf="task.kpi === null">---</span> <span *ngIf="task.kpi">{{task.kpi}} <span style="text-transform: capitalize;">{{task.kpiUnit}}</span></span></div>
                               
                                <div> <span [ngClass]="task.description.body === '' ? 'icon empty' : 'icon desc'" (click)="openViewPlanDescriptionModal(task)"><fa-icon class=""  [icon]="faCommentAlt"></fa-icon> </span> </div>
                                <div> <span [ngClass]="task.documents.length === 0 ? 'icon empty' : 'icon doc'" (click)="openPlanDocsModal(task)"><fa-icon class="" [icon]="faFileAlt"></fa-icon> </span> </div>  
                                <div>
                                    <span *ngIf="!task.kpi && task.reportStatus">Done</span>
                                    <span *ngIf="!task.kpi && !task.reportStatus">Not Done</span>
                                    <span *ngIf="task.kpi">{{task.reportStatus}} <span style="text-transform: capitalize;">{{task.kpiUnit}}</span></span>
                                 
                                 </div> 
                            </div>
                        </div>

                    </div>
                </div>
            </div>
      </div><!-- tab-content -->
        

    </div>
    </div>




    <div class="model-task-form" *ngIf="ActiveModel === 'taskForm'">
        <div class="action d-flex">
            <span (click)="closeTaskForm()">
                <fa-icon [icon]="faTimes"></fa-icon>
            </span>
    
            <h4>Add Plan</h4>
        </div>
    
        <form>
            <div class="modal-body" >
                <form class="form">
                    <div class="form-group">
                        <label> Activity <span class="add-new" (click)="addActivityPlanModal.show()"> Add New Activity</span> </label>
                        <select name="activityId" [(ngModel)]="task.activityId">
                            <option value="" selected hidden disabled>--Select Activity</option>
                            <option *ngFor="let act of ActivityPlan" [value]="act._id">{{act.activityPlan}}</option>
                        </select>
                    </div>
                    <div class="priority-wrap w-100">
                        <label>Priority</label>
                        <div class="wrap">
                            <div class="input-wrap">
                                <label> Low</label>
                                <input type="radio" name="priority" value="low" [(ngModel)]="task.priority">
                            </div>
                            <div class="input-wrap">
                                <label> Medium</label>
                                <input type="radio" name="priority" value="medium" [(ngModel)]="task.priority">
                            </div>
                            <div class="input-wrap">
                                <label> High</label>
                                <input type="radio" name="priority" value="high" [(ngModel)]="task.priority">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="kpi-calendar-wrap w-100">
                        <div class="wrap">
                            <div class="input-wrap">
                                <label> Value</label>
                                <input type="radio" name="kpiCalendar" value="kpi" [(ngModel)]="kpiCalendar">
                            </div>
                            <div  class="input-wrap">
                                <label> Calendar</label>
                                <input type="radio" name="kpiCalendar" value="calendar" [(ngModel)]="kpiCalendar">
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group" *ngIf="kpiCalendar === 'kpi'">
                        <label> KPI input</label>
                        <input type="number" name="kpi" [(ngModel)]="task.kpi" (keyup)="getWeekelyTargets()">
                    </div>
                    <div class="form-group" *ngIf="kpiCalendar === 'kpi'">
                        <label> Metric / Unit</label>
                        <input type="text" name="kpiUnit" [(ngModel)]="task.kpiUnit" >
                    </div>

                    <div class="sale w-100 d-flex" *ngIf="SalesCategories[0]">
                        <div class="add-new" (click)="addNewOppModal.show()">Add a client to CRM</div>
                    </div>

                    <div class="form-group">
                        <label> Recurring Plan ?</label>
                        <div class="custom-control custom-switch ml-auto">
                            <input type="checkbox" name="recurring" [(ngModel)]="task.recurring" (change)="checkRecurring()"  class="custom-control-input" id="customSwitch1">
                            <label *ngIf="task.recurring" class="custom-control-label yes" for="customSwitch1">Yes</label>
                            <label *ngIf="!task.recurring" class="custom-control-label no" for="customSwitch1">No</label>
                        </div>
                    </div>
                  
    
                    <div class="form-group-recurring" *ngIf="task.recurring || kpiCalendar === 'calendar'">
                        <label>Frequency</label>
                        <div class="wrap">
                            <div class="input-wrap">
                                <label> Weekly </label>
                                <input type="radio" name="frequency" value="weekly" [(ngModel)]="task.frequency">
                            </div>
                            <div class="input-wrap">
                                <label> Monthly</label>
                                <input type="radio" name="frequency" value="monthly" [(ngModel)]="task.frequency">
                            </div>
                            <div class="input-wrap">
                                <label> Quarterly</label>
                                <input type="radio" name="frequency" value="quarterly" [(ngModel)]="task.frequency">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <input id="endDate" #endDate #dp="bsDatepicker" 
                            bsDatepicker [bsConfig]="{containerClass:'theme-orange'}"
                            name="endDate" [(ngModel)]="task.endDate">
                    </div>
                    <!-- <div class="form-group-recurring" *ngIf="!task.recurring && kpiCalendar === 'kpi'">
                        <label>Frequency</label>
                        <div class="wrap">
                            <div class="input-wrap">
                                <label> Monthly</label>
                                <input type="radio" name="frequency" value="monthly" [(ngModel)]="task.frequency">
                            </div>
                        </div>
                    </div> -->

                    <!-- <div hidden class="weekly-targets" *ngIf="!task.recurring && kpiCalendar === 'kpi'">
                        <label> Weekly Target</label>
                        <div class="wrap">
                            <div class="input-wrap weekly-wrap">
                                <label>Week 1</label>
                                <input type="number" name="week1" [(ngModel)]="task.recurringWeekTarget.week1"> 
                            </div>
                            <div class="input-wrap weekly-wrap">
                                <label>Week 2</label>
                                <input type="number" name="week2" [(ngModel)]="task.recurringWeekTarget.week2">
                            </div>
                            <div class="input-wrap weekly-wrap">
                                <label>Week 2</label>
                                <input type="number" name="week3" [(ngModel)]="task.recurringWeekTarget.week3">
                            </div>
                            <div class="input-wrap weekly-wrap">
                                <label>Week 4</label>
                                <input type="number" name="week4" [(ngModel)]="task.recurringWeekTarget.week4">
                            </div>
                        </div>
                    </div> -->


    
                    <div class="form-group">
                        <label> Require Approval ?</label>
                        <div class="custom-control custom-switch ml-auto">
                            <input type="checkbox" name="approval" [(ngModel)]="task.approval" class="custom-control-input" id="approve">
                            <label *ngIf="task.approval" class="custom-control-label yes" for="approve">Yes</label>
                            <label *ngIf="!task.approval" class="custom-control-label no" for="approve">No</label>
                        </div>
                    </div>

                    <div class="reporting-users">
                        <label> Assign User </label>
                        <div class="wrap">
                            <div class="input-wrap" *ngFor="let user of CompanyUsers">
                                <label>{{user.email}}</label>
                                <input type="radio"
                                name="reportingUser" [(ngModel)]="task.reportingUser" name="response" value="{{user.email}}">
                            </div>
                        </div>
                    </div>

                    <div class="btn-wrap d-flex w-100">
                        <button class="btn btn-sm btn-success mx-auto" (click)="addTask()">Add Task</button>
                    </div>
                </form>
               
            </div>
        </form>
    
    </div>

</section>







<div bsModal #existingPlanModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog existingPlanModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Activity Plan</h4>
            <button type="button" class="btn close" (click)="existingPlanModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <div class="title">
                <h6>Activity</h6>
                <h6>Kpi</h6>     
                <h6>Frequency</h6>
                <h6>Recurring</h6>  
                <h6>End Date</h6>
            </div>
            <div class="list-wrap">
                <div *ngFor="let item of TaskPlan" [ngClass]="SelectedTaskId === item._id ? 'active list-item d-flex' : 'list-item d-flex'" (click)="selectTaskPlanFuction(item._id)">
                    <h6>{{item.activityName}}</h6>     
                    <h6> <span *ngIf="item.kpi === null">---</span> <span *ngIf="item.kpi">{{item.kpi}} <span style="text-transform: capitalize;">{{item.kpiUnit}}</span></span></h6>
                    <h6>{{item.frequency}}</h6>
                    <h6> <span *ngIf="!item.recurring">No</span> <span *ngIf="item.recurring">Yes</span></h6>                
                    <h6>{{item.endDate | date}}</h6>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="SelectedTaskId === ''"  type="button" class="btn btn-confirm" (click)="addExistingTaskPlan()">Add</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div bsModal #planDescriptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog planDescriptionModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Description</h4>
            <button type="button" class="btn close" (click)="planDescriptionModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <form>
                <div class="form-group">
                    <label >Title</label>
                    <input type="text" name="title" [(ngModel)]="descriptionInput.title" >
                </div>
                <div class="form-group">
                    <label >Body</label>
                    <angular-editor name="body" [(ngModel)]="descriptionInput.body" [config]="planDescriptionEditorConfig" required></angular-editor>
                </div>
            </form>
           
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-confirm" (click)="addDescription()">Add</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div bsModal #viewDescriptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog viewDescriptionModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Description</h4>
            <button type="button" class="btn close" (click)="viewDescriptionModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="TaskPlanOnView" >

            <div class="body-wrap" *ngIf="TaskPlanOnView.description.title !== ''">
                <h4>{{TaskPlanOnView.description.title}}</h4>
                <div class="body-content" [innerHTML]="TaskPlanOnView.description.body | sanitizeHtml"></div>
            </div>
            <h4 class="no-doc" *ngIf="TaskPlanOnView.description.title === ''">No Description</h4>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->









<div bsModal #planDocsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog planDocsModal modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Documents</h4>
            <button type="button" class="btn close" (click)="planDocsModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <div class="list-document" *ngIf="TaskPlanOnEdit">
                <div class="doc-item" *ngFor="let doc of TaskPlanOnEdit.documents">
                    <a [href]="doc.url" target="_blank" 
                    [ngClass]="[doc.docType === 'image' ? 'icon image' : '',
                    doc.docType === 'video' ? 'icon video' : '',
                    doc.docType === 'word' ? 'icon word' : '',
                    doc.docType === 'sheet' ? 'icon sheet' : '',
                    doc.docType === 'presentation' ? 'icon presentation' : '',
                    doc.docType === 'pdf' ? 'icon pdf' : '' ]">
                        <fa-icon *ngIf="doc.docType === 'image'" [icon]="faFileWord"></fa-icon>
                        <fa-icon *ngIf="doc.docType === 'video'" [icon]="faVideo"></fa-icon>
                        <fa-icon *ngIf="doc.docType === 'word'" [icon]="faFileWord"></fa-icon>
                        <fa-icon *ngIf="doc.docType === 'sheet'" [icon]="faFileExcel"></fa-icon>
                        <fa-icon *ngIf="doc.docType === 'presentation'" [icon]="faFilePowerpoint"></fa-icon>
                        <fa-icon *ngIf="doc.docType === 'pdf'" [icon]="faFilePdf"></fa-icon>
                    </a>
                    <div class="name">
                        <p>{{doc.docOriginalName}}</p>
                    </div>
                    <div class="action" *ngIf="ActiveModel === 'edit'">
                        <span (click)="removeTaskDoc(doc)">
                            <fa-icon [icon]="faTrash"></fa-icon>
                        </span>
                    </div>
                </div>

                <h4 class="no-doc" *ngIf="TaskPlanOnEdit.documents.length === 0">No Documents</h4>

            </div>
            
            <div class="upload-wrap" *ngIf="ActiveModel === 'edit'">
                <button class="btn btn-sm" (click)="docFileInput.click()">Upload Document</button>
                <input hidden readonly type="file" #docFileInput name="fileUploaded" (change)="uploadDoc($event)">
                   
            </div>
       
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<div bsModal  #addActivityPlanModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addActivityPlanModal modal-md" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title">Activity Plan</h4>
            <button type="button" class="btn close" (click)="addActivityPlanModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" >
            <div class="wrap d-flex" *ngFor="let item of ActivityPlan">
                <h4>{{item.activityPlan}}</h4>
                <!-- <fa-icon [icon]="faTrash" (click)="deleteActivityPlan(item._id)"></fa-icon> -->
            </div>

            <div class="input-wrap">
            <input type="text" name="activityPlan" [(ngModel)]="activityPlan" placeholder="Type here">
            <!-- <select name="activityPlanThreatId" [(ngModel)]="activityPlanThreatId" >
                <option value="" selected hidden disabled>--Associate Threat</option>
                <option *ngFor="let trt of AllThreats" [value]="trt._id">{{trt.name}}</option>
            </select> -->
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="activityPlan === ''"  type="button" class="btn btn-confirm" (click)="addActivityPlan()">Add</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->












<!-- Adding new client Form -->

<div bsModal #addNewOppModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog addNewOppModal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="SalesCategories[0]">New Opportunity To <span>{{SalesCategories[0].name}}</span></h4>
          <button type="button" class="btn close" (click)="addNewOppModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                      
                <form id="myNewOppForm" #myNewOppForm='ngForm' [formGroup]="newOppForm" class="form">
  
                  <!-- Client Name -->
                  <div class="form-group">
                      <div class="input-group input-group-sm mb-3">
  
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Client Name</span>
                          </div>
  
                          <input #clientInput type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                          formControlName="clientName" [class.is-invalid]="formNewOpp.clientName.invalid && formNewOpp.clientName.touched"
                           required>
  
                    </div>
  
                  </div>
  
                  <!-- Projects Type -->
                  <div class="form-group">
                      <div class="input-group input-group-sm mb-3">
  
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Project Type</span>
                          </div>
  
  
                          <input type="" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                          formControlName="projectName" class="form-control" [class.is-invalid]="formNewOpp.projectName.invalid && formNewOpp.projectName.touched" required>
                          <!-- <select type="" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                          formControlName="projectName" class="form-control" [class.is-invalid]="formNewOpp.projectName.invalid && formNewOpp.projectName.touched" required>
                              <option value="" disabled selected hidden >Choose Project</option>
                              <option *ngFor="let Project of Projects" value='{{Project.serviceName}}'>{{Project.serviceName}}</option>
                              
                          </select>  -->
  
                    </div>
                  </div>
  
                  <!-- Client Name -->
                  <div class="form-group">
                    <div class="input-group input-group-sm mb-3">
  
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Exp. Revenue</span>
                        </div>
  
                        <input type="number" min="1" class="form-control" 
                        formControlName="revenue" [class.is-invalid]="formNewOpp.revenue.invalid && formNewOpp.revenue.touched"
                        required>
  
                  </div>
  
                  </div>
  
                  <div class="form-group">
                    <div class="input-group input-group-sm mb-3">
  
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Priority</span>
                        </div>
                    
                    <div id="radio_wrap" >
                        <!-- <label>Low</label> -->
                        <fa name="star" style="cursor: pointer;"  [ngClass]="projPriority >= 1 ? 'text-primary' : 'text-secondary'" (click)="selectPriority(1)" ></fa> 
                    </div>
    
                    <div id="radio_wrap">
                        <!-- <label>Medium</label> -->
                        <fa name="star" style="cursor: pointer;" [ngClass]="projPriority >= 2 ? 'text-primary' : 'text-secondary'" (click)="selectPriority(2)" ></fa>
                    </div>
    
                    <div id="radio_wrap" >
                        <!-- <label>High</label> -->
                        <fa name="star" style="cursor: pointer;"  [ngClass]="projPriority >= 3 ? 'text-primary' : 'text-secondary'" (click)="selectPriority(3)" ></fa> 
                    </div>         
    
                  </div>
                </div>
  
  
              </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" (click)="addNewOppModal.hide()">Cancel</button>
          <button type="button" [disabled]="!newOppForm.valid"class="btn btn-confirm" (click)="submitNewOppForm(); addNewOppModal.hide()">Save</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  



















