@import 'src/styles.sass'


.page-header
    width: 100%
    padding: .5em 1em
    background-color: white
    display: flex
    align-items: stretch

    @include desktop_md
        display: flex
        flex-direction: column

    h4 
        font-size: 14px 
        font-weight: bold
        text-transform: uppercase
        text-shadow: 1px -1px 1px white
        -moz-text-shadow: 1px -1px 1px white
        -webkit-text-shadow: 1px -1px 1px white

    .btn-wrap
        display: flex
        align-items: stretch
        justify-content: center
        margin-left: 30%


        @include desktop_md
            margin: 0
            width: 100%
            text-align: center

        button
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            background-color: grayColor(g100)
            padding: .5em 1em
            font-size: 12px
            font-weight: 400
            margin: 0 1em
            outline: none !important
            border: none
            border-radius: 0px !important

            span 
                width: 100%
                text-align: center

            &.active
                border-bottom: solid 2px colorTheme(primaryTheme)
        



