<div class="page-header">

    <h4>Dashboard</h4>

    <div class="btn-wrap">
        <button [ngClass]="OperationDashboardStatus ? 'active' : ''" (click)="toOperationDashboard()">Operations <span>Analytics</span> </button>
        <button [ngClass]="MarketDashboardStatus ? 'active' : ''"  (click)="toMarketDashboard()">Market <span>Analytics</span> </button>
    </div>

</div>







<app-operational-dashboard *ngIf="OperationDashboardStatus"></app-operational-dashboard>

<app-market-dashboard *ngIf="MarketDashboardStatus"></app-market-dashboard>


<div class="page-footer">

    <h5>Survey System &copy; {{thisYear}} <span>Tactive</span></h5>

    <h6>Powered by <span>Imprint Africa</span></h6>

</div>