<main>


    <div class="reports">
        <div class="left-section">
            <h5>Sustain your business with a continuity plan!</h5>
            <p class="title">reports</p>
            <div class="rate-percentages">
                <div class="col-md-4">
                    <div class="card card-p">
                        <div class="percentage-card">
                            <p class="percentage-title">Growth rate</p>
                            <img src="../../../assets/images/diagram.png" alt="icon" class="rate-icon">
                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card card-p">
                        <div class="percentage-card">
                            <p class="percentage-title">Engagement</p>
                            <img src="../../../assets/images/network.png" alt="icon" class="rate-icon">
                        </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <div class="card card-p">
                        <div class="percentage-card">
                            <p class="percentage-title risk">Risk rate</p>
                            <img src="../../../assets/images/alert.png" alt="icon" class="rate-icon">
                        </div>

                    </div>

                </div>

            </div>
            <div class="rate-bars">
                <div class="col">
                    <div class="card-r">
                        <p class="ml-2 mt-2">Jan</p>
                        <p class="ml-2 mt-2">Feb</p>
                        <p class="ml-2 mt-2">March</p>
                        <p class="ml-2 mt-2">April</p>
                        <p class="ml-2 mt-2">May</p>
                    </div>
                </div>

                <div class="col">
                    <img src="../../../assets/images/consult.png" alt="icon" class="consult">
                </div>

            </div>
        </div>

        <div class="right-section">
            <div class="profile-section">

                <form class="ml-5">
                    <div class="input-group mb-4 border rounded-pill p-1 searchbar">
                        <div class="border-0">
                            <button type="button" class="btn btn-link ">
                                <fa-icon [icon]="faSearch"></fa-icon>
                            </button>
                        </div>
                        <input type="search" class="form-control  border-0 ">
                    </div>

                </form>

                <div class="text-center">
                    <img src="../../../assets/images/logo.jpeg" class="company-logo" alt="logo">
                    <p class="company-name">Company name</p>
                </div>

            </div>

            <div class="notifications-section">
                <div class="notification-titles" style="display: flex;">
                    <h6 class="notifications mt-2 ml-2" >Notifications</h6>
                    <small class="see-all">see all</small>

                </div>

            </div>
        </div>
    </div>


</main>