<div class="page-header">

    <h4>Dashboard</h4>

</div>


<section class="body-section">




<section id="top_cards_section" class="card-group">

    <div class="card first">
        <div class="card-title">
            <h4 >ssdkjsdk</h4>
            <fa-icon [icon]="faListAlt"></fa-icon>
        </div>
        <div class="card-info">
            <h4>ajksdjs</h4>
        </div>
        <div class="card-body">
            <canvas *ngIf="cardOneType" baseChart class="chart"
            [chartType]="cardOneType"
            [labels]="cardOneLabels"
            [datasets]="cardOneDatasets"
            [options]="topCardsChart"          
            ></canvas>
        </div>
    </div>
    
    <div class="card second">
        <div class="card-title">
            <h4 >ssdkjsdk</h4>
            <fa-icon [icon]="faListAlt"></fa-icon>
        </div>
        <div class="card-info">
            <h4>ajksdjs</h4>
        </div>
        <div class="card-body">
            <canvas *ngIf="cardTwoType" baseChart class="chart"
            [chartType]="cardTwoType"
            [labels]="cardTwoLabels"
            [datasets]="cardTwoDatasets"
            [options]="topCardsChart"          
            ></canvas>
        </div>
    </div>
    
    <div class="card third">
        <div class="card-title">
            <h4 >ssdkjsdk</h4>
            <fa-icon [icon]="faListAlt"></fa-icon>
        </div>
        <div class="card-info">
            <h4>ajksdjs</h4>
        </div>
        <div class="card-body">
            <canvas *ngIf="cardThreeType" baseChart class="chart"
            [chartType]="cardThreeType"
            [labels]="cardThreeLabels"
            [datasets]="cardThreeDatasets"
            [options]="topCardsChart"          
            ></canvas>
        </div>
    </div>
    
    <div class="card forth">
        <div class="card-title">
            <h4 >ssdkjsdk</h4>
            <fa-icon [icon]="faListAlt"></fa-icon>
        </div>
        <div class="card-info">
            <h4>ajksdjs</h4>
        </div>
        <div class="card-body">
            <canvas *ngIf="cardFourType" baseChart class="chart"
            [chartType]="cardFourType"
            [labels]="cardFourLabels"
            [datasets]="cardFourDatasets"
            [options]="topCardsChart"          
            ></canvas>
        </div>
    </div>
    
    
</section><!-- top_cards_section -->




<section id="second_cards_section" class="card-group">
    <div class="card">
        <div class="title">Customer Convertion Rate</div>
        <div class="body-wrapper">
        <div class="body-title" >
  
          <div  class="body-item d-flex">
            <div class="mx-auto ">Comapany Name</div>
            <div class="mx-auto ">Comapany Name</div>
            <div class="mx-auto ">Comapany name</div>
            <div class="rate">Comapany Name</div>
          </div>
  
        </div>
     
            <div class="body d-flex" *ngIf="AllCompanies.length === 0">
                <div class="spinner-div spinner-border mx-auto" role="status"></div>
              </div>
        
              <div class="body" *ngIf="AllCompanies.length !== 0">
        
                <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>
      
                <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>
                <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>
                <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>
                <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>
                <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>    <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>    <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>    <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>    <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>    <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>    <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>
        
              </div>
        </div>

    </div>
    
    <div class="card">
        <div class="title">Customer Convertion Rate</div>

        <div class="body-wrapper">
            <div class="body-title" >
  
                <div  class="body-item d-flex">
                  <div class="mx-auto ">Comapany Name</div>
                  <div class="mx-auto ">Comapany Name</div>
                  <div class="mx-auto ">Comapany name</div>
                  <div class="rate">Comapany Name</div>
                </div>
        
              </div>
        
              <div class="body d-flex" *ngIf="AllCompanies.length === 0">
                <div class="spinner-div spinner-border mx-auto" role="status"></div>
              </div>
        
              <div class="body" *ngIf="AllCompanies.length !== 0">
        
                <div *ngFor="let comp of AllCompanies" class="body-item d-flex">
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                  <div class="mx-auto">{{comp.companyName}}</div>
                </div>
        
              </div>
        </div>

    </div>
</section><!-- second_cards_section -->







<section id="graph_section" class="card-group">
    <div class="card">
        <div class="title">Customer Convertion Rate</div>
        <div class="body">
            <canvas *ngIf="graphType" baseChart class="chart"
            [chartType]="graphType"
            [labels]="graphLabels"
            [datasets]="graphDatasets"
            [options]="graphChart"          
            ></canvas>  
        </div>
 
    </div>
</section> <!-- graph_section -->


<section id="list_section_one" class="card-group">
    <div class="card">
shdjhsjhdshjdhjshjdhjkshjhjshd shdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshd
    </div>
</section> <!-- graph_section -->


<section id="list_section_two" class="card-group">
    <div class="card">
shdjhsjhdshjdhjshjdhjkshjhjshd shdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshdshdjhsjhdshjdhjshjdhjkshjhjshd
    </div>
</section>
















</section><!-- body-section -->








<div class="page-footer">

    <h5>Survey System &copy; {{thisYear}} <span>Tactive</span></h5>

    <h6>Powered by <span>Imprint Africa</span></h6>

</div>





















