<div class="page-wrap">
    <div class="tactive-pdf-action-wrap">
        <div class="wrap-title"> 
            <fa-icon [icon]="faFilePdf"></fa-icon>
            <h5>Tactive BPO Rate Card</h5>
         </div>
        <div class="wrap-btn">
            <a class="btn btn-sm btn-download btn-primary" href="/assets/docs/Tactive_BPO_Rate_Card.pdf" download>
                <fa-icon [icon]="faDownload"></fa-icon>
                Download
            </a>
            <a class="btn btn-sm btn-open btn-warning" href="/assets/docs/Tactive_BPO_Rate_Card.pdf" target="_blank" rel="noopener noreferrer">
                <fa-icon [icon]="faBookOpen"></fa-icon>
                View
            </a>
      
        </div>
        <div class="wrap-btn">
            <button class="btn btn-sm btn-back btn-outline-secondary" (click)="back()">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                Back to Survey
            </button>
        </div>
    </div>
</div>