<article *ngIf="ImprintLoader" class="imprint-loader home">
    <div class="imprint-loader-wrap">
        <div class="imprint-loader-main">
        <div class="imprint-loader-ball ball-one"></div>
        <div class="imprint-loader-ball ball-two"></div>
        <div class="imprint-loader-ball ball-three"></div>
        <div class="imprint-loader-ball ball-four"></div>
        </div>
    </div>
</article>



<main class="main-wrap">

    <section class="top-section">
        <div class="image-wrap">
            <img src="../../../assets/images/logo1.png" alt="logo" >
        </div>
    </section>
    
    <section class="body-section">
    
    <div class="info-section">
        <div class="info-wrap">
            <h4 class="head">Password Reset</h4>
            <h5 class="text">Create your new password</h5>
        </div>
    </div>
    
    
    <div class="form-section">
    
        <div class="form-wrap">
    
        <form class="form" *ngIf="token">
           
            <div class="top-wrap">
                <div class="top-title">
                    <h4>Password Reset</h4>
                    <h5>Create your new password</h5>
                </div>
                <div class="icon-wrap">
                    <fa-icon [icon]="faPen"></fa-icon>
                </div>
                
            </div>

            <div class="form-group">
                <div class="wrap d-flex"> 
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <input type="text"  name="email" readonly [(ngModel)]="passwordResetForm.email" placeholder="Email Address">
                </div>
            </div>
            
           
            <div class="form-group">
                <div class="wrap d-flex">
                <fa-icon [icon]="faKey"></fa-icon>
                <input type="password" name="password" [(ngModel)]="passwordResetForm.password" placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <div class="wrap d-flex">
                <fa-icon [icon]="faKey"></fa-icon>
                <input type="password" name="password2" [(ngModel)]="passwordResetForm.password2" (keyup)="passwordConformation()"  placeholder="Confirm Password">
                </div>

            </div>

            
            <div class="btn-wrap d-flex">
               
                <button class="btn btn-sm btn-submit ml-auto"  [disabled]="passwordResetForm.email === '' || !passwordMatch"
                 (click)="resetPassword()">Submit</button>
            </div>

        
        </form>

        <form class="form" *ngIf="!token">
            <div class="wrapper-two" >
                <p> You dont have the permission to access this page. Click on the link sent to your email if you requested a password reset, if not please contact info@tactive.consulting for support.</p>
                <P>Thank you!</P>
                <a routerLink="/landing_page">Click here to go back</a>
             </div>
        </form>




    </div>
    
    
    </div>
    
    
</section>
    
    
</main>
    
    
    
    



