@import 'src/styles.sass'


.list-section
    width: 100%
    background-color: transparent
    min-width: $desktop_md

.list-section .title
    width: 100%
    padding: .5em 1em
    display: flex
    align-items: stretch
    background-color: colorTheme(primaryTheme)

    .icon 
        margin: auto 0
        width: 2em
        height: 2em
        border-radius: 50%
        background-color: grayColor(g200)
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer

        fa-icon 
            color: grayColor(g900)
            font-size: 12px
        &:hover
            background-color: orange
            fa-icon 
                color: white

    .text
        margin: auto 1em
        font-size: 16px
        font-weight: bold
        color: white













.list-section .model-edit
    width: 100%
    display: flex 
    align-items: stretch

.list-section .model-edit .model-threat
    width: 16em
    padding: 1em
    background-color: white


    .head
        font-size: 14px
        padding: 1em
        font-weight: bold
        color: lighten(colorTheme(primaryTheme), 10)

    .list-item-wrap
        width: 100%
        height: 500px
        overflow-y: scroll
        border: solid 1px grayColor(g200)

        li 
            width: 100%
            min-height: 4em
            list-style: none 
            text-align: left
            padding: .5em
            font-size: 12px
            border-bottom: solid 1px grayColor(g100)
            cursor: pointer

            &:hover
                background-image: linear-gradient(to right, lighten( black, 70)  , lighten( black, 95) )
            &.active
                background-image: linear-gradient(to right, lighten( colorTheme(primaryTheme) , 10)  , lighten( colorTheme(primaryTheme), 50) )
    
.list-section .model-edit .model-card
    width: 100%
    padding: 1em
.list-section .model-edit .model-card .model-wrap
    width: 100%
    max-width: 900px
    padding: 1em 2em
    background-color: white
.list-section .model-edit .model-card .model-wrap .head-wrap
    width: 100%
    margin: 0 0 1em 0
    h4
      font-size: 14px
      font-weight: bold 
      color: grayColor(g800)

.list-section .model-edit .model-card .model-wrap .title-wrap
    width: 100%
    margin: 0 0 1em 0
    display: flex
    align-items: stretch
    background-color: grayColor(g200)
    padding: .5em 0
    h6
      padding: 0 .5em
      width: 100%
      font-size: 12px
      text-transform: uppercase
      font-weight: bold
      font-weight: bold
      color: lighten(colorTheme(primaryTheme), 10)
      margin: auto 0
      text-align: left
      
.list-section .model-edit .model-card .model-wrap .list-wrap
    width: 100%
    height: 500px
    overflow-y: scroll
.list-section .model-edit .model-card .model-wrap .list-item
    width: 100%
    margin: 0 0 .5em 0
    display: flex
    align-items: stretch
    border: solid 1px grayColor(g200)
    padding: .5em 0
    transition: .5s all
    &:hover
        box-shadow: 0 0 7px rgba(0, 0, 0, .3)

    li 
        display: flex
        align-items: stretch
        list-style: none
        padding: 0 .5em
        width: 100%
        font-size: 12px
        text-transform: capitalize
        font-weight: 500
        color: grayColor(g800)
        margin: auto 0
        text-align: left

        .pending
            font-weight: bold
            color: grayColor(g900)
        .done
            font-weight: bold
            color: colorTheme(success)
        .awaiting
            font-weight: bold
            color: grayColor(g900)
        .active
            font-weight: bold
            color: colorTheme(success)
        .due
            font-weight: bold
            color: grayColor(g700)
        .icon
            cursor: pointer
            background-color: transparent
            display: flex
            align-items: center
            justify-content: center
            padding: .2em .5em

            fa-icon 
                font-size: 14px
                cursor: pointer

            &.report
                fa-icon 
                    color: teal 
                &:hover
                    border: solid 1px teal  
                    
            &.desc 
                &.desc-empty
                    fa-icon 
                      color: grayColor(g300) 
                    &:hover
                      border: solid 1px grayColor(g300)    
                fa-icon 
                    color: orange  
                &:hover
                    border: solid 1px orange   
            &.doc 
                fa-icon 
                    color: colorTheme(success)      
                &:hover
                    border: solid 1px colorTheme(success)    







.reportModel
    width: 100%
    border: none
.reportModel .modal-content
    width: 100%
    border: none   
.reportModel .modal-content .modal-header 
    border: none
    width: 100%
    background-color: teal
    .modal-title
        font-size: 18px
        font-weight: bold 
        color: white
    .btn
        font-size: 18px
        color: white
.reportModel .modal-content .modal-body 
    border: none
    width: 100%
    .form 
        width: 100%
        .form-group
            width: 100%
            label
                font-size: 12px
                font-weight: bold
                &.yes 
                    color: themeColor(success)
                &.no
                    color: grayColor(g700)
            input, select 
                width: 100%
                border: none
                outline: none
                background-color: grayColor(g200)
                font-size: 14px
                color: black
                padding: .5em
                border-radius: 2px
                font-weight: 400
.reportModel .modal-content .modal-body .upload-wrap
  width: 100%
  display: flex
  align-items: stretch
  .btn 
    margin: auto
    background-color: colorTheme(warning) 
    color: white 
    font-size: 12px          
.reportModel .modal-content .modal-footer
    border: none
    width: 100% 
    .btn-cancel
        margin-right: auto !important
        font-size: 12px
        background-color: colorTheme(light)
        color: grayColor(g800)  
    .btn-confirm
        margin-left: auto !important
        font-size: 12px
        background-color: teal
        color: white











.planDescriptionModal
  border: none
.planDescriptionModal .modal-content
  width: 100%
  border: none
  height: fit-content
.planDescriptionModal .modal-content .modal-header
  width: 100%
  border: none
  background-color: colorTheme(warning)
  h4 
      font-size: 14px
      color: white
.planDescriptionModal .modal-content .modal-body
    width: 100%
    border: none
.planDescriptionModal .modal-content .modal-body form 
  width: 100%
.planDescriptionModal .modal-content .modal-body form .form-group 
  width: 100%
  display: flex 
  flex-direction: column
  label
      font-weight: bold
      color: grayColor(g700)
      font-size: 11px
  input 
    width: 100%
    max-width: 20em
    border: none
    outline: none
    background-color: grayColor(g100)
    color: grayColor(g800)
    font-size: 12px
    font-weight: 400
    padding: .5em
    border-radius: 2px

.planDescriptionModal .modal-content .modal-footer
  width: 100%
  button 
      font-size: 12px
      background-color: colorTheme(warning)
      color: white
    













.planDocsModal
  border: none
.planDocsModal .modal-content
  width: 100%
  border: none
  height: fit-content
  max-height: 600px
  min-height: 400px
  overflow-y: scroll
.planDocsModal .modal-content .modal-header
  width: 100%
  border: none
  background-color: colorTheme(success)
  h4 
      font-size: 14px
      color: white
.planDocsModal .modal-content .modal-body
    width: 100%
    border: none

.planDocsModal .modal-content .modal-body .list-document
  width: 100%
  padding: 1em 0
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 1em

  @include desktop_md
    grid-template-columns: repeat(3, 1fr)
  @include desktop_sm
    grid-template-columns: repeat(2, 1fr)
  @include desktop_xm
    grid-template-columns: repeat(1, 1fr)

  .no-doc
      font-weight: bold 
      color: grayColor(g800)
      font-size: 14px
      margin: 0 0 1em 0

  .doc-item
      width: 100%
      text-align: left

      .icon
          padding: .5em
          width: fit-content
          cursor: pointer
          fa-icon
            font-size: 42px
            margin: 0

          &.image
            background-color: white
            fa-icon
              color: grayColor(g700)
            &:hover
              border-bottom: solid 2px grayColor(g700) 
          &.video
            background-color: white
            fa-icon
              color: teal  
            &:hover
              border-bottom: solid 2px teal 
          &.word
            background-color: white
            fa-icon
              color: colorTheme(primary)
            &:hover
              border-bottom: solid 2px colorTheme(primary)    
          &.sheet
            background-color: white
            fa-icon
              color: colorTheme(success)
            &:hover
              border-bottom: solid 2px colorTheme(success)  
          &.presentation
            background-color: white
            fa-icon
              color: purple
            &:hover
              border-bottom: solid 2px purple
          &.pdf
            background-color: white
            fa-icon
              color: orange
            &:hover
              border-bottom: solid 2px orange    
      .name
          padding: .5em
          width: fit-content
          p
            font-size: 12px
            color: grayColor(g700)
            font-weight: bold
            margin: 0
      .action
          padding: .5em
          width: fit-content

          span
              width: 1.5em
              height: 1.5em
              border-radius: 50%
              background-color: grayColor(g100)
              display: flex
              align-items: stretch
              cursor: pointer

              fa-icon 
                  margin: auto
                  font-size: 10px
                  color: grayColor(g200)
              &:hover
                  fa-icon 
                      color: colorTheme(danger) 

.planDocsModal .modal-content .modal-body .upload-wrap
  width: 100%
  display: flex
  align-items: stretch

  .btn 
    margin: auto
    background-color: colorTheme(success) 
    color: white 
    font-size: 12px
.planDocsModal .modal-content .modal-footer
  width: 100%
  button 
      font-size: 12px
      background-color: colorTheme(success)
      color: white
  


